<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<body>

    <div class="general-subhead">
        <h1>OUR GALLERY</h1>
    </div>
    <!--./ Gereral Subhead End -->
    

    <section id="port-folio">
        <div class="container">
             <div class="row ">
                <div class="col-lg-12 col-md-12 col-sm-12"  >
                     
                     <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#video" role="tab" data-toggle="tab">VIDEOS</a></li>
                        <li><a href="#image" role="tab" data-toggle="tab">IMAGES</a></li>
                     </ul>

                <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane" id="image">
            
            <div class="row pad-row">

                <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <div class="invest-item"> 
                    <img src="/assets/academics/rv_img1_gold.jpg" class="img-responsive " alt="" />
                         <h5 >GOLD</h5>
                    <div class="overlay" >
                        <a class="preview btn btn-success" href="/assets/academics/rv_img1_gold.jpg" >VIEW DETAILS</a>
                        <p></p>
                        <a class="preview" href="/assets/academics/rv_img1_gold.jpg" >
                             <i class="fa fa-microphone fa-5x"></i>
                        </a>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <div class="invest-item"> 
                    <img src="/assets/academics/rv_img2_finance.jpg" class="img-responsive " alt="" />
                         <h5 >FINANCE</h5>
                    <div class="overlay" >
                        <a class="preview btn btn-success" href="/assets/academics/rv_img2_finance.jpg" >VIEW DETAILS</a>
                        <p></p>
                        <a class="preview" href="/assets/academics/rv_img2_finance.jpg" >
                             <i class="fa fa-microphone fa-5x"></i>
                        </a>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <div class="invest-item"> 
                    <img src="/assets/academics/rv_img3_life-goal.jpg" class="img-responsive " alt="" />
                         <h5 >LIFE GOAL</h5>
                    <div class="overlay" >
                        <a class="preview btn btn-success" href="/assets/academics/rv_img3_life-goal.jpg" >VIEW DETAILS</a>
                        <p></p>
                        <a class="preview" href="/assets/academics/rv_img3_life-goal.jpg" >
                             <i class="fa fa-microphone fa-5x"></i>
                        </a>
                    </div>
                    </div>
                </div>
            </div>

            <div class="row pad-row">

                <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <div class="invest-item"> 
                    <img src="/assets/academics/rv_img4_marriage.jpg" class="img-responsive " alt="" />
                         <h5 >MARRIAGE</h5>
                    <div class="overlay" >
                        <a class="preview btn btn-success" href="/assets/academics/rv_img4_marriage.jpg" >VIEW DETAILS</a>
                        <p></p>
                        <a class="preview" href="/assets/academics/rv_img4_marriage.jpg" >
                             <i class="fa fa-microphone fa-5x"></i>
                        </a>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <div class="invest-item"> 
                    <img src="/assets/academics/rv_img5_emergency-fund.jpg" class="img-responsive " alt="" />
                         <h5 >EMERGENCY FUND</h5>
                    <div class="overlay" >
                        <a class="preview btn btn-success" href="/assets/academics/rv_img5_emergency-fund.jpg" >VIEW DETAILS</a>
                        <p></p>
                        <a class="preview" href="/assets/academics/rv_img5_emergency-fund.jpg" >
                             <i class="fa fa-microphone fa-5x"></i>
                        </a>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <div class="invest-item"> 
                    <img src="/assets/academics/rv_img6_tax1.jpg" class="img-responsive " alt="" />
                         <h5 >TAX</h5>
                    <div class="overlay" >
                        <a class="preview btn btn-success" href="/assets/academics/rv_img6_tax1.jpg" >VIEW DETAILS</a>
                        <p></p>
                        <a class="preview" href="/assets/academics/rv_img6_tax1.jpg" >
                             <i class="fa fa-microphone fa-5x"></i>
                        </a>
                    </div>
                    </div>
                </div>
            </div>

            <div class="row pad-row">

                <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <div class="invest-item"> 
                    <img src="/assets/academics/rv_img7_yield1.jpg" class="img-responsive " alt="" />
                         <h5 >YIELD</h5>
                    <div class="overlay" >
                        <a class="preview btn btn-success" href="/assets/academics/rv_img7_yield1.jpg" >VIEW DETAILS</a>
                        <p></p>
                        <a class="preview" href="/assets/academics/rv_img7_yield1.jpg" >
                             <i class="fa fa-microphone fa-5x"></i>
                        </a>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <div class="invest-item"> 
                    <img src="/assets/academics/rv_img8_tax2.jpg" class="img-responsive " alt="" />
                         <h5 >TAX</h5>
                    <div class="overlay" >
                        <a class="preview btn btn-success" href="/assets/academics/rv_img8_tax2.jpg" >VIEW DETAILS</a>
                        <p></p>
                        <a class="preview" href="/assets/academics/rv_img8_tax2.jpg" >
                             <i class="fa fa-microphone fa-5x"></i>
                        </a>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <div class="invest-item"> 
                    <img src="/assets/academics/rv_img9_coin.jpg" class="img-responsive " alt="" />
                         <h5 >COIN</h5>
                    <div class="overlay" >
                        <a class="preview btn btn-success" href="/assets/academics/rv_img9_coin.jpg" >VIEW DETAILS</a>
                        <p></p>
                        <a class="preview" href="/assets/academics/rv_img9_coin.jpg" >
                             <i class="fa fa-microphone fa-5x"></i>
                        </a>
                    </div>
                    </div>
                </div>
            </div>

            <div class="row pad-row">

                <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <div class="invest-item"> 
                    <img src="/assets/academics/rv_img11_stock.jpg" class="img-responsive " alt="" />
                         <h5 >STOCK</h5>
                    <div class="overlay" >
                        <a class="preview btn btn-success" href="/assets/academics/rv_img11_stock.jpg" >VIEW DETAILS</a>
                        <p></p>
                        <a class="preview" href="/assets/academics/rv_img11_stock.jpg" >
                             <i class="fa fa-microphone fa-5x"></i>
                        </a>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <div class="invest-item"> 
                    <img src="/assets/academics/rv_img10_paper-work.jpg" class="img-responsive " alt="" />
                         <h5 >PAPER WORK</h5>
                    <div class="overlay" >
                        <a class="preview btn btn-success" href="/assets/academics/rv_img10_paper-work.jpg" >VIEW DETAILS</a>
                        <p></p>
                        <a class="preview" href="/assets/academics/rv_img10_paper-work.jpg" >
                             <i class="fa fa-microphone fa-5x"></i>
                        </a>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <div class="invest-item"> 
                    <img src="/assets/academics/rv_img12_tax3.jpg" class="img-responsive " alt="" />
                         <h5 >TAX</h5>
                    <div class="overlay" >
                        <a class="preview btn btn-success" href="/assets/academics/rv_img12_tax3.jpg" >VIEW DETAILS</a>
                        <p></p>
                        <a class="preview" href="/assets/academics/rv_img12_tax3.jpg" >
                             <i class="fa fa-microphone fa-5x"></i>
                        </a>
                    </div>
                    </div>
                </div>
            </div>

                </div>



                <div class="tab-pane active" id="video">
            <div class="row pad-row">

                <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <div class="invest-item"> 
                    <img src="/assets/academics/rv_vid1.png" class="img-responsive " alt="" />
                         <h5 >RUPEE VEST</h5>
                    <div class="overlay" >
                        <a class="preview btn btn-success " href="https://www.youtube.com/watch?v=DqrN2kWPzPo" >VIEW DETAILS</a>
                        <p></p>
                        <a class="preview" href="https://www.youtube.com/watch?v=DqrN2kWPzPo" >
                             <i class="fa fa-microphone fa-5x"></i>
                        </a>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <div class="invest-item">                   
                    <img src="/assets/academics/rv_vid2.png" class="img-responsive " alt="" />
                         <h5 >FINANCIAL LIFE</h5>
                    <div class="overlay" >
                        <a class="preview btn btn-success " href="https://www.youtube.com/watch?v=e3Se-2rGSww">VIEW DETAILS</a>
                        <p></p>
                        <a class="preview"  href="https://www.youtube.com/watch?v=e3Se-2rGSww" >
                             <i class="fa fa-microphone fa-5x"></i>
                        </a>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <div class="invest-item">                   
                    <img src="/assets/academics/rv_vid3.jpg" class="img-responsive " alt="" />
                         <h5 >ONE IDIOT</h5>
                    <div class="overlay" >
                        <a class="preview btn btn-success " href="https://www.youtube.com/watch?v=vU1l1TB7GzI">VIEW DETAILS</a>
                        <p></p>
                        <a class="preview" href="https://www.youtube.com/watch?v=vU1l1TB7GzI" >
                             <i class="fa fa-microphone fa-5x"></i>
                        </a>
                    </div>
                    </div>
                </div>
            </div>

            <div class="row pad-row">

                <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <div class="invest-item"> 
                    <img src="/assets/academics/rv_vid4.jpg" class="img-responsive " alt="" />
                         <h5 >WHAT IS A MUTUAL FUND?</h5>
                    <div class="overlay" >
                        <a class="preview btn btn-success " href="https://www.youtube.com/watch?v=XnteA4JQw5I" >VIEW DETAILS</a>
                        <p></p>
                        <a class="preview" href="https://www.youtube.com/watch?v=XnteA4JQw5I" >
                             <i class="fa fa-microphone fa-5x"></i>
                        </a>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <div class="invest-item">                   
                    <img src="/assets/academics/rv_vid5.jpg" class="img-responsive " alt="" />
                         <h5 >INFLATION</h5>
                    <div class="overlay" >
                        <a class="preview btn btn-success " href="https://www.youtube.com/watch?v=TClxOiIgNO4">VIEW DETAILS</a>
                        <p></p>
                        <a class="preview"  href="https://www.youtube.com/watch?v=TClxOiIgNO4" >
                             <i class="fa fa-microphone fa-5x"></i>
                        </a>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <div class="invest-item">                   
                    <img src="/assets/academics/rv_vid6.jpg" class="img-responsive " alt="" />
                         <h5 >EQUITY LINKED SAVINGS SCHEMES</h5>
                    <div class="overlay" >
                        <a class="preview btn btn-success " href="https://www.youtube.com/watch?v=ZybKUE4yW2Y">VIEW DETAILS</a>
                        <p></p>
                        <a class="preview" href="https://www.youtube.com/watch?v=ZybKUE4yW2Y" >
                             <i class="fa fa-microphone fa-5x"></i>
                        </a>
                    </div>
                    </div>
                </div>
            </div> 

             <div class="row pad-row">

                <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <div class="invest-item"> 
                    <img src="/assets/academics/rv_vid7.jpg" class="img-responsive " alt="" />
                         <h5 >MAKE YOUR MONEY WORK HARDER</h5>
                    <div class="overlay" >
                        <a class="preview btn btn-success " href="https://www.youtube.com/watch?v=Q391Tp0QdTE" >VIEW DETAILS</a>
                        <p></p>
                        <a class="preview" href="https://www.youtube.com/watch?v=Q391Tp0QdTE" >
                             <i class="fa fa-microphone fa-5x"></i>
                        </a>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <div class="invest-item">                   
                    <img src="/assets/academics/rv_vid8.jpg" class="img-responsive " alt="" />
                         <h5 >DIFFERENCE BETWEEN SAVING AND INVESTING</h5>
                    <div class="overlay" >
                        <a class="preview btn btn-success " href="https://www.youtube.com/watch?v=H1qLtMf5LJo">VIEW DETAILS</a>
                        <p></p>
                        <a class="preview"  href="https://www.youtube.com/watch?v=H1qLtMf5LJo" >
                             <i class="fa fa-microphone fa-5x"></i>
                        </a>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <div class="invest-item">                   
                    <img src="/assets/academics/rv_vid9.jpg" class="img-responsive " alt="" />
                         <h5 >THE CONSEQUENCE OF DELAY IN INVESTING</h5>
                    <div class="overlay" >
                        <a class="preview btn btn-success " href="https://www.youtube.com/watch?v=O3n_7C8CTPw">VIEW DETAILS</a>
                        <p></p>
                        <a class="preview" href="https://www.youtube.com/watch?v=O3n_7C8CTPw" >
                             <i class="fa fa-microphone fa-5x"></i>
                        </a>
                    </div>
                    </div>
                </div>
            </div> 

            <div class="row pad-row">

                <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <div class="invest-item"> 
                    <img src="/assets/academics/rv_vid10.jpg" class="img-responsive " alt="" />
                         <h5 >WHAT IS A MUTUAL FUND?</h5>
                    <div class="overlay" >
                        <a class="preview btn btn-success " href="https://www.youtube.com/watch?v=E8CkCgJnqes" >VIEW DETAILS</a>
                        <p></p>
                        <a class="preview" href="https://www.youtube.com/watch?v=E8CkCgJnqes" >
                             <i class="fa fa-microphone fa-5x"></i>
                        </a>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <div class="invest-item">                   
                    <img src="/assets/academics/rv_vid11.jpg" class="img-responsive " alt="" />
                         <h5 >WHY SHOULD WE INVEST IN MUTUAL FUNDS?</h5>
                    <div class="overlay" >
                        <a class="preview btn btn-success " href="https://www.youtube.com/watch?v=3RU4y1JFzEI">VIEW DETAILS</a>
                        <p></p>
                        <a class="preview"  href="https://www.youtube.com/watch?v=3RU4y1JFzEI" >
                             <i class="fa fa-microphone fa-5x"></i>
                        </a>
                    </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 ">
                    <div class="invest-item">                   
                    <img src="/assets/academics/rv_vid12.jpg" class="img-responsive " alt="" />
                         <h5 >DIFFERENT TYPES OF MUTUAL FUNDS</h5>
                    <div class="overlay" >
                        <a class="preview btn btn-success " href="https://www.youtube.com/watch?v=hjPBaU1qBqA">VIEW DETAILS</a>
                        <p></p>
                        <a class="preview" href="https://www.youtube.com/watch?v=hjPBaU1qBqA" >
                             <i class="fa fa-microphone fa-5x"></i>
                        </a>
                    </div>
                    </div>
                </div>
            </div>          

                </div>


            </div>
                </div>  
            </div>
                          
         
        </div>
    </section>
      <!-- invest End-->
    

    <!--  Jquery Core Script -->
    <script src="/assets/jquery-1.10.2.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="/assets/bootstrap.js"></script>
    <!--  PrettyPhoto Script -->
    <script src="/assets/jquery.prettyPhoto.js"></script>
    <!--  Custom Scripts -->
    <script src="/assets/custom.js"></script>

</body>
</html>
