<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<body>

    <div class="general-subhead">
        <h1>CONTACT US</h1>
    </div>
    <!--./ Gereral Subhead End -->
    <section>
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6  col-sm-12">
                    <h3>Reach Us Here</h3>
                    <hr />
                    <p>
                        Room No:81, 5th Floor, 
                            <br />
                        Stephen House, BBD Bag,
                            <br />
                        Kolkata-700001, India.
                            <br />
                        Call: +91 987 469 1177 ; +91-740-699-8067
                            <br />
                    </p>
                    <h3>Social Presence</h3>
                    <a href="https://www.facebook.com/rupeevest" target="_blank"><i class="fa fa-facebook-square fa-3x color-facebook"></i></a>
                    <a href="https://www.twitter.com/RupeeVest" target="_blank"><i class="fa fa-twitter-square fa-3x color-twitter"></i></a>
                    <a href="https://plus.google.com/+Rupeevestdotcom" target="_blank"><i class="fa fa-google-plus-square fa-3x color-google-plus"></i></a>
                    <a href="https://www.linkedin.com/company/rupeevest/" target="_blank"><i class="fa fa-linkedin-square fa-3x color-linkedin"></i></a>
                    <a href=" https://www.pinterest.com/rupeevest/" target="_blank"><i class="fa fa-pinterest-square fa-3x color-pinterest"></i></a>
                </div>
                <div class="col-lg-6 col-md-6  col-sm-12">
                    <h3>Need Help ? Write Us. </h3>
                    <hr />
                    <form>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" required="required" tabindex="1" placeholder="Name" pattern="[a-zA-Z. ]{1,50}" />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input type="tel" class="form-control" required="required" tabindex="2" placeholder="Mobile" pattern="[0-9]{10}" maxlength="10" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <input type="email" class="form-control" required="required" tabindex="3" placeholder="Email address" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group">
                                    <textarea name="message" required="required" tabindex="4" class="form-control" rows="4" placeholder="Message"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Submit Request</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </section>
    <!--./ Main Contact end -->
    <div>
        <iframe class="cnt" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7368.406790008554!2d88.3510929!3d22.57149489999997!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0277bb17877ce5%3A0xfcb414d28124af57!2sRupeeVest+-+India&#39;s+first+self-help+online+investment+platform!5e0!3m2!1sen!2sin!4v1409057209819"></iframe>
    </div>
    <!--./ Map end -->
    
     
    <!--  Jquery Core Script -->
    <script src="/assets/jquery-1.10.2.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="/assets/bootstrap.js"></script>
    <!--  Custom Scripts -->
    <script src="/assets/custom.js"></script>

</body>
</html>
