<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<body>

   <div class="general-subhead">
       <h1>ERROR 404</h1>
   </div>
     <!--./ Gereral Subhead End -->
    
    <section >
        <div class="container">
            <div class="row ">
                <div class="col-lg-12 col-md-12"  >
                     <h2><strong>The Page You Are Looking Is Not Here</strong> </h2>
                    <h3>Please Read Information Below</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </p>
                    
                </div>
              
              

            </div>
         

           </div> 
        </section>
     <!--./Error Text End -->
    <div id="just-middle-row" class="clr-blue-bk">
        <div class="container">
                <div class="row pad-top-botm">
                <div class="col-lg-12 col-md-12">
                    <h1>  CHECKOUT OUR OTHER RESOURCES  </h1>
                    </div>
                </div>
            </div>
        </div>
     <!--./Middle Row End -->
    <section>
        <div class="container">
          <div class="row pad-top-botm">
                <div class="col-lg-4 col-md-4">
                    <div class="media">
                        <div class="pull-left">
                             <a href="our-services.html">
                            <i class=" fa fa-send-o fa-4x rotate-icon clr-main "></i>
                                 </a>

                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Move To Services</h3>
                            <p>
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc. 
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="media">
                        <div class="pull-left">
                            <a href="/static_pages/invest">
                            <i class="fa fa-send-o fa-4x rotate-icon clr-main"></i>
                                </a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Move To Invest</h3>
                            <p>
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc. 
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="media">
                        <div class="pull-left">
                            <a href="contact.html">
                            <i class="fa fa-send-o fa-4x rotate-icon clr-main"></i>
                                </a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Move To Contact</h3>
                            <p>
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc. 
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                            </p>
                           
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
     <!--./Error Mover End -->
       
    
    <!--  Jquery Core Script -->
    <script src="/assets/jquery-1.10.2.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="/assets/bootstrap.js"></script>
        <!--  Custom Scripts -->
    <script src="/assets/custom.js"></script>
   
</body>
</html>
