<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<body style="margin-top: 225px">

   <div class="general-subhead fixed_top">
       <h1>WHAT WE OFFER</h1>
   </div>
     <!-- Gereral Subhead End -->
    
    <section>
<div class="container">
            <div class="row clearfix">
              <div class="col-md-4 column">
                <div class="list-group">
                    <a href="#l1" class="list-group-item list-group-item-success">List1</a>
                    <a href="#l2" class="list-group-item list-group-item-info">List2</a>
                    <a href="#l3" class="list-group-item list-group-item-warning">List3</a>                    
                </div>
              </div>

              <div id="scrollableDiv" class="col-md-8 column">
                <div class="panel panel-default" id="l1">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      List 1 title
                    </h3>
                  </div>
                  <div class="panel-body">
                    list1 content
                  </div>
                  <div class="panel-footer">
                    list1 footer
                  </div>
                </div>

                <div class="panel panel-default" id="l2">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      List 2
                    </h3>
                  </div>
                  <div class="panel-body">
                    List 2 content
                  </div>
                  <div class="panel-footer">
                    List 2 footer
                  </div>
                </div>

                <div class="panel panel-default" id="l3">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      list3 title
                    </h3>
                  </div>
                  <div class="panel-body">
                    list3 content
                  </div>
                  <div class="panel-footer">
                    list3 footer
                  </div>
                </div>

              </div>
            </div>
          </div>     
    </section>

<!--  Jquery Core Script -->
    <script src="/assets/jquery-1.10.2.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="/assets/bootstrap.js"></script>
        <!--  Custom Scripts -->
    <script src="/assets/custom.js"></script>
  </body>
</html>
