<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawChart);

function drawChart() {
var columnChartProps = {
    fontName: 'HelveticaNeueBC',
    legend: {position: 'none'},
    titleTextStyle: {fontSize: 18},
    hAxis:  {color: '#121b2d'},
    vAxis: {
        gridlines: {color: '#666666'}
    },
    width: 400,
    height: 300,
    backgroundColor: '#CBCBCB',
    chartArea:{top:80, width:"80%"}
}
// VENCIMIENTOS:
var vencData = google.visualization.arrayToDataTable([
    ['equis', 'Vencimientos'],
    ['ENE', 7],
    ['FEB', 10],
    ['MAR', 5],
    ['ABR', 6],
    ['MAY', 10],
    ['JUN', 15]
]);

var vencOptions = {
    colors:['#24375e','#2c4370','#324a7c','#38538a','#3e5b96','#4363a3'],
    title: 'Vencimientos prox. 6 meses',
    hAxis: {title: 'Meses'}
};

var vencimientos = new google.visualization.ColumnChart(document.getElementById('vencimientos'));
vencimientos.draw(vencData, jQuery.extend({},vencOptions,columnChartProps));
$("text:contains(" + vencOptions.title + ")").attr({'x':'65', 'y':'20'})
}
  </script>

  <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
function drawChart() {
  var dataTable = new google.visualization.DataTable();
  dataTable.addColumn('string', 'Funds');
  dataTable.addColumn('number', 'Percentage');
  dataTable.addColumn({type: 'string', role: 'annotation'});
  dataTable.addColumn({type: 'string', role: 'style'});
  dataTable.addColumn({type: 'string', role: 'tooltip', 'p': {'html': true}});

  dataTable.addRows([
    ['L&T Equity Fund', 50.6, '50.6%','#FF8B00',
    '<div class="tooltip_chart"><b>Launch:</b><span> May-2005</span><br><b>Corpus(Rs.Cr.):</b><span>2255.83</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 6.10%</span><br>1 Year:<span class="pull-right"> 50.60%</span><br>3 Years:<span class="pull-right"> 24.00%</span><br>5 Years:<span class="pull-right"> 15.00%</span><br>Since Launch:<span class="pull-right"> 20.43%</span></div>'
    ],

    ['UTI Equity Fund', 49.1,'49.1%', '#FF2D00',
    '<div class="tooltip_chart"><b>Launch:</b><span> May-1992</span><br><b>Corpus(Rs.Cr.):</b><span>3275.59</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 5.70%</span><br>1 Year:<span class="pull-right"> 49.10%</span><br>3 Years:<span class="pull-right"> 26.60%</span><br>5 Years:<span class="pull-right"> 15.60%</span><br>Since Launch:<span class="pull-right"> 13.02%</span></div>'
    ],

    ['HDFC Top 200 Fund', 48.7,'48.7%','#0C8E86', 
    '<div class="tooltip_chart"><b>Launch:</b><span> Sep-1996</span><br><b>Corpus(Rs.Cr.):</b><span>12276.81</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 3.40%</span><br>1 Year:<span class="pull-right"> 48.70%</span><br>3 Years:<span class="pull-right"> 24.90%</span><br>5 Years:<span class="pull-right"> 14.20%</span><br>Since Launch:<span class="pull-right"> 22.77%</span></div>'
    ],

    ['Birla Sun Life Top 100 Fund ', 50.9,'50.9%','#0779CF',
    '<div class="tooltip_chart"><b>Launch:</b><span> Sep-2005</span><br><b>Corpus(Rs.Cr.):</b><span>691.15</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 7.30%</span><br>1 Year:<span class="pull-right"> 50.90%</span><br>3 Years:<span class="pull-right"> 29.00%</span><br>5 Years:<span class="pull-right"> 16.00%</span><br>Since Launch:<span class="pull-right"> 17.07%</span></div>'
    ],
    ['BNP Paribas Equity Fund', 47.3,'47.3%','#27486B',
     '<div class="tooltip_chart"><b>Launch:</b><span> Sep-2004</span><br><b>Corpus(Rs.Cr.):</b><span>372.22</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 4.60%</span><br>1 Year:<span class="pull-right"> 47.30%</span><br>3 Years:<span class="pull-right"> 26.60%</span><br>5 Years:<span class="pull-right"> 15.30%</span><br>Since Launch:<span class="pull-right"> 19.72%</span></div>'
     ]
  ]);

var view = new google.visualization.DataView(dataTable);
    view.setColumns([0, 1, 3, 4, {
        type: 'number',        
        calc: function (dt, row) {
            return 0;
        }
    },2]);

  var options = {
    title: '1 Year Return', titleTextStyle: {color: '#000', fontName: 'Finger Paint'},
    hAxis: {title: 'Past performances are not indicative of future returns ', titleTextStyle: {color: '#3366CC', fontName: 'Finger Paint'},
            textStyle: {
                    fontName: 'Finger Paint',
                     fontSize: 10,
                    // bold: true,
                    // italic: true,
                      color: '#fff',     // The color of the text.
                    //opacity: 0.8          // The transparency of the text.
                    }
              },

    vAxis: {gridlines: {color: 'transparent', count: 0}, minValue: 0},
    tooltip: {isHtml: true},
    legend: 'none',
    backgroundColor: { fill:'transparent' },
    isStacked: true,
    annotations: {
          textStyle: {
        fontName: 'Lucida Fax',
         fontSize: 16,
         bold: true,
        // italic: true,
          color: '#fff',     // The color of the text.
          auraColor: 'transparent', // The color of the text outline.
        //opacity: 0.8          // The transparency of the text.
        }
      }
  };
  var chart = new google.visualization.ColumnChart(document.getElementById('e_lcf'));
  chart.draw(view, options);
  $("text:contains(" + options.title + ")").attr({'x':'65', 'y':'20'})
}





    </script>

  </head>

<body>  
  <div class="col-sm-6" id='vencimientos'></div>
  <div id='e_lcf'></div>
    <div class="well well-lg">
            <ul id="myTab" class="nav nav-pills">                
                <li class="active"><a href="#A" data-toggle="tab">AAA</a></li>
                <li><a href="#B" data-toggle="tab">BBB</a></li>
                <li><a href="#C" data-toggle="tab">CCC</a></li>
            </ul>
            </div>

            <div id="myTabContent" class="tab-content">      
              <div class="tab-pane fade in active" id="A">
                  <div class="col-sm-12">
                    AAAAAAAAAA
                  </div>
              </div>

              <div class="tab-pane fade" id="B">
                  <div class="col-sm-12">
                    BBBBBBBBBBB
                  </div>
              </div>

              <div class="tab-pane fade" id="C">
                  <div class="col-sm-12">
                    CCCCCCCCCCC
                  </div>
              </div>

            </div>

  </body>
</html>
 
  

    

<!--  Jquery Core Script -->
    <script src="/assets/jquery-1.10.2.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="/assets/bootstrap.js"></script>
        <!--  Custom Scripts -->
    <script src="/assets/custom.js"></script>
  </body>
</html>
