
<!-- 
Blue   colors: ['#003397','#005CB9', '#409BF8','#8BC5FD', '#ADD6FE'  ],
Green  colors: ['#035D0F', '#50891F', '#74B505','#96D366','#BCE578'],
 -->
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <link href="/assets/style.css" rel="stylesheet" />
    <!--  Jquery Core Script -->
    <script src="/assets/jquery-1.10.2.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="/assets/bootstrap.js"></script>
        <!--  Custom Scripts -->
    <script src="/assets/custom.js"></script>

   
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Work',     11],
          ['Eat',      2],
          ['Commute',  2],
          ['Watch TV', 2],
          ['Sleep',    7]
        ]);

        var options = {
          title: 'My Daily Activities',
          is3D: true,
        };

        var container = document.getElementById('highchart_cons18');
container.style.display = 'block';
var chart = new google.visualization.PieChart(container);
google.visualization.events.addListener(chart, 'ready', function () {
    container.style.display = 'hidden';
});
chart.draw(data, options);
      }
    </script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Work',     11],
          ['Eat',      2],
          ['Commute',  2],
          ['Watch TV', 2],
          ['Sleep',    7]
        ]);

        var options = {
          title: 'My Daily Activities',
          is3D: true,
          width: 500,
          height: 300
        };

        var container = document.getElementById('highchart_cons31');
container.style.display = 'block';
var chart = new google.visualization.PieChart(container);
google.visualization.events.addListener(chart, 'ready', function () {
    container.style.display = 'hidden';
});
chart.draw(data, options);
      }
    </script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Work',     11],
          ['Eat',      2],
          ['Commute',  2],
          ['Watch TV', 2],
          ['Sleep',    7]
        ]);

        var options = {
          title: 'My Daily Activities',
          is3D: true
        };

        var chart = new google.visualization.PieChart(document.getElementById('highchart_cons51'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Work',     11],
          ['Eat',      2],
          ['Commute',  2],
          ['Watch TV', 2],
          ['Sleep',    7]
        ]);

        var options = {
          title: 'My Daily Activities',
          is3D: true
        };

        var chart = new google.visualization.PieChart(document.getElementById('highchart_cons65'));
        chart.draw(data, options);
      }
    </script>


 
       



</head>
<body>

   <div class="general-subhead">
       <h1>RISK PROFILING</h1>
   </div>
     <!--./ Gereral Subhead End -->
    
    <section>
    <div class="container">
      <div class="row">
          <div class="col-md-3">
            <div class="well well-lg">
            <ul id="myTab" class="nav nav-pills nav-stacked">
                <li class="active"><a href="#panel_conservative" data-toggle="tab">Conservative</a></li>
                <li><a href="#panel_mconservative" data-toggle="tab">Moderately Conservative</a></li>
                <li><a href="#panel_maggressive" data-toggle="tab">Moderately Aggressive</a></li>
                <li><a href="#panel_aggressive" data-toggle="tab">Aggressive</a></li>
                <li><a href="#panel_vaggressive" data-toggle="tab">Very Aggressive</a></li>   
            </ul>
            </div>
          </div>


          <div class="col-md-9" >

          <div id="myTabContent" class="tab-content">         <!-- full tab content -->

<!-- ##### Conservative ##### -->
              <div class="tab-pane fade in active" id="panel_conservative">
                  <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Your primary investment goal is capital protection. You require stable growth and/or a high level of income, and access to your investment within 3 years.</div>                      

                      <ul id="myTab1" class="nav nav-pills nav-justified">
                          <li class="active"><a href="#cons18" data-toggle="tab">18-30 Age</a></li>
                          <li><a href="#cons31" data-toggle="tab">31-50 Age</a></li>
                          <li><a href="#cons51" data-toggle="tab">51-65 Age</a></li>
                          <li><a href="#cons65" data-toggle="tab">65+ Age (Assume Retired)</a></li>
   
                      </ul>

                        <div class="panel-heading">
                            <div id="myTabContent1" class="tab-content">

                                <div class="tab-pane fade in active" id="cons18">
                                    <div class="row">
                                      <div class="col-sm-4">                
                                          <div class="well well-lg" align="center">
                                            <div class="back_effect">                   
                                                <h2>50%</h2><h5>Equity</h5>
                                            </div>
                                            <div class="back_effect1">
                                                <h2>50%</h2><h5>Debt</h5>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                        <div class="row pad_right">
                  <div id="highchart_cons18" style="width: 500px;height: 300px; display:hidden;"></div>
                                        </div>
                                      </div>
                                    </div>
                                </div>


                                <div class="tab-pane fade" id="cons31">
                                    <div class="row">
                                      <div class="col-sm-4">                                        
                                          <div class="well well-lg" align="center" >
                                            <div class="back_effect">                                            
                                                <h2>40%</h2><h5>Equity</h5>
                                            </div>
                                            <div class="back_effect1">
                                                <h2>60%</h2><h5>Debt</h5>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                        <div class="row pad_right">               
                  <div id="highchart_cons31" style="display:hidden; width: 500px;height: 300px;"></div>
                                        </div>
                                      </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="cons51">
                                   <div class="row">
                                      <div class="col-sm-4">                                        
                                          <div class="well well-lg" align="center" >
                                            <div class="back_effect">                                            
                                                <h2>30%</h2><h5>Equity</h5>
                                            </div>
                                            <div class="back_effect1">
                                                <h2>70%</h2><h5>Debt</h5>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                        <div class="row pad_right">
                        <span id="highchart_cons51" style="display:hidden; width: 500px;height: 300px;"></span>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="cons65">
                                    <div class="row">
                                      <div class="col-sm-4">                                       
                                          <div class="well well-lg" align="center" >
                                            <div class="back_effect">                                            
                                                <h2>15%</h2><h5>Equity</h5>
                                            </div>
                                            <div class="back_effect1">
                                                <h2>85%</h2><h5>Debt</h5>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                        <div class="row pad_right">
                        <span id="highchart_cons65" style="display:hidden; width: 500px;height: 300px;"></span>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                
                            </div>

                            <div class="well well-sm">

                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <li class="list-group-item list-group-item-success">
                            <h5>Large Cap</h5>
                          </li>
                                          </div>
                                          <div class="col-sm-7">
                          <li>UTI Opportunities Fund</li>
                          <li>ICICI Prudential Focused Bluechip Equity Fund - Regular Plan</li>
                          <li>Quantum Long Term Equity Fund</li>
                                          </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <li class="list-group-item list-group-item-success">
                            <h5>Mid And Small Cap</h5>
                          </li>
                                          </div>
                                          <div class="col-sm-7">
                          <li>ICICI Prudential Value Discovery Fund - Regular Plan</li>
                          <li>Franklin India Smaller Companies Fund</li>
                                          </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <li class="list-group-item list-group-item-success">
                            <h5>Liquid Ultra Short Term</h5>
                          </li>
                                          </div>
                                          <div class="col-sm-7">
                          <li>Reliance Liquid Fund - Treasury Plan - Institutional Plan</li>
                          <li>SBI Magnum InstaCash Fund</li>
                                          </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <li class="list-group-item list-group-item-success">
                            <h5>Debt - FD / Bonds</h5>
                          </li>
                                          </div>
                                          <div class="col-sm-7">
                          <li>DHFL , M&M, HDFC Ltd</li>
                          <li>Rest on availability</li>
                                          </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <li class="list-group-item list-group-item-success">
                            <h5>MF - Debt</h5>
                          </li>
                                          </div>
                                          <div class="col-sm-7">
                          <li>Franklin India Corporate Bond Opportunities Fund</li>
                          <li>Birla Sun Life Monthly Income Plan II - Wealth 25 Plan</li>
                          <li>UTI CRTS 81 Fund</li>
                          <li>HDFC Multiple Yield Fund - Plan 2005</li>
                                          </div>
                                      </div>
                                  </div>
                              </div>



                            </div>


                        </div>
                    </div>
                  </div>

              </div>



<!-- ##### Moderately Conservative ##### -->

              <div class="tab-pane fade" id="panel_mconservative">

                hiiiiii Moderately Conservative
                  
              </div>

<!-- ##### Moderately Aggressive ##### -->

              <div class="tab-pane fade" id="panel_maggressive">
                  
                hiiiiiiiiiiiiii   Moderately Aggr


              </div>

<!-- ##### Aggressive ##### --> 

              <div class="tab-pane fade" id="panel_aggressive">
                  
                  hii aggr


              </div>

<!-- ##### Very Aggressive ##### --> 

              <div class="tab-pane fade" id="panel_vaggressive">

                hi v aggr                 


              </div>

          </div>

          </div>
      </div>
    </div>       
    </section>
      

</body>
</html>


