<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<body>

   <div class="general-subhead">
       <h1>OBJECTIVE</h1>
   </div>
     <!--./ Gereral Subhead End -->
    
    <section >
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-6 column text-justify">
                    <p>
                        Our vision is to empower every Indian to plan and execute simple investment decisions for themselves. Now sit and the comfort of your homes, plan for you life's financial goals, save and invest for them online @RupeeVest and track your investments on the fly. Stop; Think; Start RupeeVesting!
                    </p>
                </div>
                <div class="col-md-6 column">
                    <img alt="vision" src="/assets/objective.jpg" class="img-thumbnail"  />
                </div>
            </div>
        </div> 
    </section>
        
       
    
    <!--  Jquery Core Script -->
    <script src="/assets/jquery-1.10.2.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="/assets/bootstrap.js"></script>
        <!--  Custom Scripts -->
    <script src="/assets/custom.js"></script>
   
</body>
</html>
