<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<body>

     <% if flash[:notice_invest] -%>
        <script type="text/javascript">    
          $(window).load(function(){
              $('#myModal_investor_message').modal('show');
          });
        </script>
    <% end -%>
    
    <section class="section-divider textdivider divider1" >        
        <div class="container">
            <div class="row clearfix">
                <div class="col-sm-12 column text-center">
                    <p>Our vision is to empower every Indian to plan and execute simple investment decisions for themselves. Now sit and the comfort of your homes, plan for you life's financial goals, save and invest for them online<br>@RupeeVest and track your investments on the fly.</p>
                    <h1> Stop Thinking, Start RupeeVesting! </h1>
                </div>
                
            </div>
        </div> 
    </section>
    <section>
        <div class="container">
            <div class="row clearfix">
                <div class="col-sm-8 column text-justify">
                    <h1>Asset allocation tailor-made for you</h1>
                        <p>When you invest money with RupeeVest, you invest in up to 12 different asset classes, to optimize your asset allocation.</p>
                        <p>Investment in Equities is progressively increased to enhance potential return with a slightly higher risk.  Lower risk portfolios comprise of more liquid investments which provide more consistent returns like liquid investments, short and long term debt.</p>
                        <p>We can provide tax efficient investment for investors in high tax brackets as well as for retirement accounts for additional optimization.</p>
                    <h1>How we picked our funds</h1>
                        <p>Each Mutual Fund has been selected to balance considerations of low cost and high liquidity as a means to access each asset class. When making the selection for each Fund, we considered the following: expense ratio, historical return and we emphasis on only the best, fund managers, liquidity, portfolio of assets and capital gains implication.</p>    
                </div> 
                <div class="col-sm-4 column text-center pad_top4">
                        <img src="/assets/obj_chart.png" class="image_responsive" alt="" />
                        <!-- Invest now button -->
                        <div class="col-sm-12 text-center pad_top2">
                            <div id="button_warning">
                                    <% if user_signed_in? %>            
                                  
                                <% if current_user.status == 1 %>
                                    <a data-toggle="modal" href="#myModal_investor"><button type="button"  class=" btn btn-warning"><span class="text">INVEST NOW!</span></button></a>
                                <% elsif current_user.status == 2 %>
                                    <a data-toggle="modal" href="#myModal_investor_message"><button type="button"  class=" btn btn-warning"><span class="text">INVEST NOW!</span></button></a>
                                <% elsif current_user.status == 3 %>
                                 <span><%= link_to "INVEST NOW!", invest_button_path ,method: :post, class: "btn btn-warning", target: "_blank" %></span>
                                <% end %>

                                    <% else %>

                                    <span><%= link_to "INVEST NOW!", new_user_session_path ,method: :get, class: "btn btn-warning" %></span>

                                    <% end %>
                            </div>
                        </div>                
                </div>                
            </div>
            
        </div> 
    </section>
        
       
    
    <!--  Jquery Core Script -->
    <script src="/assets/jquery-1.10.2.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="/assets/bootstrap.js"></script>
        <!--  Custom Scripts -->
    
   
</body>
</html>
