<% meta title: "RupeeVest | Our Objective",
          description: "Our vision is to empower every Indian to plan and execute simple investment decisions for themselves. Now sit in the comfort of your homes, plan for you life's financial goals, save and invest for them online."
  %>
<% metamagic keywords: [:keywords, "Financial goals, Selection of best mutual funds, How to select best mutual funds, Asset allocation, Tax efficient investment, Investment Strategy, Portfolio Management, Retirement planning, goal planning, Funds by best fund managers, portfolio of assets, Best portfolio of Mutual Fund, MF Investment India, Best Funds to Buy, Invest online in mutual funds, Investing in Mutual Funds, Top mutual funds, Best mutual funds, Tax saving mutual funds, Financial Planning, Indian Mutual Funds, Best Funds, Equities, Fixed Deposit, Corporate Deposits, FDs, NCDs"] %>

    <% if flash[:notice_invest] -%>
        <script type="text/javascript">    
          $(window).load(function(){
              $('#myModal_investor_message').modal('show');
          });
        </script>
    <% end -%>
    
    <section class="section-divider textdivider divider1" >        
        <div class="container">
            <div class="row clearfix">
                <div class="col-sm-12 column text-center">
                    <p>Our vision is to empower every Indian to plan and execute simple investment decisions for themselves. Now sit in the comfort of your homes, plan for you life's financial goals, save and invest for them online<br>@RupeeVest and track your investments on the fly.</p>
                    <h1> Stop Thinking, Start RupeeVesting! </h1>
                </div>
                
            </div>
        </div> 
    </section>
    <section>
        <div class="container">
            <div class="row clearfix">
                <div class="col-sm-8 column text-justify">
                    <h1>Asset allocation tailor-made for you</h1>
                        <p>When you invest money with RupeeVest, you invest in up to 12 different asset classes ranging from aggressive equities to highly conservative debt investments this helps to optimize asset allocation.</p>
                        <p>Investment in Equities is progressively increased depending on an individual’s risk taking capabilities to enhance potential return with a slightly higher risk. Lower risk portfolios comprise of more liquid or debt investments which provide more consistent returns.</p>
                        <p>We can provide tax efficient investment for investors in high tax brackets as well as for retirement accounts for additional optimization.</p>
                    <h1>How we picked our funds</h1>
                        <p>Each Mutual Fund has been selected to balance considerations of low cost and high liquidity as a means to access each asset class. When making the selection for each Fund, we considered the following: expense ratio, historical return. We emphasis on funds by the best fund managers, ensure that it has the right portfolio of assets and its capital gains implication.</p>    
                </div> 
                <div class="col-sm-4 column text-center pad_top4">
                        <img src="/assets/obj_chart.png" class="image_responsive" alt="Chart" />
                        <!-- Invest now button -->
                        <div class="col-sm-12 text-center pad_top2">
                            <div class="button_warning">
                                    <% if user_signed_in? %>            
                                  
                                <% if current_user.status == 1 %>
                                    <a data-toggle="modal" href="#myModal_investor"><button type="button"  class=" btn btn-warning"><span class="text">INVEST NOW!</span></button></a>
                                <% elsif current_user.status == 2 %>
                                    <a data-toggle="modal" href="#myModal_investor_message"><button type="button"  class=" btn btn-warning"><span class="text">INVEST NOW!</span></button></a>
                                <% elsif current_user.status == 3 %>
                                 <span><%= link_to "INVEST NOW!", invest_button_path ,method: :post, class: "btn btn-warning", target: "_blank" %></span>
                                <% end %>

                                    <% else %>

                                    <span><%= link_to "INVEST NOW!", new_user_session_path ,method: :get, class: "btn btn-warning" %></span>

                                    <% end %>
                            </div>
                        </div>                
                </div>                
            </div>
            
        </div> 
    </section>
        
    <script src="/assets/jquery-1.10.2.js"></script>
    <script src="/assets/bootstrap.js"></script>