<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<body style="margin-top: 135px">

   <div class="general-subhead fixed_top">
       <h2>WHAT WE OFFER</h2>
       <div class="row">
          <div class="col-sm-12" id="offer_list">          
              <span>|&nbsp;</span><a href="#o_fd">FIXED DEPOSIT</a>
              <span>|&nbsp;</span><a href="#o_bd">BONDS AND NCDs'</a>
              <span>|&nbsp;</span><a href="#o_md">MUTUAL FUNDS</a>
              <span>|</span>
          </div>
        </div>
   </div>
   
     <!-- Gereral Subhead End -->
    <section>
        <div class="container">          
            <div class="row">
              <div class="col-sm-12 column text-justify" id="offer_body">        
              
        <a id="o_fd"></a>
                <div class="row">
                  <div class="col-sm-6 column">
                  <h2 class="text-center pad_top1">Fixed Deposit</h2>  
            <p class="font_1p2 pad_top1">This is a fixed return-paying term deposit lend to a bank, financial institution or company. To compensate for the low liquidity, FDs offer higher rates of interest than saving accounts. These are usually considered to be a very safe investment. Fixed deposit rates vary across banks and companies. Withdrawing a Fixed Deposit (FD) before maturity is usually difficult but some banks offer loans against FD certificate.</p>
                </div>
                <div class="col-sm-6 column text-center">
                  <img src="/assets/offer/offer_fixed.png" class="image_responsive" width="60%" alt="FD" />                
                </div>

              <div class="col-md-12 column">
                  <table class="table table-bordered table-condensed">
                    <thead>
                      <tr>
                        <th>COMPANY</th>
                        <th>SCHEME</th>
                        <th class="text-center">DURATION RANGE</th>
                        <th class="text-center">INTEREST RANGE</th>
                        <th class="text-center">RATING</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="active">
                        <td><img src="/assets/logo/dhfl.jpg" class="image_responsive" alt="DHFL" /></td>
                        <td>Dewan Housing Finance Corporation Ltd</td>
                        <td class="text-center">12 months to 120 months</td>
                        <td class="text-center">9.10% to 10.45%</td>
                        <td class="text-center">CARE(AAA)</td>
                      </tr>
                      <tr class="active">
                        <td><img src="/assets/logo/shriram_siddhi.jpg" class="image_responsive" alt="SHRIRAM SIDDHI" /></td>
                        <td>Shriram siddhi</td>
                        <td class="text-center">12 months to 60 months</td>
                        <td class="text-center">8.88% to 10.50%</td>
                        <td class="text-center">Ind-Ra - IND AA</td>
                      </tr>
                      <tr class="active">
                        <td><img src="/assets/logo/shriram_unnati.jpg" class="image_responsive" alt="SHRIRAM UNNATI" /></td>
                        <td>Shriram Unnati</td>
                        <td class="text-center">12 months to 60 months</td>
                        <td class="text-center">8.88% to 10.50%</td>
                        <td class="text-center">ICRA - MAA+</td>
                      </tr>
                      <tr class="active">
                        <td><img src="/assets/logo/pnb_housing.jpg" class="image_responsive" alt="PNB" /></td>
                        <td>PNB Housing Finance ltd</td>
                        <td class="text-center">12 months to 120 months</td>
                        <td class="text-center">9.15% to 09.50%</td>
                        <td class="text-center">CRISIL - FAA+</td>
                      </tr>
                      <tr class="active">
                        <td><img src="/assets/logo/godrej.jpg" class="image_responsive" alt="GODREJ" /></td>
                        <td>Godrej & Boyce Mfg Co Ltd</td>
                        <td class="text-center">3 years</td>
                        <td class="text-center">9.50%</td>
                        <td class="text-center">-</td>
                      </tr>
                      <tr class="active">
                        <td><img src="/assets/logo/hdfc_fin.jpg" class="image_responsive" alt="HDFC" /></td>
                        <td>Housing Development Finance Corporations Ltd</td>
                        <td class="text-center">55 months to 95 months</td>
                        <td class="text-center">9.15% to 09.49%</td>
                        <td class="text-center">CRISIL - FAAA</td>
                      </tr>
                      <tr class="active">
                        <td><img src="/assets/logo/mahindra_fin.jpg" class="image_responsive" alt="MAHINDRA FINANCE" /></td>
                        <td>Mahindra Finance</td>
                        <td class="text-center">12 months to 60 months</td>
                        <td class="text-center">9.00% to 09.50%</td>
                        <td class="text-center">CRISIL - FAAA</td>
                      </tr>
                      <tr class="active">
                        <td><img src="/assets/logo/bajaj_fin.jpg" class="image_responsive" alt="BAJAJ FINANCE" /></td>
                        <td>Bajaj Finance Ltd</td>
                        <td class="text-center">12 months to 60 months</td>
                        <td class="text-center">8.90% to 09.25%</td>
                        <td class="text-center">CRISIL - AAA</td>
                      </tr>
                      
                    </tbody>
                  </table>
              </div>
      
            <h5 class="text-muted">Characteristics of a Fixed Deposit-</h5>                 
        <ul class="text-muted">
            <li>Bank FD’s are one of the most secure investments.</li>
            <li>The investor receives a fixed deposit receipt on purchase of any FD on maturity the investor has to surrender the same for redemption.</li>
            <li>Usually comes in different options such as Monthly Interest, Quarterly Interest, Semi-Annual Interest and Annual Interest. The interest is directly debited to your registered bank account by default, an investor can request for interest to come by a cheque if preferred. If the investor invests in a reinvestment deposit, the interest amount gets re-invested and the investor gets compounded interest.</li>
            <li>TDS is usually deducted unless the investor deposits a 15G/H form whichever is applicable at the onset.</li> 
            <li>An FD maturity period ranges from a minimum of 7 days to a maximum of 10 years.</li>
            <li>Resident Individuals including Minors; HUF’s; Trusts; Domestic Companies are all eligible for investing in FD’s.</li>
            <li>Both Banks and eligible NBFC’s can issue FD’s to the public.</li>
            <li>Most issuers offer 75% of the investment amount as loan @ 2% over the interest rate on the deposit, as well as a pre-mature withdrawal Option.</li>
            <li>Earns a Higher return vs. savings account on surplus money.</li>
            <li>Higher Interest rates for senior citizens.</li>
            <li>Bank FD’s are secured up to 1 lakh against default where as corporate FD’s are unsecured.</li>
        </ul>                      
                 
        </div>

        <a id="o_bd"></a>
                <div class="row">
                  <div class="col-sm-6 column">

                  <h2 class="text-center">Bonds And Non-Convertible Debentures’</h2>
                  
                    <p class="font_1p2 pad_top1">Bond refers to a secured fixed interest-paying instrument by a company, financial institution or government, which offers periodic payment of the ascertained interest in return on the amount of, borrowed money for the predetermined period of time. Interest rates and Bonds / NCDs’ prices are inversely related; i.e. if the interest rates in the economy go down the price of the Bond / NCD will go up and vice versa. However, in the case of an FD, there is always a penalty charge for pre-mature withdrawal, irrespective of any movement in interest rates.</p>
                  </div>
                  <div class="col-sm-6 column text-center pad_top1">
                  <img src="/assets/offer/offer_bonds.jpg" class="image_responsive" alt="Bonds" />
                  </div>
              <div class="col-md-12 column pad_top2">
                  <table class="table table-bordered table-condensed">
                    <thead>
                      <tr>
                        <th>COMPANY</th>
                        <th>SCHEME</th>
                        <th class="text-center">DURATION RANGE</th>
                        <th class="text-center">INTEREST RANGE</th>
                        <th class="text-center">RATING</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="active">
                        <td><img src="/assets/logo/muthoot_fin.jpg" class="image_responsive" alt="MUTHOOT FINANCE" /></td>
                        <td>Muthoot Finance Limited</td>
                        <td class="text-center">24 months to 78 months</td>
                        <td class="text-center">10.00% to 10.50%</td>
                        <td class="text-center">ICRA - AA</td>
                      </tr>                      
                    </tbody>
                  </table>
              </div>

            <h5 class="text-muted">Characteristics of a Bond or NCDs’</h5>
        <ul class="text-muted">
            <li>Secured debt instruments, backed by assets that depositors can claim in case of default.</li>
            <li>Capital appreciation/depreciation possible in case of change in interest rate.</li>
            <li>Credit rating by at least one agency is mandatory.</li>
            <li>Listed NCDs in the demat form have no TDS applicable on their interest payout.</li>
            <li>Though the interest rate is paid at regular intervals, the principle is paid on maturity. Bond holders are essentially lenders.</li>
            <li>These instruments are tradable on the exchange and hence can be exited prior to maturity.</li>
            <li>Customer also has the option of reinvesting interest along with Principal i.e Cumulative Interest.</li>
            <li>Bonds provide the borrower with external funds to finance long-term investments, or, in the case of government bonds, to finance current expenditure.</li>
            <li>In case the interest yields change there is a change in the price of the bond as well. i.e., if the interest rates go down older bonds with higher interest rates become more attractive and that drives the price of the higher interest bonds.</li>
            <li>Taxes apply as per tax slab norms of individuals.</li>
        </ul>             

                </div>        
                
        <a id="o_md"></a>
                <div class="row">
                <div class="col-sm-6 column">
                  <h2 class="text-center">Mutual Funds</h2>

                  <p class="font_1p2 pad_top1">A Mutual Fund is a pool of focused and professionally managed investments which invests in a spectrum of asset classes. These are regulated and sold every day on their re-priced NAV (net asset value) the portfolio's assets are usually valued by criteria established at the onset of the fund.</p>
                  <p class="font_1p2">These could be both open ended as well as closed ended; an open ended fund is where an investor can buy/sell these funds as and when they feel though some funds do have an exit load associated with them, where as a closed ended fund is where one should invest excess money with a growth objective as this has a lock in period and the asset can only be redeemed after expiration of said maturity.</p>
                </div>
                <div class="col-sm-6 column text-center pad_top1">
                  <img src="/assets/offer/offer_mf.jpg" class="image_responsive" alt="MF" />
                </div>
                </div>

              </div>
            </div>
        </div>
    </section>

                        
    <section class="section-divider2 divider2" >
      <div class="container"> 
        <a id="o_eq"></a>
        <div class="row" id="offer_body"> 
            <div class="col-sm-6 column text-left">
              <img src="/assets/offer/offer_equity.jpg" class="image_responsive" alt="Equity" />
            </div>                 
            <div class="col-sm-6 column text-justify">
              <h3>Equity</h3>
            <p>If the assets are traded on the securities exchange like in the case of equities, the most common method of valuation is to use the market value of the assets in the portfolio (using, for example, the closing bid price or last traded price) this is used to value the fund at the end of a trading day.</p>

            <p>There is a spectrum of options available for an Investor in Equities each with a different objective.Most common investment assets among them are on the basis of market capitalization and are primarily divided into 3 namely Large Cap, Mid Cap and Small Cap. Keep in mind that these classifications as such are only approximations and can change over time.</p>
            </div>
        </div>
      </div>
    </section>

    <section>
        <div class="container">          
            <div class="row">
              <div class="col-sm-12 column text-justify" id="offer_body">   
                <div class="row clearfix pad_top1">
                  <div class="col-sm-12">
                      <div class="col-sm-2 column">
                        <img alt="large-cap-mutual-funds" src="/assets/offer/offer_large.jpg" />
                      </div>
                      <div class="col-sm-4 column">
                        <h4>Large Cap Mutual Funds</h4>
                         <small>Large cap companies are the big Kahunas of the business world. Examples include Reliance, HUL and Infosys. Large Cap funds are oriented to make gains by timely investing in these large cap stocks.These are the lowest risk investment in the equities category and give relatively stable growths over time.
                        </small>
                      </div>
                      <div class="col-sm-2 column">
                        <img alt="mid-cap-mutual-funds" src="/assets/offer/offer_midcap.jpg" />
                      </div>
                      <div class="col-sm-4 column">
                        <h4>Mid Cap Mutual Funds</h4>
                        <small>Most stocks held in a mid-cap fund are firms with established businesses that are still considered developing companies. These funds tend to offer more growth than large-cap stocks and less volatility than the small-cap segment. Some of these companies become multi-baggers and they usually drive growth of this segment.
                        </small>
                      </div>
                  </div>
                </div>

                <div class="row clearfix pad_top1">
                  <div class="col-sm-12">
                      <div class="col-sm-2 column">
                        <img alt="mid-cap-mutual-funds" src="/assets/offer/offer_smallcap.jpg" />
                      </div>
                      <div class="col-sm-4 column">
                        <h4>Small Cap Mutual Funds</h4>
                        <small>The stocks in these funds could be very rewarding but at the same time have a higher risk associated to it. These funds give an investor the opportunity to beat returns made by institutional investors. Hence selection of funds in this category is a little tricky.
                        </small>
                      </div>
                      <div class="col-sm-2 column">
                        <img alt="mid-cap-mutual-funds" src="/assets/offer/offer_sectorial.jpg"/>
                      </div>
                      <div class="col-sm-4 column">
                        <h4>Sector Specific Funds</h4>
                        <small>The basis of building such a fund is to beat market returns by investing in sectors which are expecting to outperform the market. This fund invests in sector specific companies only.
                        </small>
                      </div>
                  </div>
                </div>

                <div class="row clearfix pad_top1">
                  <div class="col-sm-12">
                      <div class="col-sm-2 column">
                        <img alt="mid-cap-mutual-funds" src="/assets/offer/offer_elss.jpg" />
                      </div>
                      <div class="col-sm-4 column">
                        <h4>ELSS</h4>
                        <small>Investment in these funds help avail tax rebates under Section 80-C of the Income Tax Act, the limit has been increased from 1 lac to 1.5 lacs from the accounting year 2014-2015. To read more on these fund… Click here.
                        </small>
                      </div>
                      <div class="col-sm-2 column">
                        <img alt="mid-cap-mutual-funds" src="/assets/offer/offer_international.jpg" />
                      </div>
                      <div class="col-sm-4 column">
                        <h4>International Funds</h4>
                        <small>Most of the above funds invest in India , in case an investor is bullish on specific countries like e.g. China or U.S.A for instance funds are available where an investor can park a portion of their investments in these countries to benefit from growth in specific countries.
                        </small>
                      </div>
                  </div>
                </div>
              
              </div>
            </div>
          </div>

    </section> 
    
    <section class="section-divider2 divider3">
        <div class="container">          
            <div class="row" id="offer_body">              

                <a id="o_dt"></a>
                
                    <div class="col-sm-6 column text-left">
                        <img src="/assets/offer/offer_debt.jpg" class="image_responsive" alt="Debt" />
                    </div>                 
                    <div class="col-sm-6 column text-justify pad_top1">
                    <h3>Debt</h3>
                    <p>If the assets are fixed income paying instruments then the NAV is calculated by reference to the total value of the fund's portfolio (its assets including the interest received) less its accrued liabilities (money owed to lending banks, fees owed to investment managers and service providers and other liabilities). Usually these funds are classified by maturity of the assets i.e. long term debt , short term debt , ultra short term debt and liquid funds.</p>
                    </div>
                
            </div>
          </div>

    </section>

    <section>
        <div class="container">          
            <div class="row">
              <div class="col-sm-12 column text-justify" id="offer_body">   
                <div class="row clearfix pad_top1">
                  <div class="col-sm-12">
                      <div class="col-sm-2 column">
                        <img alt="large-cap-mutual-funds" src="/assets/offer/offer_clock1.png" />
                      </div>
                      <div class="col-sm-4 column">
                        <h4>Long Term Debt Funds</h4>
                         <small>These funds invest in long-term corporate debt papers and government securities usually having a longer maturity period.
                        </small>
                      </div>
                      <div class="col-sm-2 column">
                        <img alt="mid-cap-mutual-funds" src="/assets/offer/offer_clock2.png" />
                      </div>
                      <div class="col-sm-4 column">
                        <h4>Short Term Debt Funds</h4>
                        <small>These funds invest in short term corporate debt papers, CDs, money market and G-Secs.
                        </small>
                      </div>
                  </div>
                </div>

                <div class="row clearfix pad_top1">
                  <div class="col-sm-12">
                      <div class="col-sm-2 column">
                        <img alt="mid-cap-mutual-funds" src="/assets/offer/offer_clock3.png" />
                      </div>
                      <div class="col-sm-4 column">
                        <h4>Ultra Short Term Debt Funds</h4>
                        <small>Ultra short-term funds invest in fixed-income instruments which are mostly liquid and have short-term maturities.
                        </small>
                      </div>
                      <div class="col-sm-2 column">
                        <img alt="mid-cap-mutual-funds" src="/assets/offer/offer_liquid.jpg" />
                      </div>
                      <div class="col-sm-4 column">
                        <h4>Liquid Fund</h4>
                        <small>Liquid funds invest in money market and debt instruments with a maturity of up to 91 days.
                        </small>
                      </div>
                  </div>
                </div>                
              
              </div>
            </div>
          </div>

    </section>


  </body>

  <!--  Jquery Core Script -->
    <script src="/assets/jquery-1.10.2.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="/assets/bootstrap.js"></script>
       
</html>


