<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<body style="margin-top: 225px">

   <div class="general-subhead fixed_top">
       <h1>WHAT WE OFFER</h1>
   </div>
   
     <!-- Gereral Subhead End -->
    <section>
        <div class="container">          
            <div class="row clearfix">              
              <div class="col-md-12 column">
                <div class="list-inline">
                    <a href="#o_fd" class="list-group-item-success">Fixed Deposite</a>
                    <a href="#o_bd" class="list-group-item-info">Bonds</a>
                    <a href="#o_nd" class="list-group-item-warning">NCD's</a>
                    <a href="#o_md" class="list-group-item-warning">Mutual Funds</a>                    
                </div>
              </div>

              <div class="col-md-12 column">
                <p name="top"></p>
        <a id="o_fd"></a>
                <div>
                  <h3>Fixed Deposite</h3>
                  <hr>
                    <p>abc <br>
                    bgbbbbb</p>
                </div>
        <a id="o_bd"></a>
                <div>
                  <h3>Bonds</h3><a href="#top" class="pull-right">Back to Top</a>
                  <hr>
                    <p>abc <br>
                    bgbbbbb</p>
                </div>
        <a id="o_nd"></a>
                <div>
                  <h3>NCD's</h3>
                  <hr>
                    <p>abc <br>abc <br>
                    bgbbbbb</p>
                </div>
        <a id="o_md"></a>
                <div>
                  <h3>Mutual Funds</h3>
                  <hr>
                    <p>abc <br>
                    bgbbbbb</p>
                </div>


              </div>
            </div>
          </div>

    </section>

<!--  Jquery Core Script -->
    <script src="/assets/jquery-1.10.2.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="/assets/bootstrap.js"></script>
        <!--  Custom Scripts -->
    <script src="/assets/custom.js"></script>
  </body>
</html>
