<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>Goal Driven - RupeeVest</title>
    <link href="/assets/style.css" rel="stylesheet" />
    <!--  Jquery Core Script -->
    <script src="/assets/jquery-1.10.2.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="/assets/bootstrap.js"></script>
        <!--  Custom Scripts -->
    <script src="/assets/custom.js"></script>

    <head>
    <script src="/assets/jquery-1.10.2.js"></script>
    <script src="/assets/bootstrap.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

<!-- Invest Less Than 1 Year -->

    <script type="text/javascript">
        google.load("visualization", "1", {
            packages: ["corechart"]
        });
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Type', 'Percentage'],
                ['Liquid Funds', 100]
            ]);

            var options = {
                // title: 'Less Than 10% Return',
                chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
                is3D: true,
                colors: ['#035D0F'],
                backgroundColor: { fill:'transparent' },
                tooltip: {text: 'percentage'},
                legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}                
            };

            var chart = new google.visualization.PieChart(document.getElementById('google_chart_t1_10'));
            chart.draw(data, options);
        }
    </script>

    <script type="text/javascript">
        google.load("visualization", "1", {
            packages: ["corechart"]
        });
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Type', 'Percentage'],
                ['Large Cap Funds', 60],
                ['Mid Cap Funds', 40]
            ]);

            var options = {
                //title: '10% To 15% Return',
                chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
                is3D: true,
                colors: ['#003397','#005CB9'],
                backgroundColor: { fill:'transparent' },
                tooltip: {text: 'percentage'},
                legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
            };

            var chart = new google.visualization.PieChart(document.getElementById('google_chart_t1_15'));
            chart.draw(data, options);
        }
    </script>


<!-- Invest 1 To 2 Years -->

    <script type="text/javascript">
        google.load("visualization", "1", {
            packages: ["corechart"]
        });
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Type', 'Percentage'],
                ['Liquid Funds', 10],
                ['Fixed Deposit', 30],
                ['Bonds/NCDs', 60]
            ]);

            var options = {
                //title: 'Less Than 10% Return',
                chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
                is3D: true,
                colors: ['#035D0F', '#50891F', '#74B505'],
                backgroundColor: { fill:'transparent' },
                tooltip: {text: 'percentage'},
                legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
            };

            var chart = new google.visualization.PieChart(document.getElementById('google_chart_t2_10'));
            chart.draw(data, options);
        }
    </script>

    <script type="text/javascript">
        google.load("visualization", "1", {
            packages: ["corechart"]
        });
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Type', 'Percentage'],                
                ['Large Cap Funds', 50],
                ['Mid Cap Funds', 20],
                ['Bonds/NCDs', 30]
            ]);

            var options = {
                //title: '10% To 15% Return',
                chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
                is3D: true,
                colors: ['#003397','#005CB9','#74B505'],
                backgroundColor: { fill:'transparent' },
                tooltip: {text: 'percentage'},
                legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
            };

            var chart = new google.visualization.PieChart(document.getElementById('google_chart_t2_15'));
            chart.draw(data, options);
        }
    </script>

    <script type="text/javascript">
        google.load("visualization", "1", {
            packages: ["corechart"]
        });
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Type', 'Percentage'],
                ['Large Cap Funds', 50],
                ['Mid Cap Funds', 50]
            ]);

            var options = {
                //title: '15% To 20% Return',
                chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
                is3D: true,
                colors: ['#003397','#005CB9'],
                backgroundColor: { fill:'transparent' },
                tooltip: {text: 'percentage'},
                legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
            };

            var chart = new google.visualization.PieChart(document.getElementById('google_chart_t2_20'));
            chart.draw(data, options);
        }
    </script>

    <!-- Invest 3 To 5 Years -->

    <script type="text/javascript">
        google.load("visualization", "1", {
            packages: ["corechart"]
        });
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Type', 'Percentage'],
                ['Liquid Funds', 5],
                ['Fixed Deposit', 35],
                ['Bonds/NCDs', 60]
            ]);

            var options = {
                //title: 'Less Than 10% Return',
                chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
                is3D: true,
                colors: ['#035D0F', '#50891F', '#74B505'],
                backgroundColor: { fill:'transparent' },
                tooltip: {text: 'percentage'},
                legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
            };

            var chart = new google.visualization.PieChart(document.getElementById('google_chart_t3_10'));
            chart.draw(data, options);
        }
    </script>

    <script type="text/javascript">
        google.load("visualization", "1", {
            packages: ["corechart"]
        });
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Type', 'Percentage'],                
                ['Large Cap Funds', 50],
                ['Mid Cap Funds', 20],
                ['Bonds/NCDs', 30]
            ]);

            var options = {
                //title: '10% To 15% Return',
                chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
                is3D: true,
                colors: ['#003397','#005CB9','#74B505'],
                backgroundColor: { fill:'transparent' },
                tooltip: {text: 'percentage'},
                legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
            };

            var chart = new google.visualization.PieChart(document.getElementById('google_chart_t3_15'));
            chart.draw(data, options);
        }
    </script>

    <script type="text/javascript">
        google.load("visualization", "1", {
            packages: ["corechart"]
        });
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Type', 'Percentage'],                
                ['Large Cap Funds', 30],
                ['Mid Cap Funds', 50],
                ['Bonds/NCDs', 20]
            ]);

            var options = {
                //title: '15% To 20% Return',
                chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
                is3D: true,
                colors: ['#003397','#005CB9','#74B505'],
                backgroundColor: { fill:'transparent' },
                tooltip: {text: 'percentage'},
                legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
            };

            var chart = new google.visualization.PieChart(document.getElementById('google_chart_t3_20'));
            chart.draw(data, options);
        }
    </script>

    <script type="text/javascript">
        google.load("visualization", "1", {
            packages: ["corechart"]
        });
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Type', 'Percentage'],
                ['Mid Cap Funds', 100]
            ]);

            var options = {
                //title: '20% To 25% Return',
                chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
                is3D: true,
                colors: ['#005CB9'],
                backgroundColor: { fill:'transparent' },
                tooltip: {text: 'percentage'},
                legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
            };

            var chart = new google.visualization.PieChart(document.getElementById('google_chart_t3_25'));
            chart.draw(data, options);
        }
    </script>


    <!-- Invest More Than 5 Years -->

    <script type="text/javascript">
        google.load("visualization", "1", {
            packages: ["corechart"]
        });
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Type', 'Percentage'],
                ['Liquid Funds', 5],
                ['Fixed Deposit', 35],
                ['Bonds/NCDs', 60]
            ]);

            var options = {
                //title: 'Less Than 10% Return',
                chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
                is3D: true,
                colors: ['#035D0F', '#50891F', '#74B505'],
                backgroundColor: { fill:'transparent' },
                tooltip: {text: 'percentage'},
                legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
            };

            var chart = new google.visualization.PieChart(document.getElementById('google_chart_t4_10'));
            chart.draw(data, options);
        }
    </script>

    <script type="text/javascript">
        google.load("visualization", "1", {
            packages: ["corechart"]
        });
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Type', 'Percentage'],                
                ['Large Cap Funds', 50],
                ['Mid Cap Funds', 10],
                ['Bonds/NCDs', 40],
            ]);

            var options = {
                //title: '10% To 15% Return',
                chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
                is3D: true,
                colors: ['#003397','#005CB9','#74B505'],
                backgroundColor: { fill:'transparent' },
                tooltip: {text: 'percentage'},
                legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
            };

            var chart = new google.visualization.PieChart(document.getElementById('google_chart_t4_15'));
            chart.draw(data, options);
        }
    </script>

    <script type="text/javascript">
        google.load("visualization", "1", {
            packages: ["corechart"]
        });
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Type', 'Percentage'],                
                ['Large Cap Funds', 50],
                ['Mid Cap Funds', 30],
                ['Bonds/NCDs', 20]
            ]);

            var options = {
                //title: '15% To 20% Return',
                chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
                is3D: true,
                colors: ['#003397','#005CB9','#74B505'],
                backgroundColor: { fill:'transparent' },
                tooltip: {text: 'percentage'},
                legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
            };

            var chart = new google.visualization.PieChart(document.getElementById('google_chart_t4_20'));
            chart.draw(data, options);
        }
    </script>

    <script type="text/javascript">
        google.load("visualization", "1", {
            packages: ["corechart"]
        });
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Type', 'Percentage'],
                ['Large Cap Funds', 30],
                ['Mid Cap Funds', 70]
            ]);

            var options = {
                //title: '20% To 25% Return',
                chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
                is3D: true,
                colors: ['#003397','#005CB9'],
                backgroundColor: { fill:'transparent' },
                tooltip: {text: 'percentage'},
                legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
            };

            var chart = new google.visualization.PieChart(document.getElementById('google_chart_t4_25'));
            chart.draw(data, options);
        }
    </script>

  </head>



 
       <script type="text/javascript">

          var href = "myTabContent1";  
              $("#myTabContent1").load(href);

        </script>

</head>
<body>
   <section class="general-subhead_bg">
        <div class="container">
           <div class="general-subhead">
               <h2>GOAL DRIVEN</h2>
           </div>
        </div>
    </section>
     <!-- Gereral Subhead End -->
    
    <section>
    <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-3">
            <div class="well well-lg">
            <ul id="myTab" class="nav nav-pills nav-stacked">
                <li class="clr_primary_blue"><span data-toggle="tab"><h4>Time Horizon</h4></span></li>
                <li class="active"><a href="#panel_less_1yr" data-toggle="tab">Less Than 1 Year</a></li>
                <li><a href="#panel_1_to_2yr" data-toggle="tab">1 To 2.5 Years</a></li>
                <li><a href="#panel_3_to_5yr" data-toggle="tab">3 To 5 Years</a></li>
                <li><a href="#panel_more_5yr" data-toggle="tab">More Than 5 Years</a></li>
            </ul>
            </div>
            <!-- Invest now button -->
    <div class="col-md-12 hidden-xs hidden-sm text-center pad_top1">
                <div id="button_warning">
                <% if user_signed_in? %>            
              
            <% if current_user.status == 1 %>
                <a data-toggle="modal" href="#myModal_investor"><button type="button"  class=" btn btn-warning"><span class="text">INVEST NOW!</span></button></a>
            <% elsif current_user.status == 2 %>
                <a data-toggle="modal" href="#myModal_investor_message"><button type="button"  class=" btn btn-warning"><span class="text">INVEST NOW!</span></button></a>
            <% elsif current_user.status == 3 %>
             <span><%= link_to "INVEST NOW!", invest_button_path ,method: :post, class: "btn btn-warning", target: "_blank" %></span>
            <% end %>

                <% else %>

                <span><%= link_to "INVEST NOW!", new_user_session_path ,method: :get, class: "btn btn-warning" %></span>

                <% end %>
                </div>
    </div>

          </div>


          <div class="col-sm-12 col-md-9" >

          <div id="myTabContent" class="tab-content">      

<!--  Invest Less Than 1 Year  -->
              <div class="tab-pane fade in active" id="panel_less_1yr">
                  <div class="col-sm-12">
                    <div class="panel panel-default">
                                             

                      <ul id="myTab1" class="nav nav-pills nav-justified">
                          <li class="active"><a href="#t1_10" data-toggle="tab">Less Than 10% Return</a></li>
                          <li><a href="#t1_15" data-toggle="tab">10% To 15% Return</a></li>
                      </ul>

                        <div class="panel-heading">
                            <div id="myTabContent1" class="tab-content">

                                <div class="tab-pane fade in active" id="t1_10">
                                    
                                    <div class="row">
                                      <div class="col-sm-4">                
                                          <div class="well well-lg" align="center">
                                            <div class="pad_bot1">                                            
                            <img src="/assets/meter1.png" class="image_responsive" alt="Risk Image" />
                            <h5>Risk Meter</h5>
                                            </div>
                                            <div class="back_effect1">
                                                <h2>100%</h2><h5>Debt</h5>
                                            </div>
                                            
                                            <!-- <div class="back_effect">                   
                                                <h2>50%</h2><h5>Equity</h5>
                                            </div> -->
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                          <div class="well well-lg">
                                              <div class="row pad_right pad_bot1">
                                <div id="google_chart_t1_10" class="return_chart image_responsive"></div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                          
                                    <div class="well well-sm">

                                        <div class="well well-sm">
                                            <div class="row">
                                                <div class="col-sm-12">                                    
                                                    <div class="row col-sm-5">
                                <div class="list-group-item list-group-item-success">
                                  <h5>Mutual Funds: Debt – Liquid / Ultra Short Term</h5>
                                </div>
                                                    </div>
                                                    <div class="col-sm-7">
                                <ul class="row">
                                    <li>SBI Premier Liquid Fund</li>
                                </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>


                                <div class="tab-pane fade" id="t1_15">
                                    <div class="row">
                                      <div class="col-sm-4">                                        
                                          <div class="well well-lg" align="center" >
                                            <div class="pad_bot1">                                            
                            <img src="/assets/meter5.png" class="image_responsive"  alt="Risk Image" />
                            <h5>Risk Meter</h5>
                                            </div>
                                            <div class="back_effect">
                                                <h2>100%</h2><h5>Equity</h5>
                                            </div>
                                            <!-- <div class="back_effect1">
                                                <h2>0%</h2><h5>Debt</h5>
                                            </div> -->
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                          <div class="well well-lg">
                                              <div class="row pad_right pad_bot1">               
                                <div id="google_chart_t1_15" class="return_chart image_responsive"></div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>

                                    <div class="well well-sm">                                     

                                      <div class="well well-sm">
                                          <div class="row">
                                              <div class="col-sm-12">                                    
                                                  <div class="row col-sm-5">
                              <div class="list-group-item list-group-item-success">
                                <h5>Mutual Funds: Equity – Large Cap</h5>
                              </div>
                                                  </div>
                                                  <div class="col-sm-7">
                              <ul class="row">
                                  <li>UTI Opportunities Fund</li>
                                  <li>ICICI Prudential Focused Bluechip Equity Fund</li>
                              </ul>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>                              


                                      <div class="well well-sm">
                                          <div class="row">
                                              <div class="col-sm-12">                                    
                                                  <div class="row col-sm-5">
                              <div class="list-group-item list-group-item-success">
                                <h5>Mutual Funds: Equity – Mid and Small Cap</h5>
                              </div>
                                                  </div>
                                                  <div class="col-sm-7">
                              <ul class="row">                        
                                  <li>ICICI Prudential Value Discovery Fund</li>
                                  <li>Franklin India Smaller Companies Fund</li>
                              </ul>      
                                                  </div>
                                              </div>
                                          </div>
                                      </div>

                                    </div>

                                </div>                                                                

                            </div>                           


                        </div>
                    </div>
                  </div>

              </div>

<!--  Invest 1 To 2 Years  -->

              <div class="tab-pane fade" id="panel_1_to_2yr">

                <div class="col-sm-12">
                    <div class="panel panel-default">
                                             

                      <ul id="myTab2" class="nav nav-pills nav-justified">
                          <li class="active"><a href="#t2_10" data-toggle="tab">Less Than 10% Return</a></li>
                          <li><a href="#t2_15" data-toggle="tab">10% To 15% Return</a></li>
                          <li><a href="#t2_20" data-toggle="tab">15% To 20% Return</a></li>
                      </ul>

                        <div class="panel-heading">
                            <div id="myTabContent1" class="tab-content">

                                  <div class="tab-pane fade in active" id="t2_10">
                                    <div class="row">
                                      <div class="col-sm-4">                                        
                                          <div class="well well-lg" align="center" > 
                                            <div class="pad_bot1">                                            
                            <img src="/assets/meter1.png" class="image_responsive"  alt="Risk Image" />
                            <h5>Risk Meter</h5>
                                            </div>
                                            <div class="back_effect1">
                                                <h2>100%</h2><h5>Debt</h5>
                                            </div>
                                            <!-- <div class="back_effect">                                            
                                                <h2>0%</h2><h5>Equity</h5>
                                            </div> -->
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                          <div class="well well-lg">
                                              <div class="row pad_right pad_bot1">
                                <div id="google_chart_t2_10" class="return_chart image_responsive"></div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>

                                    <div class="well well-sm">

                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                      <div class="list-group-item list-group-item-success">
                        <h5>Mutual Funds: Debt – Liquid / Ultra Short Term</h5>
                      </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>SBI Premier Liquid Fund</li>
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                      <div class="list-group-item list-group-item-success">
                        <h5>Debt: Fixed Deposit</h5>
                      </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>DHFL 10.5%</li>                          
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>


                              

                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                      <div class="list-group-item list-group-item-success">
                        <h5>Debt: Bond /NCDs’</h5>
                      </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>Shriram of other AAA Bond</li>
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                            </div>

                                </div>


                                <div class="tab-pane fade" id="t2_15">
                                    <div class="row">
                                      <div class="col-sm-4">                                        
                                          <div class="well well-lg" align="center" >
                                            <div class="pad_bot2">                                            
                            <img src="/assets/meter3.png" class="image_responsive"  alt="Risk Image" />
                            <h5>Risk Meter</h5>
                                            </div>
                                            <div class="pad_bot2">
                                                <div class="back_effect_eq">                                            
                                                    <h3 class="mar_top_p5">70%</h3><h5 class="mar_top_mp5">Equity</h5>
                                                </div>
                                                <div class="back_effect_dt">
                                                    <h3 class="mar_top_p5">30%</h3><h5 class="mar_top_mp5">Debt</h5>
                                                </div>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                          <div class="well well-lg">
                                              <div class="row pad_right pad_bot1">
                                <div id="google_chart_t2_15" class="return_chart image_responsive"></div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>

                                    <div class="well well-sm">

                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                      <div class="list-group-item list-group-item-success">
                        <h5>Debt: Bond /NCDs’</h5>
                      </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>Shriram of other AAA Bond</li>
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Equity – Large Cap</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>ICICI Prudential Focused Bluechip Equity Fund</li>
                          <li>Quantum Long Term Equity Fund</li>                                                    
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Equity – Mid and Small Cap</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">                          
                          <li>Franklin India Smaller Companies Fund</li>
                          <li>Reliance Small Cap Fund</li>
                      </ul>      
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              
                            </div>


                                </div>

                                <div class="tab-pane fade" id="t2_20">
                                   <div class="row">
                                      <div class="col-sm-4">                                        
                                          <div class="well well-lg" align="center" >
                                            <div class="pad_bot1">                                            
                            <img src="/assets/meter5.png" class="image_responsive"  alt="Risk Image" />
                            <h5>Risk Meter</h5>
                                            </div>
                                            <div class="back_effect">                                            
                                                <h2>100%</h2><h5>Equity</h5>
                                            </div>
                                            <!-- <div class="back_effect1">
                                                <h2>0%</h2><h5>Debt</h5>
                                            </div> -->
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                        <div class="well well-lg">
                                            <div class="row pad_right pad_bot1">
                                <div id="google_chart_t2_20" class="return_chart image_responsive"></div>
                                            </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="well well-sm">                              

                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Equity – Large Cap</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">                          
                          <li>Quantum Long Term Equity Fund</li>
                          <li>ICICI Prudential Top 100 Fund</li>                          
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Equity – Mid and Small Cap</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>ICICI Prudential Value Discovery Fund</li>
                          <li>Franklin India Smaller Companies Fund</li>                          
                      </ul>      
                                          </div>
                                      </div>
                                  </div>
                              </div>

                                    </div>

                                </div>
                                
                            </div>

                        </div>
                    </div>
                  </div>
                  
              </div>

<!-- Invest 3 To 5 Years -->

              <div class="tab-pane fade" id="panel_3_to_5yr">
                  
                  <div class="col-sm-12">
                    <div class="panel panel-default">
                                              

                      <ul id="myTab2" class="nav nav-pills nav-justified">
                          <li class="active"><a href="#t3_10" data-toggle="tab">Less Than 10% Return</a></li>
                          <li><a href="#t3_15" data-toggle="tab">10% To 15% Return</a></li>
                          <li><a href="#t3_20" data-toggle="tab">15% To 20% Return</a></li>
                          <li><a href="#t3_25" data-toggle="tab">20% To 25% Return</a></li>
   
                      </ul>

                        <div class="panel-heading">
                            <div id="myTabContent1" class="tab-content">

                                <div class="tab-pane fade in active" id="t3_10">
                                    <div class="row">
                                      <div class="col-sm-4">                                        
                                          <div class="well well-lg" align="center" >
                                            <div class="pad_bot1">                                            
                            <img src="/assets/meter1.png" class="image_responsive"  alt="Risk Image" />
                            <h5>Risk Meter</h5>
                                            </div>
                                            <div class="back_effect1">
                                                <h2>100%</h2><h5>Debt</h5>
                                            </div>
                                            <!-- <div class="back_effect">                                            
                                                <h2>0%</h2><h5>Equity</h5>
                                            </div>  -->                                           
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                          <div class="well well-lg">
                                              <div class="row pad_right pad_bot1">
                                <div id="google_chart_t3_10" class="return_chart image_responsive"></div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>

                                    <div class="well well-sm">

                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Debt – Liquid / Ultra Short Term</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>Birla Sun Life Floating Rate Fund - Short Term Plan</li>
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                      <div class="list-group-item list-group-item-success">
                        <h5>Debt: Fixed Deposit</h5>
                      </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>DHFL 10.5%</li>                          
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>                              

                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                      <div class="list-group-item list-group-item-success">
                        <h5>Debt: Bond /NCDs’</h5>
                      </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>Shriram of other AAA Bond</li>
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                                    </div>

                                </div>


                                <div class="tab-pane fade" id="t3_15">
                                    <div class="row">
                                      <div class="col-sm-4">                                        
                                          <div class="well well-lg" align="center" >
                                            <div class="pad_bot2">                                            
                            <img src="/assets/meter3.png" class="image_responsive"  alt="Risk Image" />
                            <h5>Risk Meter</h5>
                                            </div>
                                            <div class="pad_bot2">
                                                <div class="back_effect_eq">                                            
                                                    <h3 class="mar_top_p5">70%</h3><h5 class="mar_top_mp5">Equity</h5>
                                                </div>
                                                <div class="back_effect_dt">
                                                    <h3 class="mar_top_p5">30%</h3><h5 class="mar_top_mp5">Debt</h5>
                                                </div>
                                            </div>                                            
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                          <div class="well well-lg">
                                              <div class="row pad_right pad_bot1">
                                <div id="google_chart_t3_15" class="return_chart image_responsive"></div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>

                                    <div class="well well-sm">

                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                      <div class="list-group-item list-group-item-success">
                        <h5>Debt: Bond /NCDs’</h5>
                      </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>Shriram of other AAA Bond</li>
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Equity – Large Cap</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">                          
                          <li>ICICI Prudential Top 100 Fund</li>
                          <li>UTI Opportunities Fund</li>                          
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Equity – Mid and Small Cap</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">                          
                          <li>Franklin India Smaller Companies Fund</li>
                          <li>Canara Robeco Emerging Equities Fund</li>
                      </ul>      
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              
                            </div>

                                </div>

                                <div class="tab-pane fade" id="t3_20">
                                   <div class="row">
                                      <div class="col-sm-4">                                        
                                          <div class="well well-lg" align="center" >
                                            <div class="pad_bot2">                                            
                            <img src="/assets/meter4.png" class="image_responsive"  alt="Risk Image" />
                            <h5>Risk Meter</h5>
                                            </div>
                                            <div class="pad_bot2">
                                                <div class="back_effect_eq">                                            
                                                    <h3 class="mar_top_p5">80%</h3><h5 class="mar_top_mp5">Equity</h5>
                                                </div>
                                                <div class="back_effect_dt">
                                                    <h3 class="mar_top_p5">20%</h3><h5 class="mar_top_mp5">Debt</h5>
                                                </div>
                                            </div>                                            
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                          <div class="well well-lg">
                                              <div class="row pad_right pad_bot1">
                                <div id="google_chart_t3_20" class="return_chart image_responsive"></div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>

                                    <div class="well well-sm">

                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                      <div class="list-group-item list-group-item-success">
                        <h5>Debt: Bond /NCDs’</h5>
                      </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>Shriram of other AAA Bond</li>
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Equity – Large Cap</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row"> 
                          <li>Birla Sun Life Frontline Equity Fund</li> 
                          <li>HDFC Top 200 Fund</li>
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Equity – Mid and Small Cap</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>ICICI Prudential Value Discovery Fund</li>
                          <li>DSP BlackRock Micro Cap Fund</li>
                      </ul>      
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              
                            </div>

                                </div>
                                <div class="tab-pane fade" id="t3_25">
                                    <div class="row">
                                      <div class="col-sm-4">                                       
                                          <div class="well well-lg" align="center" >
                                            <div class="pad_bot1">                                            
                            <img src="/assets/meter5.png" class="image_responsive"  alt="Risk Image" />
                            <h5>Risk Meter</h5>
                                            </div>
                                            <div class="back_effect">                                            
                                                <h2>100%</h2><h5>Equity</h5>
                                            </div>
                                            <!-- <div class="back_effect1">
                                                <h2>0%</h2><h5>Debt</h5>
                                            </div> -->
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                          <div class="well well-lg">
                                              <div class="row pad_right pad_bot1">          
                                <div id="google_chart_t3_25" class="return_chart image_responsive"></div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>

                                    <div class="well well-sm">

                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Equity – Mid and Small Cap</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>ICICI Prudential Value Discovery Fund</li>
                          <li>DSP BlackRock Micro Cap Fund</li>
                          <li>Franklin India Smaller Companies Fund</li>
                          <li>UTI Mid Cap</li>
                      </ul>      
                                          </div>
                                      </div>
                                  </div>
                              </div>

                            </div>

                                </div>
                            </div>                            


                        </div>
                    </div>
                  </div>


              </div>

<!--  Invest More Than 5 Years  --> 

              <div class="tab-pane fade" id="panel_more_5yr">
                  
                  <div class="col-sm-12">
                    <div class="panel panel-default">
                                             

                      <ul id="myTab2" class="nav nav-pills nav-justified">
                          <li class="active"><a href="#t4_10" data-toggle="tab">Less Than 10% Return</a></li>
                          <li><a href="#t4_15" data-toggle="tab">10% To 15% Return</a></li>
                          <li><a href="#t4_20" data-toggle="tab">15% To 20% Return</a></li>
                          <li><a href="#t4_25" data-toggle="tab">20% To 25% Return</a></li>
   
                      </ul>

                        <div class="panel-heading">
                            <div id="myTabContent1" class="tab-content">

                                <div class="tab-pane fade in active" id="t4_10">
                                    <div class="row">
                                      <div class="col-sm-4">                                        
                                          <div class="well well-lg" align="center" >
                                            <div class="pad_bot1">                                            
                            <img src="/assets/meter1.png" class="image_responsive"  alt="Risk Image" />
                            <h5>Risk Meter</h5>
                                            </div>
                                            <div class="back_effect1">
                                                <h2>100%</h2><h5>Debt</h5>
                                            </div>
                                            <!-- <div class="back_effect">                                            
                                                <h2>0%</h2><h5>Equity</h5>
                                            </div> -->                                            
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                          <div class="well well-lg">
                                              <div class="row pad_right pad_bot1">
                                <div id="google_chart_t4_10" class="return_chart image_responsive"></div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>

                                    
                                    <div class="well well-sm">

                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Debt – Liquid / Ultra Short Term</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>Birla Sun Life Floating Rate Fund - Short Term Plan</li>
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                      <div class="list-group-item list-group-item-success">
                        <h5>Debt: Fixed Deposit</h5>
                      </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>DHFL 10.5%</li>                          
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>                              

                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                      <div class="list-group-item list-group-item-success">
                        <h5>Debt: Bond /NCDs’</h5>
                      </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>Shriram of other AAA Bond</li>
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                                    </div>


                                </div>


                                <div class="tab-pane fade" id="t4_15">
                                    <div class="row">
                                      <div class="col-sm-4">                                        
                                          <div class="well well-lg" align="center" >
                                            <div class="pad_bot2">                                            
                            <img src="/assets/meter2.png" class="image_responsive"  alt="Risk Image" />
                            <h5>Risk Meter</h5>
                                            </div>
                                            <div class="pad_bot2">
                                                <div class="back_effect_eq">               
                                                    <h3 class="mar_top_p5">60%</h3><h5 class="mar_top_mp5">Equity</h5>
                                                </div>
                                                <div class="back_effect_dt">
                                                    <h3 class="mar_top_p5">40%</h3><h5 class="mar_top_mp5">Debt</h5>
                                                </div>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                          <div class="well well-lg">
                                              <div class="row pad_right pad_bot1">
                                <div id="google_chart_t4_15" class="return_chart image_responsive"></div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>

                                    <div class="well well-sm">

                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                      <div class="list-group-item list-group-item-success">
                        <h5>Debt: Bond /NCDs’</h5>
                      </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>Shriram of other AAA Bond</li>
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Equity – Large Cap</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>ICICI Prudential Focused Bluechip Equity Fund</li>
                          <li>Quantum Long Term Equity Fund</li>
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Equity – Mid and Small Cap</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>ICICI Prudential Value Discovery Fund</li>
                      </ul>      
                                          </div>
                                      </div>
                                  </div>
                              </div>

                            </div>

                                </div>

                                <div class="tab-pane fade" id="t4_20">
                                   <div class="row">
                                      <div class="col-sm-4">                                        
                                          <div class="well well-lg" align="center" >
                                            <div class="pad_bot2">                                            
                            <img src="/assets/meter4.png" class="image_responsive"  alt="Risk Image" />
                            <h5>Risk Meter</h5>
                                            </div>
                                            <div class="pad_bot2">
                                                <div class="back_effect_eq">               
                                                    <h3 class="mar_top_p5">80%</h3><h5 class="mar_top_mp5">Equity</h5>
                                                </div>
                                                <div class="back_effect_dt">
                                                    <h3 class="mar_top_p5">20%</h3><h5 class="mar_top_mp5">Debt</h5>
                                                </div>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                          <div class="well well-lg">
                                              <div class="row pad_right pad_bot1">
                                <div id="google_chart_t4_20" class="return_chart image_responsive"></div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>

                                    <div class="well well-sm">

                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                      <div class="list-group-item list-group-item-success">
                        <h5>Debt: Bond /NCDs’</h5>
                      </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>Shriram of other AAA Bond</li>
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Equity – Large Cap</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>UTI Opportunities Fund</li>
                          <li>UTI Equity Fund</li>                          
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Equity – Mid and Small Cap</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>ICICI Prudential Value Discovery Fund</li>
                          <li>DSP BlackRock Micro Cap Fund</li>                          
                      </ul>      
                                          </div>
                                      </div>
                                  </div>
                              </div>

                            </div>

                                </div>
                                <div class="tab-pane fade" id="t4_25">
                                    <div class="row">
                                      <div class="col-sm-4">                                       
                                          <div class="well well-lg" align="center" >
                                            <div class="pad_bot1">                                            
                            <img src="/assets/meter5.png" class="image_responsive"  alt="Risk Image" />
                            <h5>Risk Meter</h5>
                                            </div>
                                            <div class="back_effect">                                            
                                                <h2>100%</h2><h5>Equity</h5>
                                            </div>
                                            <!-- <div class="back_effect1">
                                                <h2>0%</h2><h5>Debt</h5>
                                            </div> -->
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                          <div class="well well-lg">
                                              <div class="row pad_right pad_bot1">          
                                <div id="google_chart_t4_25" class="return_chart image_responsive"></div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>

                                    <div class="well well-sm">                              

                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Equity – Large Cap</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>L&T Equity Fund</li>
                          <li>Birla Sun Life Frontline Equity Fund</li>                          
                          <li>ICICI Prudential Focused Bluechip Equity Fund</li>
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Equity – Mid and Small Cap</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>ICICI Prudential Value Discovery Fund</li>
                          <li>Franklin India Smaller Companies Fund</li>
                          <li>Religare Invesco Mid N Small Cap Fund</li>
                          <li>Reliance Small Cap Fund</li>
                          <li>Canara Robeco Emerging Equities Fund</li>
                      </ul>      
                                          </div>
                                      </div>
                                  </div>
                              </div>                              

                                    </div>

                                </div>
                            </div>                           


                        </div>
                    </div>
                  </div>


              </div>
            
              <!-- end  aggr -->

          </div>

          <!-- Invest now button -->
    <div class="col-xs-12 col-sm-12 hidden-md hidden-lg text-center pad_top1">
                <div id="button_warning">
                <% if user_signed_in? %>            
              
            <% if current_user.status == 1 %>
                <a data-toggle="modal" href="#myModal_investor"><button type="button"  class=" btn btn-warning"><span class="text">INVEST NOW!</span></button></a>
            <% elsif current_user.status == 2 %>
                <a data-toggle="modal" href="#myModal_investor_message"><button type="button"  class=" btn btn-warning"><span class="text">INVEST NOW!</span></button></a>
            <% elsif current_user.status == 3 %>
             <span><%= link_to "INVEST NOW!", invest_button_path ,method: :post, class: "btn btn-warning", target: "_blank" %></span>
            <% end %>

                <% else %>

                <span><%= link_to "INVEST NOW!", new_user_session_path ,method: :get, class: "btn btn-warning" %></span>

                <% end %>
                </div>
    </div>

          </div>
      </div>
    </div>       
    </section>


  </body>
</html>
