<% meta title: "RupeeVest | Optimum Portfolio",
          description: "RupeeVest's in-house tool to propose investment strategies for various risk appetites and different age brackets. Our suggested asset allocation based on the investors risk appetite."
  %>
<% metamagic keywords: [:keywords, "Optimum portfolio, Investment Strategy, Retirement Planning, Portfolio Management, Best portfolio for me, Financial Planning, suggest best funds, Ideal portfolio, Selection of best mutual funds, Risk appetite, How to select best mutual funds, Asset allocation, Funds by best fund managers, portfolio of assets, Best portfolio of Mutual Fund, MF Investment India, Best Funds to Buy, Invest online in mutual funds, Investing in Mutual Funds, Top mutual funds, Best mutual funds, Indian Mutual Funds, Best Funds, Equities, Fixed Deposit, Corporate Deposits, FDs, Bonds, NCDs"] %>

<% content_for :risk_profiling do %>
    <script src="/assets/jquery-1.10.2.js"></script>
    <script src="/assets/bootstrap.js"></script>  
    <script src="/assets/custom.js"></script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

<!--   CHART FOR CONSERVATIVE   -->
    
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Large Cap Funds', 40],
          ['Mid Cap Funds ', 10],
          ['Liquid Funds ', 5],
          ['Fixed Deposit ', 35],
          ['Bonds/NCDs ', 10]
        ]);

        var options = {
          //title: 'Age 18-30',
          chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
          pieHole: 0.4,
          colors: ['#003397','#005CB9', '#035D0F', '#50891F', '#74B505'  ],
          backgroundColor: { fill:'transparent' },
          tooltip: {text: 'percentage'},
          legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
        };

        var chart = new google.visualization.PieChart(document.getElementById('googlechart_cons18'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Large Cap Funds', 33],
          ['Mid Cap Funds ', 7],
          ['Liquid Funds ', 5],
          ['Fixed Deposit ', 45],
          ['Bonds/NCDs ', 10],
        ]);

        var options = {
          //title: 'Age 31-50',
          chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
          pieHole: 0.4,
          colors: ['#003397','#005CB9', '#035D0F', '#50891F', '#74B505'  ],
          backgroundColor: { fill:'transparent' },
          tooltip: {text: 'percentage'},
          legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
        };

        var chart = new google.visualization.PieChart(document.getElementById('googlechart_cons31'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Large Cap Funds', 30],
          ['Mid Cap Funds ', 5],
          ['Liquid Funds ', 5],
          ['Fixed Deposit ', 50],
          ['Bonds/NCDs ', 10]
        ]);

        var options = {
          //title: 'Age 51-65',
          chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
          pieHole: 0.4,
          colors: ['#003397','#005CB9', '#035D0F', '#50891F', '#74B505'  ],
          backgroundColor: { fill:'transparent' },
          tooltip: {text: 'percentage'},
          legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
        };

        var chart = new google.visualization.PieChart(document.getElementById('googlechart_cons51'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Large Cap Funds', 15],
          ['Liquid Funds ', 5],
          ['Fixed Deposit ', 65],
          ['Bonds/NCDs ', 15],
        ]);

        var options = {
          //title: 'Age 65+',
          chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
          pieHole: 0.4,
          colors: ['#003397', '#035D0F', '#50891F', '#74B505'  ],
          backgroundColor: { fill:'transparent' },
          tooltip: {text: 'percentage'},
          legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
        };

        var chart = new google.visualization.PieChart(document.getElementById('googlechart_cons65'));
        chart.draw(data, options);
      }
    </script>
  

<!--   CHART FOR CONSERVATIVE END  -->

<!--   CHART FOR MODERATELY CONSERVATIVE   -->

<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Large Cap Funds', 43],
          ['Mid Cap Funds ', 12],
          ['Liquid Funds ', 5],
          ['Fixed Deposit ', 25],
          ['Bonds/NCDs ', 15]
        ]);

        var options = {
          //title: 'Age 18-30',
          chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
          pieHole: 0.4,
          colors: ['#003397','#005CB9', '#035D0F', '#50891F', '#74B505'  ],
          backgroundColor: { fill:'transparent' },
          tooltip: {text: 'percentage'},
          legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
        };

        var chart = new google.visualization.PieChart(document.getElementById('googlechart_mcons18'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Large Cap Funds', 35],
          ['Mid Cap Funds ', 10],
          ['Liquid Funds ', 5],
          ['Fixed Deposit ', 33],
          ['Bonds/NCDs ', 17]
        ]);

        var options = {
          //title: 'Age 31-50',
          chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
          pieHole: 0.4,
          colors: ['#003397','#005CB9', '#035D0F', '#50891F', '#74B505'  ],
          backgroundColor: { fill:'transparent' },
          tooltip: {text: 'percentage'},
          legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
        };

        var chart = new google.visualization.PieChart(document.getElementById('googlechart_mcons31'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Large Cap Funds', 35],
          ['Mid Cap Funds ', 5],
          ['Liquid Funds ', 5],
          ['Fixed Deposit ', 35],
          ['Bonds/NCDs ', 20]
        ]);

        var options = {
          //title: 'Age 51-65',
          chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
          pieHole: 0.4,
          colors: ['#003397','#005CB9', '#035D0F', '#50891F', '#74B505'  ],
          backgroundColor: { fill:'transparent' },
          tooltip: {text: 'percentage'},
          legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
        };

        var chart = new google.visualization.PieChart(document.getElementById('googlechart_mcons51'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Large Cap Funds', 20],
          ['Liquid Funds ', 5],
          ['Fixed Deposit ', 55],
          ['Bonds/NCDs ', 20],
        ]);

        var options = {
          //title: 'Age 65+',
          chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
          pieHole: 0.4,
          colors: ['#003397', '#035D0F', '#50891F', '#74B505'  ],
          backgroundColor: { fill:'transparent' },
          tooltip: {text: 'percentage'},
          legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
        };

        var chart = new google.visualization.PieChart(document.getElementById('googlechart_mcons65'));
        chart.draw(data, options);
      }
    </script>

<!--   CHART FOR MODERATELY CONSERVATIVE END  -->

<!--   CHART FOR MODERATELY AGGRESSIVE   -->


<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Large Cap Funds', 45],
          ['Mid Cap Funds ', 10],
          ['Small Cap Funds', 5],
          ['Liquid Funds ', 5],
          ['Fixed Deposit ', 25],
          ['Bonds/NCDs ', 10]
        ]);

        var options = {
          //title: 'Age 18-30',
          chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
          pieHole: 0.4,
          colors: ['#003397','#005CB9','#409BF8', '#035D0F', '#50891F', '#74B505'  ],
          backgroundColor: { fill:'transparent' },
          tooltip: {text: 'percentage'},
          legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
        };

        var chart = new google.visualization.PieChart(document.getElementById('googlechart_maggr18'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Large Cap Funds', 38],
          ['Mid Cap Funds ', 12],
          ['Liquid Funds ', 5],
          ['Fixed Deposit ', 30],
          ['Bonds/NCDs ', 15]
        ]);

        var options = {
          //title: 'Age 31-50',
          chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
          pieHole: 0.4,
          colors: ['#003397','#005CB9', '#035D0F', '#50891F', '#74B505'  ],
          backgroundColor: { fill:'transparent' },
          tooltip: {text: 'percentage'},
          legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
        };

        var chart = new google.visualization.PieChart(document.getElementById('googlechart_maggr31'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Large Cap Funds', 35],
          ['Mid Cap Funds ', 10],
          ['Liquid Funds ', 5],
          ['Fixed Deposit ', 35],
          ['Bonds/NCDs ', 15]
        ]);

        var options = {
          //title: 'Age 51-65',
          chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
          pieHole: 0.4,
          colors: ['#003397','#005CB9', '#035D0F', '#50891F', '#74B505'  ],
          backgroundColor: { fill:'transparent' },
          tooltip: {text: 'percentage'},
          legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
        };

        var chart = new google.visualization.PieChart(document.getElementById('googlechart_maggr51'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Large Cap Funds', 20],
          ['Mid Cap Funds ', 5],
          ['Liquid Funds ', 5],
          ['Fixed Deposit ', 50],
          ['Bonds/NCDs ', 20]
        ]);

        var options = {
          //title: 'Age 65+',
          chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
          pieHole: 0.4,
          colors: ['#003397','#005CB9', '#035D0F', '#50891F', '#74B505'  ],
          backgroundColor: { fill:'transparent' },
          tooltip: {text: 'percentage'},
          legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
        };

        var chart = new google.visualization.PieChart(document.getElementById('googlechart_maggr65'));
        chart.draw(data, options);
      }
    </script>

<!--   CHART FOR MODERATELY AGGRESSIVE END  -->

<!--   CHART FOR AGGRESSIVE   -->

<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Large Cap Funds', 45],
          ['Mid Cap Funds', 10],
          ['Small Cap Funds', 5],
          ['Sectoral Funds', 5],
          ['Liquid Funds', 5],
          ['Fixed Deposit', 23],
          ['Bonds/NCDs', 7]
        ]);

        var options = {
          //title: 'Age 18-30',
          chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
          pieHole: 0.4,
          colors: ['#003397','#005CB9','#409BF8','#8BC5FD', '#035D0F', '#50891F', '#74B505'  ],
          backgroundColor: { fill:'transparent' },
          tooltip: {text: 'percentage'},
          legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
        };

        var chart = new google.visualization.PieChart(document.getElementById('googlechart_aggr18'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Large Cap Funds', 40],
          ['Mid Cap Funds', 10],
          ['Small Cap or Sectoral Funds', 5],
          ['Liquid Funds', 5],
          ['Fixed Deposit', 30],
          ['Bonds/NCDs', 10]
        ]);

        var options = {
          //title: 'Age 31-50',
          chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
          pieHole: 0.4,
          colors: ['#003397','#005CB9','#409BF8', '#035D0F', '#50891F', '#74B505'  ],
          backgroundColor: { fill:'transparent' },
          tooltip: {text: 'percentage'},
          legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
        };

        var chart = new google.visualization.PieChart(document.getElementById('googlechart_aggr31'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Large Cap Funds', 35],
          ['Mid Cap Funds', 10],
          ['Sectoral Funds', 5],
          ['Liquid Funds', 5],
          ['Fixed Deposit', 35],
          ['Bonds/NCDs', 10]
        ]);

        var options = {
          //title: 'Age 51-65',
          chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
          pieHole: 0.4,
          colors: ['#003397','#005CB9','#409BF8', '#035D0F', '#50891F', '#74B505'  ],
          backgroundColor: { fill:'transparent' },
          tooltip: {text: 'percentage'},
          legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
        };

        var chart = new google.visualization.PieChart(document.getElementById('googlechart_aggr51'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Large Cap Funds', 25],
          ['Mid Cap Funds', 5],
          ['Liquid Funds', 5],
          ['Fixed Deposit', 45],
          ['Bonds/NCDs', 20]
        ]);

        var options = {
          //title: 'Age 65+',
          chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
          pieHole: 0.4,
          colors: ['#003397','#005CB9', '#035D0F', '#50891F', '#74B505'  ],
          backgroundColor: { fill:'transparent' },
          tooltip: {text: 'percentage'},
          legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
        };

        var chart = new google.visualization.PieChart(document.getElementById('googlechart_aggr65'));
        chart.draw(data, options);
      }
    </script>

<!--   CHART FOR AGGRESSIVE END  -->

<!--   CHART FOR VERY AGGRESSIVE   -->

<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Large Cap Funds', 40],
          ['Mid Cap Funds', 20],
          ['Small Cap Funds', 7.5],
          ['Sectoral Funds', 7.5],
          ['Liquid Funds', 5],
          ['Fixed Deposit', 15],
          ['Bonds/NCDs', 5]
        ]);

        var options = {
          //title: 'Age 18-30',
          chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
          pieHole: 0.4,
          colors: ['#003397','#005CB9','#409BF8','#8BC5FD', '#035D0F', '#50891F', '#74B505'  ],
          backgroundColor: { fill:'transparent' },
          tooltip: {text: 'percentage'},
          legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
        };

        var chart = new google.visualization.PieChart(document.getElementById('googlechart_vaggr18'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Large Cap Funds', 38],
          ['Mid Cap Funds', 17],
          ['Small Cap or Sectoral Funds', 10],
          ['Liquid Funds', 5],
          ['Fixed Deposit', 20],
          ['Bonds/NCDs', 10]
        ]);

        var options = {
          //title: 'Age 31-50',
          chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
          pieHole: 0.4,
          colors: ['#003397','#005CB9','#409BF8', '#035D0F', '#50891F', '#74B505'  ],
          backgroundColor: { fill:'transparent' },
          tooltip: {text: 'percentage'},
          legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
        };

        var chart = new google.visualization.PieChart(document.getElementById('googlechart_vaggr31'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Large Cap Funds', 35],
          ['Mid Cap Funds', 15],
          ['Small Cap or Sectoral Funds', 10],
          ['Liquid Funds', 5],
          ['Fixed Deposit', 28],
          ['Bonds/NCDs', 7],
        ]);

        var options = {
          //title: 'Age 51-65',
          chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
          pieHole: 0.4,
          colors: ['#003397','#005CB9','#409BF8', '#035D0F', '#50891F', '#74B505'  ],
          backgroundColor: { fill:'transparent' },
          tooltip: {text: 'percentage'},
          legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
        };

        var chart = new google.visualization.PieChart(document.getElementById('googlechart_vaggr51'));
        chart.draw(data, options);
      }
    </script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Large Cap Funds', 27],
          ['Mid Cap Funds', 8],
          ['Liquid Funds', 5],
          ['Fixed Deposit', 43],
          ['Bonds/NCDs', 17]
        ]);

        var options = {
          //title: 'Age 65+',
          chartArea:{left:"10%",top:"10%",width:"85%",height:"85%"},
          pieHole: 0.4,
          colors: ['#003397','#005CB9', '#035D0F', '#50891F', '#74B505'  ],
          backgroundColor: { fill:'transparent' },
          tooltip: {text: 'percentage'},
          legend:{textStyle:{fontSize:'10px', fontName:'Helvetica', color:'grey'}}
        };

        var chart = new google.visualization.PieChart(document.getElementById('googlechart_vaggr65'));
        chart.draw(data, options);
      }
    </script>


<!--   CHART FOR VERY AGGRESSIVE END  -->
 
       <script type="text/javascript">

          var href = "myTabContent1";  
              $("#myTabContent1").load(href);

        </script>


<% end %>


   <section class="general-subhead_bg">
        <div class="container">
           <div class="general-subhead">
               <h2>OPTIMUM PORTFOLIO</h2>
           </div>
        </div>
    </section>
     <!-- Gereral Subhead End -->
    
    <section>
    <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-3">
            <div class="well well-lg">
            <ul id="myTab" class="nav nav-pills nav-stacked">
                <li class="clr_primary_blue"><h4 data-toggle="tab">Risk Appetite</h4></li>
                <li class="active"><a href="#panel_conservative" data-toggle="tab">Conservative</a></li>
                <li><a href="#panel_mconservative" data-toggle="tab">Moderately Conservative</a></li>
                <li><a href="#panel_maggressive" data-toggle="tab">Moderately Aggressive</a></li>
                <li><a href="#panel_aggressive" data-toggle="tab">Aggressive</a></li>
                <li><a href="#panel_vaggressive" data-toggle="tab">Very Aggressive</a></li>   
            </ul>
            </div>
            <!-- Invest now button -->
    <div class="col-md-12 hidden-xs hidden-sm text-center pad_top1">
                <div class="button_warning">
                <% if user_signed_in? %>            
              
            <% if current_user.status == 1 %>
                <a data-toggle="modal" href="#myModal_investor"><button type="button"  class=" btn btn-warning"><span class="text">INVEST NOW!</span></button></a>
            <% elsif current_user.status == 2 %>
                <a data-toggle="modal" href="#myModal_investor_message"><button type="button"  class=" btn btn-warning"><span class="text">INVEST NOW!</span></button></a>
            <% elsif current_user.status == 3 %>
             <span><%= link_to "INVEST NOW!", invest_button_path ,method: :post, class: "btn btn-warning", target: "_blank" %></span>
            <% end %>

                <% else %>

                <span><%= link_to "INVEST NOW!", new_user_session_path ,method: :get, class: "btn btn-warning" %></span>

                <% end %>
                </div>
    </div>
          </div>


          <div class="col-sm-12 col-md-9" >

          <div id="myTabContent" class="tab-content">      

<!--  Conservative  -->
              <div class="tab-pane fade in active" id="panel_conservative">
                  <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Your primary investment goal is capital protection. You require stable growth and/or a high level of income, and access to your investment within 3 years.
                        </div>                      

                      <ul id="myTab1" class="nav nav-pills nav-justified">
                          <li class="active"><a href="#cons18" data-toggle="tab">Age 18-30</a></li>
                          <li><a href="#cons31" data-toggle="tab">Age 31-50</a></li>
                          <li><a href="#cons51" data-toggle="tab">Age 51-65</a></li>
                          <li><a href="#cons65" data-toggle="tab">Age 65+</a></li>
   
                      </ul>

                        <div class="panel-heading">
                            <div id="myTabContent1" class="tab-content">

                                <div class="tab-pane fade in active" id="cons18">
                                    <div class="row">
                                      <div class="col-sm-4">                
                                          <div class="well well-lg text-center">
                                            <div class="back_effect">                   
                                                <h2>50%</h2><h5>Equity</h5>
                                            </div>
                                            <div class="back_effect1">
                                                <h2>50%</h2><h5>Debt</h5>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                        <div class="well well-lg">
                                            <div class="row pad_right">
                        <div id="googlechart_cons18" class="risk_chart image_responsive"></div>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>


                                <div class="tab-pane fade" id="cons31">
                                    <div class="row">
                                      <div class="col-sm-4">                                        
                                          <div class="well well-lg text-center" >
                                            <div class="back_effect">                                            
                                                <h2>40%</h2><h5>Equity</h5>
                                            </div>
                                            <div class="back_effect1">
                                                <h2>60%</h2><h5>Debt</h5>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                        <div class="well well-lg">
                                            <div class="row pad_right">               
                      <div id="googlechart_cons31" class="risk_chart image_responsive"></div>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="cons51">
                                   <div class="row">
                                      <div class="col-sm-4">                                        
                                          <div class="well well-lg text-center" >
                                            <div class="back_effect">                                            
                                                <h2>35%</h2><h5>Equity</h5>
                                            </div>
                                            <div class="back_effect1">
                                                <h2>65%</h2><h5>Debt</h5>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                        <div class="well well-lg">
                                            <div class="row pad_right">
                      <div id="googlechart_cons51" class="risk_chart image_responsive"></div>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="cons65">
                                    <div class="row">
                                      <div class="col-sm-4">                                       
                                          <div class="well well-lg text-center" >
                                            <div class="back_effect">                   
                                                <h2>15%</h2><h5>Equity</h5>
                                            </div>
                                            <div class="back_effect1">
                                                <h2>85%</h2><h5>Debt</h5>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                        <div class="well well-lg">
                                            <div class="row pad_right">
                      <div id="googlechart_cons65" class="risk_chart image_responsive"></div>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>

                            </div>

                            <div class="well well-sm">

                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Equity – Large Cap</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>UTI Opportunities Fund</li>
                          <li>ICICI Prudential Focused Bluechip Equity Fund</li>
                          <li>Quantum Long Term Equity Fund</li>
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Equity – Mid and Small Cap</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>ICICI Prudential Value Discovery Fund</li>
                          <li>Franklin India Smaller Companies Fund</li>
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Debt – Liquid / Ultra Short Term</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">                                            
                          <li>Birla Sun Life Cash Plus</li>
                          <li>Escorts Liquid Fund</li>
                          <li>Franklin India Treasury Management Account Fund</li>
                          <li>ICICI Prudential Liquid Plan</li>
                          <li>JM High Liquidity Fund</li>
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Debt: Fixed Deposit / Bond /NCDs’</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">                      
                          <li>DHFL , M&amp;M, HDFC Ltd</li>
                          <li>Rest on availability</li>
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Fund: Debt – Long Term</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">                      
                          <li>Birla Sun Life Income Plus</li>
                          <li>HDFC High Interest Fund - Dynamic Plan</li>
                          <li>ICICI Prudential Income Plan</li>
                          <li>IDFC Dynamic Bond Fund</li>
                          <li>IDFC Super Saver Income Fund- Investment Plan</li>
                          <li>Reliance Dynamic Bond Fund</li>
                      </ul>    
                                          </div>
                                      </div>
                                  </div>
                              </div>



                            </div>


                        </div>
                    </div>
                  </div>

              </div>

<!--  Moderately Conservative  -->

              <div class="tab-pane fade" id="panel_mconservative">

                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Your primary investment goal is capital protection. Investors in this risk profile require fairly stable growth and/or a moderate level of income. Your investment term is 3 years or more.</div>                      

                      <ul id="myTab2" class="nav nav-pills nav-justified">
                          <li class="active"><a href="#mcons18" data-toggle="tab">Age 18-30</a></li>
                          <li><a href="#mcons31" data-toggle="tab">Age 31-50</a></li>
                          <li><a href="#mcons51" data-toggle="tab">Age 51-65</a></li>
                          <li><a href="#mcons65" data-toggle="tab">Age 65+</a></li>
   
                      </ul>

                        <div class="panel-heading">
                            <div id="myTabContent1" class="tab-content">

                                <div class="tab-pane fade in active" id="mcons18">
                                    <div class="row">
                                      <div class="col-sm-4">                                        
                                          <div class="well well-lg text-center" >
                                            <div class="back_effect">                                            
                                                <h2>55%</h2><h5>Equity</h5>
                                            </div>
                                            <div class="back_effect1">
                                                <h2>45%</h2><h5>Debt</h5>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                        <div class="well well-lg">
                                            <div class="row pad_right">
                            <div id="googlechart_mcons18" class="risk_chart image_responsive"></div>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>


                                <div class="tab-pane fade" id="mcons31">
                                    <div class="row">
                                      <div class="col-sm-4">                                        
                                          <div class="well well-lg text-center" >
                                            <div class="back_effect">                                            
                                                <h2>45%</h2><h5>Equity</h5>
                                            </div>
                                            <div class="back_effect1">
                                                <h2>55%</h2><h5>Debt</h5>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                          <div class="well well-lg">
                                              <div class="row pad_right">
                          <div id="googlechart_mcons31" class="risk_chart image_responsive"></div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="mcons51">
                                   <div class="row">
                                      <div class="col-sm-4">                                        
                                          <div class="well well-lg text-center" >
                                            <div class="back_effect">                                            
                                                <h2>40%</h2><h5>Equity</h5>
                                            </div>
                                            <div class="back_effect1">
                                                <h2>60%</h2><h5>Debt</h5>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                          <div class="well well-lg">
                                              <div class="row pad_right">
                          <div id="googlechart_mcons51" class="risk_chart image_responsive"></div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="mcons65">
                                    <div class="row">
                                      <div class="col-sm-4">                                       
                                          <div class="well well-lg text-center" >
                                            <div class="back_effect">                                            
                                                <h2>20%</h2><h5>Equity</h5>
                                            </div>
                                            <div class="back_effect1">
                                                <h2>80%</h2><h5>Debt</h5>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                          <div class="well well-lg">
                                              <div class="row pad_right">          
                          <div id="googlechart_mcons65" class="risk_chart image_responsive"></div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                </div>
                            </div>

                            <div class="well well-sm">

                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Equity – Large Cap</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>ICICI Prudential Focused Bluechip Equity Fund</li>
                          <li>Quantum Long Term Equity Fund</li>
                          <li>UTI Equity Fund</li>
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Equity – Mid and Small Cap</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">                        
                          <li>Religare Invesco Mid N Small Cap Fund</li>
                          <li>Franklin India Smaller Companies Fund</li>
                      </ul>      
                                          </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Debt – Liquid / Ultra Short Term</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>Birla Sun Life Cash Plus</li>
                          <li>Escorts Liquid Fund</li>
                          <li>Franklin India Treasury Management Account Fund</li>
                          <li>ICICI Prudential Liquid Plan</li>
                          <li>JM High Liquidity Fund</li>
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Debt: Fixed Deposit / Bond /NCDs’</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>DHFL , M&amp;M,HDFC Ltd</li>
                          <li>Rest on availability</li>
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Fund: Debt – Long Term</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>Birla Sun Life Income Plus</li>
                          <li>HDFC High Interest Fund - Dynamic Plan</li>
                          <li>ICICI Prudential Income Plan</li>
                          <li>IDFC Dynamic Bond Fund</li>
                          <li>IDFC Super Saver Income Fund- Investment Plan</li>
                          <li>Reliance Dynamic Bond Fund</li>
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>



                            </div>


                        </div>
                    </div>
                  </div>
                  
              </div>

<!--  Moderately Aggressive  -->

              <div class="tab-pane fade" id="panel_maggressive">
                  
                  <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Your primary investment goal is capital growth. You can tolerate some fluctuations in the value of your investment in the anticipation of a higher return. You don't require an income and you are prepared to invest for 5 years or more.</div>                      

                      <ul id="myTab2" class="nav nav-pills nav-justified">
                          <li class="active"><a href="#maggr18" data-toggle="tab">Age 18-30</a></li>
                          <li><a href="#maggr31" data-toggle="tab">Age 31-50</a></li>
                          <li><a href="#maggr51" data-toggle="tab">Age 51-65</a></li>
                          <li><a href="#maggr65" data-toggle="tab">Age 65+</a></li>
   
                      </ul>

                        <div class="panel-heading">
                            <div id="myTabContent1" class="tab-content">

                                <div class="tab-pane fade in active" id="maggr18">
                                    <div class="row">
                                      <div class="col-sm-4">                                        
                                          <div class="well well-lg text-center" >
                                            <div class="back_effect">                                            
                                                <h2>60%</h2><h5>Equity</h5>
                                            </div>
                                            <div class="back_effect1">
                                                <h2>40%</h2><h5>Debt</h5>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                          <div class="well well-lg">
                                              <div class="row pad_right">
                          <div id="googlechart_maggr18" class="risk_chart image_responsive"></div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                </div>


                                <div class="tab-pane fade" id="maggr31">
                                    <div class="row">
                                      <div class="col-sm-4">                                        
                                          <div class="well well-lg text-center" >
                                            <div class="back_effect">                                            
                                                <h2>50%</h2><h5>Equity</h5>
                                            </div>
                                            <div class="back_effect1">
                                                <h2>50%</h2><h5>Debt</h5>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                          <div class="well well-lg">
                                              <div class="row pad_right">
                          <div id="googlechart_maggr31" class="risk_chart image_responsive"></div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="maggr51">
                                   <div class="row">
                                      <div class="col-sm-4">                                        
                                          <div class="well well-lg text-center" >
                                            <div class="back_effect">                                            
                                                <h2>45%</h2><h5>Equity</h5>
                                            </div>
                                            <div class="back_effect1">
                                                <h2>55%</h2><h5>Debt</h5>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                          <div class="well well-lg">
                                              <div class="row pad_right">
                          <div id="googlechart_maggr51" class="risk_chart image_responsive"></div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="maggr65">
                                    <div class="row">
                                      <div class="col-sm-4">                                       
                                          <div class="well well-lg text-center" >
                                            <div class="back_effect">                                            
                                                <h2>25%</h2><h5>Equity</h5>
                                            </div>
                                            <div class="back_effect1">
                                                <h2>75%</h2><h5>Debt</h5>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                          <div class="well well-lg">
                                              <div class="row pad_right">          
                          <div id="googlechart_maggr65" class="risk_chart image_responsive"></div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                </div>
                            </div>

                            <div class="well well-sm">

                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Equity – Large Cap</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>Quantum Long Term Equity Fund</li>
                          <li>UTI Equity Fund</li>
                          <li>L&amp;T Equity Fund</li>
                      </ul>                    </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Equity – Mid and Small Cap</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>Religare Invesco Mid N Small Cap Fund</li>
                          <li>Reliance Small Cap Fund</li>
                      </ul>
                                        </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Debt – Liquid / Ultra Short Term</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>Birla Sun Life Cash Plus</li>
                          <li>Escorts Liquid Fund</li>
                          <li>Franklin India Treasury Management Account Fund</li>
                          <li>ICICI Prudential Liquid Plan</li>
                          <li>JM High Liquidity Fund</li>
                      </ul>                    </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Debt: Fixed Deposit / Bond /NCDs’</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>DHFL , M&amp;M, HDFC Ltd</li>
                          <li>Rest on availability</li>
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Fund: Debt – Long Term</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>Birla Sun Life Income Plus</li>
                          <li>HDFC High Interest Fund - Dynamic Plan</li>
                          <li>ICICI Prudential Income Plan</li>
                          <li>IDFC Dynamic Bond Fund</li>
                          <li>IDFC Super Saver Income Fund- Investment Plan</li>
                          <li>Reliance Dynamic Bond Fund</li>
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>



                            </div>


                        </div>
                    </div>
                  </div>


              </div>

<!--  Aggressive  --> 

              <div class="tab-pane fade" id="panel_aggressive">
                  
                  <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Your primary investment goal is capital growth. Investors in this risk profile can tolerate a fair level of fluctuations in the value of you investment in anticipation of possible higher returns. You don't require an income and you are prepared to invest for 5 to 10 years.</div>                      

                      <ul id="myTab2" class="nav nav-pills nav-justified">
                          <li class="active"><a href="#aggr18" data-toggle="tab">Age 18-30</a></li>
                          <li><a href="#aggr31" data-toggle="tab">Age 31-50</a></li>
                          <li><a href="#aggr51" data-toggle="tab">Age 51-65</a></li>
                          <li><a href="#aggr65" data-toggle="tab">Age 65+</a></li>
   
                      </ul>

                        <div class="panel-heading">
                            <div id="myTabContent1" class="tab-content">

                                <div class="tab-pane fade in active" id="aggr18">
                                    <div class="row">
                                      <div class="col-sm-4">                                        
                                          <div class="well well-lg text-center" >
                                            <div class="back_effect">                                            
                                                <h2>65%</h2><h5>Equity</h5>
                                            </div>
                                            <div class="back_effect1">
                                                <h2>35%</h2><h5>Debt</h5>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                          <div class="well well-lg">
                                              <div class="row pad_right">
                          <div id="googlechart_aggr18" class="risk_chart image_responsive"></div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                </div>


                                <div class="tab-pane fade" id="aggr31">
                                    <div class="row">
                                      <div class="col-sm-4">                                        
                                          <div class="well well-lg text-center" >
                                            <div class="back_effect">                                            
                                                <h2>55%</h2><h5>Equity</h5>
                                            </div>
                                            <div class="back_effect1">
                                                <h2>45%</h2><h5>Debt</h5>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                          <div class="well well-lg">
                                              <div class="row pad_right">
                          <div id="googlechart_aggr31" class="risk_chart image_responsive"></div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="aggr51">
                                   <div class="row">
                                      <div class="col-sm-4">                                        
                                          <div class="well well-lg text-center" >
                                            <div class="back_effect">                                            
                                                <h2>50%</h2><h5>Equity</h5>
                                            </div>
                                            <div class="back_effect1">
                                                <h2>50%</h2><h5>Debt</h5>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                          <div class="well well-lg">
                                              <div class="row pad_right">
                          <div id="googlechart_aggr51" class="risk_chart image_responsive"></div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="aggr65">
                                    <div class="row">
                                      <div class="col-sm-4">                                       
                                          <div class="well well-lg text-center" >
                                            <div class="back_effect">                                            
                                                <h2>30%</h2><h5>Equity</h5>
                                            </div>
                                            <div class="back_effect1">
                                                <h2>70%</h2><h5>Debt</h5>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                          <div class="well well-lg">
                                              <div class="row pad_right">          
                          <div id="googlechart_aggr65" class="risk_chart image_responsive"></div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                </div>
                            </div>

                            <div class="well well-sm">

                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Equity – Large Cap</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>UTI Equity Fund</li>
                          <li>L&amp;T Equity Fund</li>
                          <li>Birla Sun Life Frontline Equity Fund</li>
                      </ul>                    </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Equity – Mid and Small Cap</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>Reliance Small Cap Fund</li>
                          <li>SBI Magnum Mid Cap Fund</li>
                          <li>Birla Sun Life Pure Value Fund</li>
                      </ul>                    </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Debt – Liquid / Ultra Short Term</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>Birla Sun Life Cash Plus</li>
                          <li>Escorts Liquid Fund</li>
                          <li>Franklin India Treasury Management Account Fund</li>
                          <li>ICICI Prudential Liquid Plan</li>
                          <li>JM High Liquidity Fund</li>                          
                      </ul>                    
                                          </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Debt: Fixed Deposit / Bond /NCDs’</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>DHFL , M&amp;M, HDFC Ltd</li>
                          <li>Rest on availability</li>
                      </ul>                    </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Fund: Debt – Long Term</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>Birla Sun Life Income Plus</li>
                          <li>HDFC High Interest Fund - Dynamic Plan</li>
                          <li>ICICI Prudential Income Plan</li>
                          <li>IDFC Dynamic Bond Fund</li>
                          <li>IDFC Super Saver Income Fund- Investment Plan</li>
                          <li>Reliance Dynamic Bond Fund</li>
                      </ul>                
                                          </div>
                                      </div>
                                  </div>
                              </div>



                            </div>


                        </div>
                    </div>
                  </div>


              </div>

<!--  Very Aggressive  --> 

              <div class="tab-pane fade" id="panel_vaggressive">

                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Your primary investment goal is long-term capital growth. You can tolerate substantial fluctuations in the value of your investment in the short-term in anticipation of the highest possible return over a period of 10 years or more.</div>                      

                      <ul id="myTab2" class="nav nav-pills nav-justified">
                          <li class="active"><a href="#vaggr18" data-toggle="tab">Age 18-30</a></li>
                          <li><a href="#vaggr31" data-toggle="tab">Age 31-50</a></li>
                          <li><a href="#vaggr51" data-toggle="tab">Age 51-65</a></li>
                          <li><a href="#vaggr65" data-toggle="tab">Age 65+</a></li>
   
                      </ul>

                        <div class="panel-heading">
                            <div id="myTabContent1" class="tab-content">

                                <div class="tab-pane fade in active" id="vaggr18">
                                    <div class="row">
                                      <div class="col-sm-4">                                        
                                          <div class="well well-lg text-center" >
                                            <div class="back_effect">                                            
                                                <h2>75%</h2><h5>Equity</h5>
                                            </div>
                                            <div class="back_effect1">
                                                <h2>25%</h2><h5>Debt</h5>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                          <div class="well well-lg">
                                              <div class="row pad_right">
                          <div id="googlechart_vaggr18" class="risk_chart image_responsive"></div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                </div>


                                <div class="tab-pane fade" id="vaggr31">
                                    <div class="row">
                                      <div class="col-sm-4">                                        
                                          <div class="well well-lg text-center" >
                                            <div class="back_effect">                                            
                                                <h2>65%</h2><h5>Equity</h5>
                                            </div>
                                            <div class="back_effect1">
                                                <h2>35%</h2><h5>Debt</h5>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                          <div class="well well-lg">
                                              <div class="row pad_right">
                          <div id="googlechart_vaggr31" class="risk_chart image_responsive"></div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="vaggr51">
                                   <div class="row">
                                      <div class="col-sm-4">                                        
                                          <div class="well well-lg text-center" >
                                            <div class="back_effect">                                            
                                                <h2>60%</h2><h5>Equity</h5>
                                            </div>
                                            <div class="back_effect1">
                                                <h2>40%</h2><h5>Debt</h5>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                          <div class="well well-lg">
                                              <div class="row pad_right">
                          <div id="googlechart_vaggr51" class="risk_chart image_responsive"></div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="vaggr65">
                                    <div class="row">
                                      <div class="col-sm-4">                                       
                                          <div class="well well-lg text-center" >
                                            <div class="back_effect">                                            
                                                <h2>35%</h2><h5>Equity</h5>
                                            </div>
                                            <div class="back_effect1">
                                                <h2>65%</h2><h5>Debt</h5>
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-sm-8">
                                          <div class="well well-lg">
                                              <div class="row pad_right">          
                          <div id="googlechart_vaggr65" class="risk_chart image_responsive"></div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                </div>
                            </div>

                            <div class="well well-sm">

                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Equity – Large Cap</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>L&amp;T Equity Fund</li>
                          <li>Birla Sun Life Frontline Equity Fund</li>
                          <li>HDFC Top 200 Fund</li>
                      </ul>                    </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Equity – Mid and Small Cap</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>Birla Sun Life Pure Value Fund</li>
                          <li>Canara Robeco Emerging Equities Fund</li>
                          <li>DSP BlackRock Micro Cap Fund</li>
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Funds: Debt – Liquid / Ultra Short Term</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>Birla Sun Life Cash Plus</li>
                          <li>Escorts Liquid Fund</li>
                          <li>Franklin India Treasury Management Account Fund</li>
                          <li>ICICI Prudential Liquid Plan</li>
                          <li>JM High Liquidity Fund</li>
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Debt: Fixed Deposit / Bond /NCDs’</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>DHFL , M&amp;M, HDFC Ltd</li>
                          <li>Rest on availability</li>
                      </ul>                    </div>
                                      </div>
                                  </div>
                              </div>


                              <div class="well well-sm">
                                  <div class="row">
                                      <div class="col-sm-12">                                    
                                          <div class="row col-sm-5">
                          <div class="list-group-item list-group-item-success">
                            <h5>Mutual Fund: Debt – Long Term</h5>
                          </div>
                                          </div>
                                          <div class="col-sm-7">
                      <ul class="row">
                          <li>Birla Sun Life Income Plus</li>
                          <li>HDFC High Interest Fund - Dynamic Plan</li>
                          <li>ICICI Prudential Income Plan</li>
                          <li>IDFC Dynamic Bond Fund</li>
                          <li>IDFC Super Saver Income Fund- Investment Plan</li>
                          <li>Reliance Dynamic Bond Fund</li>
                      </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>



                            </div>


                        </div>
                    </div>
                  </div>                  


              </div>
              <!-- end very aggr -->

          </div>

          <!-- Invest now button -->
    <div class="col-xs-12 col-sm-12 hidden-md hidden-lg text-center pad_top1">
                <div class="button_warning">
                <% if user_signed_in? %>            
              
            <% if current_user.status == 1 %>
                <a data-toggle="modal" href="#myModal_investor"><button type="button"  class=" btn btn-warning"><span class="text">INVEST NOW!</span></button></a>
            <% elsif current_user.status == 2 %>
                <a data-toggle="modal" href="#myModal_investor_message"><button type="button"  class=" btn btn-warning"><span class="text">INVEST NOW!</span></button></a>
            <% elsif current_user.status == 3 %>
             <span><%= link_to "INVEST NOW!", invest_button_path ,method: :post, class: "btn btn-warning", target: "_blank" %></span>
            <% end %>

                <% else %>

                <span><%= link_to "INVEST NOW!", new_user_session_path ,method: :get, class: "btn btn-warning" %></span>

                <% end %>
                </div>
    </div>

          </div>
      </div>
    </div>       
    </section>

