   <div class="general-subhead">
       <h2>SIGN IN</h2>
   </div>
    
    <section >
        <div class="container">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="row well">                    
                    <div class="row ">
                        <div class="col-sm-12 text-center">
                            <img src="/assets/login_facebook1.png" class="image_responsive" alt="Facebook Login">
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-12 text-center">
                            <h2>OR</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">                    
                            <img src="/assets/login_google.png" class="image_responsive" alt="Google Login">
                        </div> 
                    </div>  
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>




           </div> 
        </section>
       
    <script src="/assets/jquery-1.10.2.js"></script>
    <script src="/assets/bootstrap.js"></script>
    <script src="/assets/custom.js"></script>
   

<!-- <form>
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"> Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <ul class="list-unstyled">
                            <li>
                                <a href="/sign_up">SIGN UP</a>
                            </li> 
                            <li>
                                <a href="#">FORGOT YOUR PASSWORD?</a>
                            </li>
                            <li>
                                <a href="#">DIDN'T RECEIVE CONFIRMATION INSTRUCTIONS?</a>
                            </li>                                          
                        </ul>


                </form> -->