<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<body>

   <div class="general-subhead">
       <h2>SIGN UP</h2>
   </div>
     <!--./ Gereral Subhead End -->
    
    <section >
        <div class="container">
            <div class="row ">
                <div class="col-lg-6 col-sm-6">
                <div class="col-lg-8 col-sm-8">
                <form>
                    <div class="form-group">
                        <label for="inputName">Name</label>
                        <input type="text" class="form-control" id="inputName" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password Confirmation</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Retype Password">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox"> Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                    <ul class="list-unstyled">
                            <li>
                                <a href="/sign_in">SIGN IN</a>
                            </li> 
                            <li>
                                <a href="#">DIDN'T RECEIVE CONFIRMATION INSTRUCTIONS?</a>
                            </li>                                          
                        </ul>


                </form>
                     
                </div></div>

                <div class="col-lg-6 col-sm-6">
                    <div class="col-lg-12 col-lg-offset-1 col-sm-12 col-sm-offset-1">
                        <img src="/assets/google_logo.png" class="img-responsive " alt="">
                    </div>
                    <h2>Sign in with Gmail</h2>
                </div>  
            </div>




           </div> 
        </section>
       

    <!--  Jquery Core Script -->
    <script src="/assets/jquery-1.10.2.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="/assets/bootstrap.js"></script>
        <!--  Custom Scripts -->
    <script src="/assets/custom.js"></script>
   
</body>
</html>

