<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
function drawChart() {
  var dataTable = new google.visualization.DataTable();
  dataTable.addColumn('string', 'Funds');
  dataTable.addColumn('number', 'Percentage');
  dataTable.addColumn({type: 'string', role: 'annotation'});
  dataTable.addColumn({type: 'string', role: 'style'});

  dataTable.addRows([
    ['ELSS', 17.5, '17.5%','#FF8B00'],
    ['FD', 9.0,'9.0%', '#FF2D00'],
    ['PPF', 8.5,'8.5%','#0C8E86'],
    ['NSC', 8.5,'8.5%','#0779CF'],
    ['LIC', 6.0,'6.0%','#27486B']
  ]);

var view = new google.visualization.DataView(dataTable);
    view.setColumns([0, 1, 3, {
        type: 'number',        
        calc: function (dt, row) {
            return 0;
        }
    },2]);

  var options = {
    title: '5 Years Return', titleTextStyle: {color: '#ffffff'},
    titlePosition: 'center',
    hAxis: {title: 'Past performances are not indicative of future returns ', titleTextStyle: {color: '#3366CC'},
            textStyle: {
                    fontName: 'Comic Sans MS',
                     fontSize: 10,
                     bold: true,
                    // italic: true,
                      color: '#ffffff',     // The color of the text.
                    //opacity: 0.8          // The transparency of the text.
                    }
              },

    vAxis: {gridlines: {color: 'transparent', count: 0}, minValue: 0},
    tooltip: {trigger: 'none'},
    legend: 'none',
    backgroundColor: { fill:'transparent' },
    isStacked: true,
    annotations: {
          textStyle: {
        fontName: 'Lucida Fax',
         fontSize: 12,
         bold: true,
        // italic: true,
          color: '#fff',     // The color of the text.
          auraColor: 'transparent', // The color of the text outline.
        //opacity: 0.8          // The transparency of the text.
        }
      }
  };
  var chart = new google.visualization.ColumnChart(document.getElementById('e_lcf'));
  chart.draw(view, options);
  $("text:contains(" + options.title + ")").attr({'x':'250', 'y':'50'})
}


    </script>

    <script src="/assets/jquery-1.10.2.js"></script>
 <script src="http://code.highcharts.com/highcharts.js"></script>
<!-- <script src="http://code.highcharts.com/modules/exporting.js"></script> -->

<script type="text/javascript">
$(function () {
    Highcharts.setOptions({
        lang: {
            numericSymbols: ['thousands', '' ]
        }
    });

    $('#comparison_chart').highcharts({
        chart: {            
            backgroundColor: 'rgba(0,0,0,0)',            
        },

        credits: {
            enabled: false
        },

        title: {
            text: 'Comparison Of Investments Tax Deductible Under 80C',
            x: -20 //center
        },
        // subtitle: {
        //     text: 'Subheading',
        //     x: -20
        // },        
        
        xAxis: {
            categories: ['2015', '2017', '2019', '2021', '2023', '2025',
                '2027', '2029', '2031', '2033', '2035', '2037', '2039']
        },
        yAxis: {            
                       
            title: {
                text: 'Rs. in 10 Lacs (₹)'
            },            
            gridLineWidth: 0,
            minorGridLineWidth: 0,
            min: 0,
            max: 60000000,
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }],
        },
        tooltip: {
            valuePrefix: '₹'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'ELSS',
            data: [176250, 626679, 1248552, 2107126, 3292495, 4929045, 7188506, 10307975, 14614792, 20560890, 28770223, 40104233,55752250]
        }, {
            name: 'BANK FD',
            data: [159450, 509118.9071, 904233.9323, 1350701.662, 1855196.357, 2425259.722, 3069413.653, 3797287.626, 4619762.651, 5549133.933, 6599294.671, 7785943.75, 9126820.424]
        }, {
            name: 'PPF',
            data: [162750, 530927.1188, 964354.4274, 1474595.891, 2075264.898, 2782387.469, 3614829.838, 4594801.806, 5748449.306, 7106551.985, 8705344.41, 10587482.82, 12803183.22]
        }, {
            name: 'NSC',
            data: [158925, 505705.7467, 894981.0929, 1331958.337, 1822482.882, 2373116.428, 2991224.746, 3685076.211, 4463952.409, 5338272.291, 6319731.549, 7421459.071, 8658192.558]
        }, {
            name: 'LIC',
            data: [159000, 506192.4, 896297.7806, 1334620.186, 1827119.241, 2380491.18, 3002259.889, 3700879.212, 4485847.882, 5367838.681, 6358843.541, 7472336.603, 8723457.407]
        }]
    });
});
</script>

</head>
<body>

   <div class="general-subhead">
       <h2>TAX EFFICIENT INVESTING</h2>
   </div>
     <!--./ Gereral Subhead End -->
    <section class="section-divider4 textdivider4 divider4" >        
        <div class="container">
            <div class="row clearfix">
                <div class="col-sm-12 column text-justify text-center">                    
                    <h1>It is criminal NOT to save tax under sec 80C!</h1>
                    <p>No disclaimers. You’re not financially smart if you don’t save tax under Sec 80C. Simple!</p>
                </div>
                
            </div>
        </div> 
    </section>

    <section>
      <div class="container"> 
        <div class="row">            
            <div class="col-sm-6 column text-justify">
              <h3><b>What is 80C ?</b></h3>
            <p>It is a section of the Indian Income Tax Act which allows you to reduce your taxable income by upto Rs. 1,50,000 (savings of Rs. 45,000) by investing in a certified 80C Tax Saving product. Some of you might be thinking, I earn a lot already / who will take so much pain / I have a valid reason n all that. Trust me, irrespective of how much you earn, how much you save, how much you invest, <b>You Should Always Save Tax. Don’t Evade, Save!</b></p>
            <p>There are a number of assets than an individual can invest in to reduce their tax liability in the current year and simultaneously built wealth. Find below a comparison of the most popular assets that are tax exempt under 80C.</p>
            </div>
            <div class="col-sm-6 column text-justify pad_top1">
                <div id="e_lcf" class="chart_back" style="height: 270px; width: 100%;"></div>
                <!-- <p class="font_p83">Comparison of all the tax deductible investments  are presented above, We have an obvious choice.</p> --> 
            </div>
        </div>
      </div> 
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-8 column pad_top1">
              <table class="table table-responsive">
    <thead class="table_head">
        <tr>
            <th></th>
            <th class="text-center">ELSS</th>
            <th class="text-center">BANK FD</th>
            <th class="text-center">PPF</th>
            <th class="text-center">NSC</th>
            <th class="text-center">LIC</th>
        </tr>
    </thead>
    <tbody class="table_bot text-center">
        <tr>
            <td class="text-left">Pre Tax Returns</td>
            <td>17.5%</td>
            <td>9%</td>
            <td>8.5%</td>
            <td>8.5%</td>
            <td>6%</td>
        </tr>
        <tr>
            <td class="text-left">Tax Liability</td>
            <td>No Tax</td>
            <td>Interest is taxable</td>
            <td>No Tax</td>
            <td>Interest is taxable</td>
            <td>No Tax</td>
        </tr>
        <tr>
            <td class="text-left">Post Tax Return</td>
            <td>17.5%</td>
            <td>6.3%</td>
            <td>8.5%</td>
            <td>5.95%</td>
            <td>6%</td>
        </tr>
        <tr>
            <td class="text-left">Minimum Lock in period</td>
            <td>3 Years</td>
            <td>5 Years</td>
            <td>15 Years</td>
            <td>5 To 10 Years</td>
            <td>5 Years</td>
        </tr>
        
    </tbody>
</table>
<span class="font_p83">Returns based on historical data. Past performances are not indicative of future returns.</span>
          </div>
          <div class="col-sm-4 column text-justify">            
            <h4 class="text-center">Benefits of investing in ELSS</h4>
            <ul class="row">    
                <li>Gives the highest return and with inflation numbers close to double digits the only investment, which can beat inflation.</li>
                <li>No Tax liability</li>
                <li>Minimum Lock in period</li>      
           </ul>
           <div class="text-right">
           <% if user_signed_in? %>
                  <span> <a href="/invest"> <button class="btn btn-primary" type="button">INVEST NOW!</button></a></span>
            <% else %>
                  <span> <a href="/users/sign_in"> <button class="btn btn-primary" type="button">LOGIN</button></a></span>
            <% end %>
           </div>
          </div>
        </div>

        </div> 
    </section>

    <section>
      <div class="container">
        <div class="row">
            <div class="col-sm-12 column">
<p><b>Return over time horizons </b><span class="font_p83">(approx. in lacs)</span></p>
                <table class="table table-responsive">
    <thead class="table_head">
        <tr>
            <th class="text-center">Time Horizon</th>
            <th class="text-center">ELSS</th>
            <th class="text-center">BANK FD</th>
            <th class="text-center">PPF</th>
            <th class="text-center">NSC</th>
            <th class="text-center">LIC</th>
        </tr>
    </thead>
    <tbody class="table_bot text-center">
        <tr>
            <td >After 5 years</td>
            <td><b>12.5</b></td>
            <td>9</td>
            <td>9.6</td>
            <td>9</td>
            <td>9</td>
        </tr>
        <tr>
            <td >After 10 years</td>
            <td><b>40</b></td>
            <td>21</td>
            <td>24</td>
            <td>21</td>
            <td>21</td>
        </tr>
        <tr>
            <td >After 15 years</td>
            <td><b>103</b></td>
            <td>38</td>
            <td>46</td>
            <td>37</td>
            <td>37</td>
        </tr>
        <tr>
            <td >After 20 years</td>
            <td><b>243</b></td>
            <td>60.5</td>
            <td>79</td>
            <td>58</td>
            <td>58.5</td>
        </tr>
        <tr>
            <td >After 25 years</td>
            <td><b>557</b></td>
            <td>91</td>
            <td>128</td>
            <td>86.5</td>
            <td>87</td>
        </tr>
    </tbody>
</table>
<span class="font_p83">Returns based on historical data. Past performances are not indicative of future returns.</span>

            </div>

            <div class="col-sm-12 pad_top2"> 
                 <div id="comparison_chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
            <div class="text-center">           
                <span><a href="/invest"> <button class="btn btn-primary" type="button">INVEST IN ELSS TODAY</button></a></span>
           </div>
        </div>

        <div class="row pad_top4"> 
            <div class="col-sm-12">
            <h3 class="text-center"><b>3 reasons why you should absolutely not miss this tax saving opportunity this year</b></h3>
            </div>
            <div class="col-sm-6 column text-justify pad_top1">            
            <p><h4><b>A penny saved is a penny earned</b></h4>
            You save upto Rs. 45,000 (if you fall under the 30% tax slab). It may not be a lot of amount for you to save, but think of it like this way, 30 min of effort can save you enough money to take a small holiday, a television set or a high end designer Handbag.</p>
            
            <p><h4><b>Investment</b></h4> Some people don’t invest at all. They say its risky, they say its too much pain, they feel they can rather spend the money now. Well think of it this way, this investment is <i>Ek Teer Do Nishaan</i>. You invest a lac and a half Rupees for your future and also get Rs. 45000 to spend this year.</p>
            <p> “Jab kam dam mein yeh mile; toh koi kharch kyu kare, investment na kare? Maan gaye aapki paar ki Nazar aur 80C, dono ko” – leaf out of Nirma Ad, Circa ‘90s.</p>
            
            <p><h4><b>Forms a part of your retirement portfolio</b></h4>
            It is a fact (from professional surveys and market studies) that <b>Indians save very less for their retirement</b>. Main reasons for that are: 1. Joint Family Culture, 2. <i>“I have done so much for my kids, they will pay me back during my retirement”</i>. <b>Sir! Open your eyes and Save ur back”</b>. Irrespective of whether kids / family support, it is superb feeling to be financially independent when you are retired. 80C gives you this beautiful gift of earmarking some funds for your retirement. Note: If you are 25 and thinking, there is still time to go, I have only two words for you, <b>Think Compounding!</b></p>
            </div>

            <div class="col-sm-6 column text-left pad_top2">
              <img src="/assets/taxefficient_img1.jpg" class="image_responsive" alt="Bonds" />
            </div>
            <div class="col-sm-12 column text-left pad_top2">
            
            <p class="text-center"><b>So, have you done your 80C investment this year?</b></p>
            <div class="text-center">           
              <span><a href="/contact"><button class="btn btn-primary" type="button">CONTACT US</button></a></span>
            </div>

            </div>
        </div>
      </div>
    </section>
           
       
    
    <!--  Jquery Core Script -->
   
    <!--  Core Bootstrap Script -->
    <script src="/assets/bootstrap.js"></script>
        <!--  Custom Scripts -->
    
   
</body>
</html>
