<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
function drawChart() {
  var dataTable = new google.visualization.DataTable();
  dataTable.addColumn('string', 'Funds');
  dataTable.addColumn('number', 'Percentage');
  dataTable.addColumn({type: 'string', role: 'annotation'});
  dataTable.addColumn({type: 'string', role: 'style'});

  dataTable.addRows([
    ['ELSS', 17.5, '17.5%','#FF8B00'],
    ['FD', 9.0,'9.0%', '#FF2D00'],
    ['PPF', 8.5,'8.5%','#0C8E86'],
    ['NSC', 8.5,'8.5%','#0779CF'],
    ['LIC', 6.0,'6.0%','#27486B']
  ]);

var view = new google.visualization.DataView(dataTable);
    view.setColumns([0, 1, 3, {
        type: 'number',        
        calc: function (dt, row) {
            return 0;
        }
    },2]);

  var options = {
    title: '5 Years Return', titleTextStyle: {color: '#ffffff'},
    titlePosition: 'center',
    hAxis: {title: 'Past performances are not indicative of future returns ', titleTextStyle: {color: '#3366CC'},
            textStyle: {
                    fontName: 'Comic Sans MS',
                     fontSize: 10,
                     bold: true,
                    // italic: true,
                      color: '#ffffff',     // The color of the text.
                    //opacity: 0.8          // The transparency of the text.
                    }
              },

    vAxis: {gridlines: {color: 'transparent', count: 0}, minValue: 0},
    tooltip: {trigger: 'none'},
    legend: 'none',
    backgroundColor: { fill:'transparent' },
    isStacked: true,
    annotations: {
          textStyle: {
        fontName: 'Lucida Fax',
         fontSize: 12,
         bold: true,
        // italic: true,
          color: '#fff',     // The color of the text.
          auraColor: 'transparent', // The color of the text outline.
        //opacity: 0.8          // The transparency of the text.
        }
      }
  };
  var chart = new google.visualization.ColumnChart(document.getElementById('e_lcf'));
  chart.draw(view, options);
  $("text:contains(" + options.title + ")").attr({'x':'250', 'y':'50'})
}


    </script>
</head>
<body>

   <div class="general-subhead">
       <h2>TAX EFFICIENT INVESTING</h2>
   </div>
     <!--./ Gereral Subhead End -->
    <section class="section-divider4 textdivider4 divider4" >        
        <div class="container">
            <div class="row clearfix">
                <div class="col-sm-12 column text-justify text-center">                    
                    <h1>It is criminal NOT to save tax under sec 80C!</h1>
                    <p>No disclaimers. You’re not financially smart if you don’t save tax under Sec 80C. Simple!</p>
                </div>
                
            </div>
        </div> 
    </section>
    <section>
      <div class="container"> 
        <div class="row">            
            <div class="col-sm-6 column text-justify">
              <h3><b>What is 80C ?</b></h3>
            <p>It is a section of the Indian Income Tax Act which allows you to reduce your taxable income by upto Rs. 1,50,000 (savings of Rs. 45,000) by investing in a certified 80C Tax Saving product. Some of you might be thinking, I earn a lot already / who will take so much pain / I have a valid reason n all that. Trust me, irrespective of how much you earn, how much you save, how much you invest, <b>You Should Always Save Tax. Don’t Evade, Save!</b></p>
            </div>
            <div class="col-sm-6 column text-justify">
                <div id="e_lcf" class="chart_back" style="height: 250px; width: 100%;"></div>
                <p class="font_p83">Comparison of all the tax deductible investments  are presented above, We have an obvious choice.</p> 
            </div>
        </div>
        <div class="row pad_top4"> 
            <div class="col-sm-12">
            <h3 class="text-center"><b>3 reasons why you should absolutely not miss this tax saving opportunity this year</b></h3>
            </div>
            <div class="col-sm-6 column text-justify pad_top1">            
            <p><h4><b>A penny saved is a penny earned</b></h4>
            You save upto Rs. 45,000 (if you fall under the 30% tax slab). It may not be a lot of amount for you to save, but think of it like this way, 30 min of effort can save you enough money to take a small holiday, a television set or a high end designer Handbag.</p>
            
            <p><h4><b>Investment</b></h4> Some people don’t invest at all. They say its risky, they say its too much pain, they feel they can rather spend the money now. Well think of it this way, this investment is <i>Ek Teer Do Nishaan</i>. You invest a lac and a half Rupees for your future and also get Rs. 45000 to spend this year.</p>
            <p> “Jab kam dam mein yeh mile; toh koi kharch kyu kare, investment na kare? Maan gaye aapki paar ki Nazar aur 80C, dono ko” – leaf out of Nirma Ad, Circa ‘90s.</p>
            
            <p><h4><b>Forms a part of your retirement portfolio</b></h4>
            It is a fact (from professional surveys and market studies) that <b>Indians save very less for their retirement</b>. Main reasons for that are: 1. Joint Family Culture, 2. <i>“I have done so much for my kids, they will pay me back during my retirement”</i>. <b>Sir! Open your eyes and Save ur back”</b>. Irrespective of whether kids / family support, it is superb feeling to be financially independent when you are retired. 80C gives you this beautiful gift of earmarking some funds for your retirement. Note: If you are 25 and thinking, there is still time to go, I have only two words for you, <b>Think Compounding!</b></p>
            </div>

            <div class="col-sm-6 column text-left pad_top2">
              <img src="/assets/taxefficient_img1.jpg" class="image_responsive" alt="Bonds" />
            </div>
            <div class="col-sm-12 column text-left pad_top2">
            
            <p class="text-center"><b>So, have you done your 80C investment this year?</b></p>

            </div>
        </div>
      </div>
    </section>
           
       
    
    <!--  Jquery Core Script -->
    <script src="/assets/jquery-1.10.2.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="/assets/bootstrap.js"></script>
        <!--  Custom Scripts -->
    <script src="/assets/custom.js"></script>
   
</body>
</html>
