<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<title>About Us - RupeeVest</title>
</head>

<body>
    <% if flash[:notice_invest] -%>
        <script type="text/javascript">    
          $(window).load(function(){
              $('#myModal_investor_message').modal('show');
          });
        </script>
    <% end -%>
    
    <section class="general-subhead_bg">
        <div class="container">
           <div class="general-subhead">
               <h2>TEAM MEMBERS</h2>
           </div>
        </div>
    </section>
     <!--./ Gereral Subhead End -->
    
    <section >
        <div class="container">            
                 <div class="hidden-sm hidden-md hidden-lg">
                    <img class="img-circle img-responsive" src="/assets/team/raghav.png" alt="Raghav" />
                    <h4>Raghav Nagarajan</h4>
                    <h5><b>Co-founder and CEO</b></h5>
                </div>
            <div class="row ">                
                <div class="col-sm-8 col-md-9 col-lg-9">
                     <h2 class="hidden-xs"><strong>Raghav Nagarajan</strong> </h2>
                    <h3 class="hidden-xs">Co-founder and CEO</h3>
                    <p class="text-justify">
                        Any discussion on math, music (#desi) and money excites Raghav. He is a true believer in value investing, does his own research and takes his time to invest his money into anything. Raghav has done his bachelors and masters in Mathematics from IIT Kharagpur. He has worked with several Indian and Global financial services firms like Barclays Capital, Edelweiss, Crisil in a diversified set of roles covering all facets of operations, technology and front office.He has cleared CFA(certified financial analyst) level 1 and 2, all 5 examinations of CFP(certified financial planner) certification, CWM(certified wealth manager) level 1 and 2. “Keep it simple” - he says.
                    </p>
                    
                </div>
                <div class="col-sm-4 col-md-3 col-lg-3"> 
                    <div class="hidden-xs hidden-sm">
                    <img class="img-rounded img-responsive" src="/assets/team/raghav.jpg" alt="Raghav" />
                    </div>
                    <div class="pad_top6 hidden-xs hidden-md hidden-lg">
                    <img class="img-rounded img-responsive" src="/assets/team/raghav.jpg" alt="Raghav" />
                    </div>
                    <br />
                    <p>
                       
                <a href="https://www.facebook.com/raghavnagarajan" target="_blank"><i class="fa fa-facebook-square fa-2x color-facebook"></i></a>
                <a href="https://twitter.com/raghavnagarajan/" target="_blank"><i class="fa fa-twitter-square fa-2x color-twitter"></i></a>
                <a href="http://www.linkedin.com/pub/raghav-nagarajan/13/a47/b65/" target="_blank"><i class="fa fa-linkedin-square fa-2x color-linkedin"></i></a>
                <a href="http://dhanhitmejari.in//" target="_blank"><i class="fa fa-rss-square fa-2x color-pinterest"></i></a>
                    
                    </p>
                </div>
              

            </div>
            <hr />
            <div class="hidden-sm hidden-md hidden-lg">
                    <img class="img-circle img-responsive" src="/assets/team/varun.png" alt="Varun" />
                    <h4>Varun Mundra</h4>
                    <h5><b>Co-founder and CTO</b></h5>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-3 col-lg-3" >
                    <div class="hidden-xs hidden-sm">
                    <img class="img-rounded img-responsive hidden-xs" src="/assets/team/varun.jpg" alt="Varun" />
                    </div>
                    <div class="pad_top2 hidden-xs hidden-md hidden-lg">
                    <img class="img-rounded img-responsive hidden-xs" src="/assets/team/varun.jpg" alt="Varun" />
                    </div>
                     
                    
                    <p class="hidden-xs pad_top1">
                       
                <a href="https://www.facebook.com/varun.mundra" target="_blank"><i class="fa fa-facebook-square fa-2x color-facebook"></i></a>
                <a href="https://twitter.com/varun_mundra/" target="_blank"><i class="fa fa-twitter-square fa-2x color-twitter"></i></a>           
                <a href="http://www.linkedin.com/pub/varun-mundra/89/b95/ba4/" target="_blank"><i class="fa fa-linkedin-square fa-2x color-linkedin"></i></a>                    
                    </p>

                </div>
                <div class="col-sm-8 col-lg-9 col-md-9"  >
                    <h2 class="hidden-xs"><strong>Varun Mundra</strong> </h2>
                    <h3 class="hidden-xs">Co-founder and CTO</h3>
                    <p class="text-justify">
                        If you want to befriend Varun, talk about poker (strictly Texas holdem). A true believer in high risk, high return strategies but cautions you to always maintain a stop loss.Varun has done his bachelors in computer science from IIT Kharagpur. He has worked with Oracle financial services and his home grown stock broking business. He has cleared CFA level 1, FRM (financial risk management) level 1 and 2 examinations. It took one call from Raghav to convince Varun that retail investment is an important problem in India and they can solve it together. “Invest regularly with discipline” – he says.
                    </p>
                     <p class="hidden-sm hidden-md hidden-lg">                       
                <a href="https://www.facebook.com/varun.mundra" target="_blank"><i class="fa fa-facebook-square fa-2x color-facebook"></i></a>
                <a href="https://twitter.com/varun_mundra/" target="_blank"><i class="fa fa-twitter-square fa-2x color-twitter"></i></a>           
                <a href="http://www.linkedin.com/pub/varun-mundra/89/b95/ba4/" target="_blank"><i class="fa fa-linkedin-square fa-2x color-linkedin"></i></a>                    
                    </p>
                    
                </div>
                
              

            </div>
           </div> 
        
     <!--./Team Style One End -->
    <!-- <div id="just-middle-row">
        <div class="container">
                <div class="row pad-top-botm">
                <div class="col-lg-12 col-md-12">
                    <h1> CHECK OUR VISION & TEAM SUPPORT</h1>
                    </div>
                </div>
            </div>
        </div> -->
     <!--./Middle Row End -->
    
        <div class="container">
            <hr />
          <!-- <div class="row pad-top-botm">
                <div class="col-lg-4 col-md-4">
                    <div class="media">
                        <div class="pull-left">
                            <i class=" fa fa-folder-open-o fa-4x rotate-icon clr-main "></i>

                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Easy To code</h3>
                            <p>
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc. 
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-power-off fa-4x rotate-icon clr-main"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Best To Use</h3>
                            <p>
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc. 
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-paperclip fa-4x rotate-icon clr-main"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Customize Friendly</h3>
                            <p>
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc. 
                                Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.
                            </p>

                        </div>
                    </div>
                </div>
            </div> -->

            <!-- <div class="row ">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2"  >
                     <h2><strong>Rupee Vest Vision</strong></h2>
                    <p>
                        Our vision is to empower every Indian to plan and execute simple investment decisions for themselves. Now sit and the comfort of your homes, plan for you life's financial goals, save and invest for them online @RupeeVest and track your investments on the fly. Stop; Think; Start RupeeVesting!
                              
                    </p>
                    </div>  
              </div> -->

  
            <!-- <div class="row ">
                <div class="col-lg-6 col-lg-offset-2  col-sm-6 col-sm-offset-2" >
                    <h2><strong>Rupee Vest Teasure</strong></h2>
                    <hr />
                     <iframe class="vedio-style" src="//www.youtube.com/embed/DqrN2kWPzPo?rel=0" ></iframe>
                </div>
            </div> -->



            <div class="row text-center pad-top-botm" >
                 <div class="col-lg-4 col-md-4 col-sm-4">
                    <img class="img-circle img-responsive" src="/assets/team/sweta.png" alt="Sweta" />
                    <h4>Sweta Gupta Bothra</h4>
                    <h5>Associate</h5>

                    <p class="text-justify">If you want to grab her attention talk about current affairs, television series or the stock exchanges. She is risk averse and weighs her pros and cons before investing. Sweta has done her bachelors from Narsee Monjee and MBA (Finance) from ICFAI Hyderabad. She has worked with MNC’s like TNS & Nielsen handling client accounts of global FMCG companies’. She has cleared CFA (Chartered financial analyst) from ICFAI and is pursuing CFA by the CFA institute (US) and is a level 2 candidate.
                    </p>
                    <p>
                       <a href="https://www.facebook.com/sweta.gupta.526" target="_blank"><i class="fa fa-facebook-square fa-2x color-facebook"></i></a>                       
                       <a href="https://plus.google.com/u/0/111896796287133956984/posts" target="_blank"><i class="fa fa-google-plus-square fa-2x color-google-plus"></i></a>
                       <a href="https://www.linkedin.com/pub/sweta-gupta/a4/a4/bb8" target="_blank"><i class="fa fa-linkedin-square fa-2x color-linkedin"></i></a>
                      

                    </p>

                </div>
              <div class="col-lg-4 col-md-4 col-sm-4" >
                    <img class="img-circle img-responsive" src="/assets/team/priyanko.png" alt="Priyanko" />
                    <h4>Priyanko Dey</h4>
                    <h5>Web Developer</h5>
                    <p class="text-justify">Priyanko has done his Post Graduation from Future Institute of Engineering and Management under WBUT.  After completing Masters in Computer Application he joined RupeeVest as a web developer. Anything which is related to programming code attracts him. He has contributed his credentials as a coder and designer in the numerous projects. In his free time, he loves to play chess. He is a fun loving guy and loves to face challenges which motivate him to take his goals to a new horizon.

                    </p>
                    <p>
                       <a href="https://www.facebook.com/priyanko.dey" target="_blank"><i class="fa fa-facebook-square fa-2x color-facebook"></i></a>                        
                       <a href="https://www.google.com/+PriyankoDey" target="_blank"><i class="fa fa-google-plus-square fa-2x color-google-plus"></i></a>
                       <a href="https://www.linkedin.com/in/priyankodey" target="_blank"><i class="fa fa-linkedin-square fa-2x color-linkedin"></i></a>                        
                    </p>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4" >
                    <img class="img-circle img-responsive" src="/assets/team/rajat.jpg" alt="Rajat" />
                    <h4>Rajat Sinha</h4>
                    <h5>Digital Marketing Executive</h5>
                    <p class="text-justify">Rajat started his career in Digital Marketing during his internship days at Rishtey Konnekt. He gained further knowledge while working on his own online magazine, The Insight. After his graduation in Mass Comm Advertising & Journalism from ISB&M, he joined RupeeVest. Beside his time on the computer, he enjoys photography, reading novels and gaming. He believes in quality outcome and creating strong brand presence over the internet. And he loves coffee!

                    </p>
                    <p>
                       <a href="https://www.facebook.com/rajatsinnha" target="_blank"><i class="fa fa-facebook-square fa-2x color-facebook"></i></a>
                        <a href="https://twitter.com/rajatsinha_/" target="_blank"><i class="fa fa-twitter-square fa-2x color-twitter"></i></a>
                        <a href="https://plus.google.com/+RajatSinha/posts" target="_blank"><i class="fa fa-google-plus-square fa-2x color-google-plus"></i></a>
                        <a href="http://in.linkedin.com/in/rajatsinha" target="_blank"><i class="fa fa-linkedin-square fa-2x color-linkedin"></i></a>
                        <a href="https://www.pinterest.com/rajatsinha/" target="_blank"><i class="fa fa-pinterest-square fa-2x color-pinterest"></i></a>

                    </p>

                </div>
                
            </div>
        </div>
        <!-- Invest now button -->
        <div class="col-sm-12 text-center">
            <div id="button_warning">  
                    <a data-toggle="modal" href="#myModal_contact"><button type="button"  class=" btn btn-warning"><span class="text">SEEK ADVICE!</span></button></a>  
            </div>
        </div>
    </section>
     <!--./Team Style Two End -->
          
    <!--  Jquery Core Script -->
    <script src="/assets/jquery-1.10.2.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="/assets/bootstrap.js"></script>        
   
</body>
</html>
