<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>RupeeVest | Top Funds</title>
    <meta name="description" content="Our selection of the best available funds in different asset classes.">
    <meta name="keywords" content="Top mutual funds, Compare Funds, Compare Funds in India, Best mutual funds, Best Peforming Mutual Funds, Fixed Deposit, Best Mutual Funds in India, Highest return mutual funds, Best large cap Mutual funds, Best Mid And Small Cap Mutual funds, Best ELSS Mutual funds, Best Sectoral Mutual funds, Best Long Term Debt Funds, Best Short Term Debt Funds, Best Ultra Short Term Debt Funds, Best Liquid Funds, Mutual Fund, MF Investment India, Mutual Fund Equity, Investment in equity, Large Cap Mutual Funds, Mid Cap Mutual Funds, ELSS MF, ElSS Mutual Funds, Invest online in mutual funds, Investing in Mutual Funds, Financial Planning, Indian Mutual Funds, Best Funds, good funds to invest, Tax efficient investing, Equities">
    <meta name="author" content="RupeeVest">

    <link href='http://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
    <link href="/assets/style.css" rel="stylesheet" />
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <!--  Jquery Core Script -->
    <script src="/assets/jquery-1.10.2.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="/assets/bootstrap.js"></script>
        <!--  Custom Scripts -->
    

    

<!-- EQUITY FUNDS -->

<!--   CHART FOR LARGE CAP FUNDS   -->
    
   <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
function drawChart() {
  var dataTable = new google.visualization.DataTable();
  dataTable.addColumn('string', 'Funds');
  dataTable.addColumn('number', 'Percentage');
  dataTable.addColumn({type: 'string', role: 'annotation'});
  dataTable.addColumn({type: 'string', role: 'style'});
  dataTable.addColumn({type: 'string', role: 'tooltip', 'p': {'html': true}});

  dataTable.addRows([
    ['L&T Equity Fund', 50.60, '50.60%','#FF8B00',
    '<div class="tooltip_chart"><b>Launch:</b><span> May-2005</span><br><b>Corpus(Rs.Cr.):</b><span>2255.83</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 6.10%</span><br>1 Year:<span class="pull-right"> 50.60%</span><br>3 Years:<span class="pull-right"> 24.00%</span><br>5 Years:<span class="pull-right"> 15.00%</span><br>Since Launch:<span class="pull-right"> 20.43%</span></div>'
    ],

    ['UTI Equity Fund', 49.10,'49.10%', '#FF2D00',
    '<div class="tooltip_chart"><b>Launch:</b><span> May-1992</span><br><b>Corpus(Rs.Cr.):</b><span>3275.59</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 5.70%</span><br>1 Year:<span class="pull-right"> 49.10%</span><br>3 Years:<span class="pull-right"> 26.60%</span><br>5 Years:<span class="pull-right"> 15.60%</span><br>Since Launch:<span class="pull-right"> 13.02%</span></div>'
    ],

    ['HDFC Top 200 Fund', 48.70,'48.70%','#0C8E86', 
    '<div class="tooltip_chart"><b>Launch:</b><span> Sep-1996</span><br><b>Corpus(Rs.Cr.):</b><span>12276.81</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 3.40%</span><br>1 Year:<span class="pull-right"> 48.70%</span><br>3 Years:<span class="pull-right"> 24.90%</span><br>5 Years:<span class="pull-right"> 14.20%</span><br>Since Launch:<span class="pull-right"> 22.77%</span></div>'
    ],

    ['Birla Sun Life Top 100 Fund ', 50.90,'50.90%','#0779CF',
    '<div class="tooltip_chart"><b>Launch:</b><span> Sep-2005</span><br><b>Corpus(Rs.Cr.):</b><span>691.15</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 7.30%</span><br>1 Year:<span class="pull-right"> 50.90%</span><br>3 Years:<span class="pull-right"> 29.00%</span><br>5 Years:<span class="pull-right"> 16.00%</span><br>Since Launch:<span class="pull-right"> 17.07%</span></div>'
    ],
    ['BNP Paribas Equity Fund', 47.30,'47.30%','#27486B',
     '<div class="tooltip_chart"><b>Launch:</b><span> Sep-2004</span><br><b>Corpus(Rs.Cr.):</b><span>372.22</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 4.60%</span><br>1 Year:<span class="pull-right"> 47.30%</span><br>3 Years:<span class="pull-right"> 26.60%</span><br>5 Years:<span class="pull-right"> 15.30%</span><br>Since Launch:<span class="pull-right"> 19.72%</span></div>'
     ]
  ]);

var view = new google.visualization.DataView(dataTable);
    view.setColumns([0, 1, 3, 4, {
        type: 'number',        
        calc: function (dt, row) {
            return 0;
        }
    },2]);

  var options = {
    title: '1 Year Return', titleTextStyle: {color: '#ffffff', fontName: 'Walter Turncoat'},
    hAxis: {title: 'Past performances are not indicative of future returns ', titleTextStyle: {color: '#3366CC', fontName: 'Walter Turncoat'},
            textStyle: {
                    fontName: 'Walter Turncoat',
                     fontSize: 10,
                    // bold: true,
                    // italic: true,
                      color: '#fff',     // The color of the text.
                    //opacity: 0.8          // The transparency of the text.
                    }
              },

    vAxis: {gridlines: {color: 'transparent', count: 0}, minValue: 0},
    tooltip: {isHtml: true},
    legend: 'none',
    backgroundColor: { fill:'transparent' },
    isStacked: true,
    annotations: {
          textStyle: {
        fontName: 'Walter Turncoat',
         fontSize: 16,
         bold: false,
        // italic: true,
          color: '#fff',     // The color of the text.
          auraColor: 'transparent', // The color of the text outline.
        //opacity: 0.8          // The transparency of the text.
        }
      }
  };
  var chart = new google.visualization.ColumnChart(document.getElementById('e_lcf'));
  chart.draw(view, options);
   $("text:contains(" + options.title + ")").attr({'x':'365', 'y':'50'})
}


    </script>
 

    
  

<!--   CHART FOR LARGE CAP FUNDS END  -->

<!--   CHART FOR MID CAP FUNDS   -->

   <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
function drawChart() {
  var dataTable = new google.visualization.DataTable();
  dataTable.addColumn('string', 'Funds');
  dataTable.addColumn('number', 'Percentage');
  dataTable.addColumn({type: 'string', role: 'annotation'});
  dataTable.addColumn({type: 'string', role: 'style'});
  dataTable.addColumn({type: 'string', role: 'tooltip', 'p': {'html': true}});

  dataTable.addRows([
    ['Birla Sun Life Pure Value Fund', 102.61, '102.61%','#FF8B00',
    '<div class="tooltip_chart"><b>Launch:</b><span> Mar-2008</span><br><b>Corpus(Rs.Cr.):</b><span>362.12</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 7.78%</span><br>1 Year:<span class="pull-right"> 102.61%</span><br>3 Years:<span class="pull-right"> 37.45%</span><br>5 Years:<span class="pull-right"> 20.84%</span><br>Since Launch:<span class="pull-right"> 21.06%</span></div>'
    ],

    ['Canara Robeco Emerging Equities Fund - Regular Plan', 99.51,'99.51%', '#FF2D00',
    '<div class="tooltip_chart"><b>Launch:</b><span> Mar-2005</span><br><b>Corpus(Rs.Cr.):</b><span>178.92</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 8.97%</span><br>1 Year:<span class="pull-right"> 99.51%</span><br>3 Years:<span class="pull-right"> 41.61%</span><br>5 Years:<span class="pull-right"> 24.69%</span><br>Since Launch:<span class="pull-right"> 18.44%</span></div>'
    ],

    ['DSP BlackRock Micro Cap Fund - Regular Plan', 102.75,'102.75%','#0C8E86', 
    '<div class="tooltip_chart"><b>Launch:</b><span> Jun-2007</span><br><b>Corpus(Rs.Cr.):</b><span>1682.46</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 9.43%</span><br>1 Year:<span class="pull-right"> 102.75%</span><br>3 Years:<span class="pull-right"> 38.62%</span><br>5 Years:<span class="pull-right"> 25.36%</span><br>Since Launch:<span class="pull-right"> 17.68%</span></div>'
    ],

    ['Franklin India\nSmaller Companies Fund', 85.86,'85.86%','#0779CF',
    '<div class="tooltip_chart"><b>Launch:</b><span> Jan-2006</span><br><b>Corpus(Rs.Cr.):</b><span>1574.6</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 6.82%</span><br>1 Year:<span class="pull-right"> 85.86%</span><br>3 Years:<span class="pull-right"> 44.22%</span><br>5 Years:<span class="pull-right"> 23.06%</span><br>Since Launch:<span class="pull-right"> 14.80%</span></div>'
    ],
    ['ICICI Prudential Value Discovery Fund - Regular Plan', 72.66,'72.66%','#27486B',
     '<div class="tooltip_chart"><b>Launch:</b><span> Aug-2004</span><br><b>Corpus(Rs.Cr.):</b><span>7690.43</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 1.82%</span><br>1 Year:<span class="pull-right"> 72.66%</span><br>3 Years:<span class="pull-right"> 36.49%</span><br>5 Years:<span class="pull-right"> 21.09%</span><br>Since Launch:<span class="pull-right"> 25.16%</span></div>'
     ]
  ]);

var view = new google.visualization.DataView(dataTable);
    view.setColumns([0, 1, 3, 4, {
        type: 'number',        
        calc: function (dt, row) {
            return 0;
        }
    },2]);

  var options = {
    title: '1 Year Return', titleTextStyle: {color: '#ffffff', fontName: 'Walter Turncoat'},
    hAxis: {title: 'Past performances are not indicative of future returns ', titleTextStyle: {color: '#3366CC', fontName: 'Walter Turncoat'},
            textStyle: {
                    fontName: 'Walter Turncoat',
                    fontSize: 10,                    
                    color: '#fff',                           
                    }
              },

    vAxis: {gridlines: {color: 'transparent', count: 0}, minValue: 0},
    tooltip: {isHtml: true},
    legend: 'none',
    backgroundColor: { fill:'transparent' },
    isStacked: true,
    annotations: {
          textStyle: {
          fontName: 'Walter Turncoat',
          fontSize: 16,
          bold: false,
          color: '#fff', 
          auraColor: 'transparent', 
        
        }
      }
  };
  var chart = new google.visualization.ColumnChart(document.getElementById('e_mcf'));
  chart.draw(view, options);
  $("text:contains(" + options.title + ")").attr({'x':'365', 'y':'50'})
}


    </script>


<!--   CHART FOR MID CAP FUNDS END  -->

<!--   CHART FOR ELSS Funds   -->

   <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
function drawChart() {
  var dataTable = new google.visualization.DataTable();
  dataTable.addColumn('string', 'Funds');
  dataTable.addColumn('number', 'Percentage');
  dataTable.addColumn({type: 'string', role: 'annotation'});
  dataTable.addColumn({type: 'string', role: 'style'});
  dataTable.addColumn({type: 'string', role: 'tooltip', 'p': {'html': true}});

  dataTable.addRows([
    ['Axis Long Term Equity Fund', 62.60, '62.60%','#FF8B00',
    '<div class="tooltip_chart"><b>Launch:</b><span> Dec-2009</span><br><b>Corpus(Rs.Cr.):</b><span>3199.00</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 6.01%</span><br>1 Year:<span class="pull-right"> 62.60%</span><br>3 Years:<span class="pull-right"> 34.63%</span><br>5 Years:<span class="pull-right"> - </span><br>Since Launch:<span class="pull-right"> 22.41%</span></div>'
    ],

    ['BNP Paribas Long Term Equity Fund', 51.58,'51.58%', '#FF2D00',
    '<div class="tooltip_chart"><b>Launch:</b><span> Jan-2006</span><br><b>Corpus(Rs.Cr.):</b><span>304.00</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 3.87%</span><br>1 Year:<span class="pull-right"> 51.58%</span><br>3 Years:<span class="pull-right"> 27.94%</span><br>5 Years:<span class="pull-right"> 16.34%</span><br>Since Launch:<span class="pull-right"> 11.52%</span></div>'
    ],

    ['Franklin India Taxshield Fund', 53.34,'53.34%','#0C8E86', 
    '<div class="tooltip_chart"><b>Launch:</b><span> Apr-1999</span><br><b>Corpus(Rs.Cr.):</b><span>1568.00</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 5.71%</span><br>1 Year:<span class="pull-right"> 53.34%</span><br>3 Years:<span class="pull-right"> 26.67%</span><br>5 Years:<span class="pull-right"> 17.04%</span><br>Since Launch:<span class="pull-right"> 26.10%</span></div>'
    ],

    ['IDBI Equity Advantage Fund - Regular Plan', 69.79,'69.79%','#0779CF',
    '<div class="tooltip_chart"><b>Launch:</b><span> Sep-2013</span><br><b>Corpus(Rs.Cr.):</b><span>187.00</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 11.59%</span><br>1 Year:<span class="pull-right"> 69.79%</span><br>3 Years:<span class="pull-right"> - </span><br>5 Years:<span class="pull-right"> - </span><br>Since Launch:<span class="pull-right">62.34%</span></div>'
    ],
    ['Reliance Tax\nSaver Fund', 84.58,'84.58%','#27486B',
     '<div class="tooltip_chart"><b>Launch:</b><span> Sep-2005</span><br><b>Corpus(Rs.Cr.):</b><span>3618.00</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 4.34%</span><br>1 Year:<span class="pull-right"> 84.58%</span><br>3 Years:<span class="pull-right"> 36.99%</span><br>5 Years:<span class="pull-right"> 20.19%</span><br>Since Launch:<span class="pull-right">17.31%</span></div>'
     ],
    ['Religare Invesco Tax Plan', 54.10,'54.10%','#BC8F8F',
     '<div class="tooltip_chart"><b>Launch:</b><span> Dec-2006</span><br><b>Corpus(Rs.Cr.):</b><span>213.00</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 4.48%</span><br>1 Year:<span class="pull-right"> 54.10%</span><br>3 Years:<span class="pull-right"> 28.35%</span><br>5 Years:<span class="pull-right"> 16.84%</span><br>Since Launch:<span class="pull-right">15.68%</span></div>'
     ]
  ]);

var view = new google.visualization.DataView(dataTable);
    view.setColumns([0, 1, 3, 4, {
        type: 'number',        
        calc: function (dt, row) {
            return 0;
        }
    },2]);

  var options = {
    title: '1 Year Return', titleTextStyle: {color: '#ffffff', fontName: 'Walter Turncoat'},
    hAxis: {title: 'Past performances are not indicative of future returns ', titleTextStyle: {color: '#3366CC', fontName: 'Walter Turncoat'},
            textStyle: {
                    fontName: 'Walter Turncoat',
                    fontSize: 10,                    
                    color: '#fff',                           
                    }
              },

    vAxis: {gridlines: {color: 'transparent', count: 0}, minValue: 0},
    tooltip: {isHtml: true},
    legend: 'none',
    backgroundColor: { fill:'transparent' },
    isStacked: true,
    annotations: {
          textStyle: {
          fontName: 'Walter Turncoat',
          fontSize: 14,
          bold: false,
          color: '#fff', 
          auraColor: 'transparent', 
        
        }
      }
  };
  var chart = new google.visualization.ColumnChart(document.getElementById('e_elss'));
  chart.draw(view, options);
  $("text:contains(" + options.title + ")").attr({'x':'365', 'y':'50'})
}


    </script>
<!--   CHART FOR ELSS FUNDS END  -->

<!--   CHART FOR SECTORAL FUNDS   -->
     <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
function drawChart() {
  var dataTable = new google.visualization.DataTable();
  dataTable.addColumn('string', 'Funds');
  dataTable.addColumn('number', 'Percentage');
  dataTable.addColumn({type: 'string', role: 'annotation'});
  dataTable.addColumn({type: 'string', role: 'style'});
  dataTable.addColumn({type: 'string', role: 'tooltip', 'p': {'html': true}});

  dataTable.addRows([
    ['SBI Pharma Fund', 54.89, '54.89%','#FF8B00',
    '<div class="tooltip_chart"><b>Launch:</b><span> Jul-1999</span><br><b>Corpus(Rs.Cr.):</b><span>358.00</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 6.38%</span><br>1 Year:<span class="pull-right"> 54.89%</span><br>3 Years:<span class="pull-right"> 37.52%</span><br>5 Years:<span class="pull-right"> 26.36%</span><br>Since Launch:<span class="pull-right"> 19.04%</span></div>'
    ],

    ['Reliance Pharma Fund', 50.22,'50.22%', '#FF2D00',
    '<div class="tooltip_chart"><b>Launch:</b><span> Jun-2004</span><br><b>Corpus(Rs.Cr.):</b><span>1150.00</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 2.88%</span><br>1 Year:<span class="pull-right"> 50.22%</span><br>3 Years:<span class="pull-right"> 32.69%</span><br>5 Years:<span class="pull-right"> 22.90%</span><br>Since Launch:<span class="pull-right"> 26.57%</span></div>'
    ],

    ['SBI FMCG Fund', 32.80,'32.80%','#0C8E86', 
    '<div class="tooltip_chart"><b>Launch:</b><span> Jul-1999</span><br><b>Corpus(Rs.Cr.):</b><span>222.00</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 6.63%</span><br>1 Year:<span class="pull-right"> 32.80%</span><br>3 Years:<span class="pull-right"> 30.39%</span><br>5 Years:<span class="pull-right"> 28.04%</span><br>Since Launch:<span class="pull-right"> 15.80%</span></div>'
    ],

    ['Franklin Build\nIndia Fund', 89.49,'89.49%','#0779CF',
    '<div class="tooltip_chart"><b>Launch:</b><span> Sep-2009</span><br><b>Corpus(Rs.Cr.):</b><span>232.00</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 11.66%</span><br>1 Year:<span class="pull-right"> 89.49%</span><br>3 Years:<span class="pull-right"> 39.30%</span><br>5 Years:<span class="pull-right"> 18.89%</span><br>Since Launch:<span class="pull-right"> 20.19%</span></div>'
    ],
    ['R*Shares Banking ETF', 61.10,'61.10%','#27486B',
     '<div class="tooltip_chart"><b>Launch:</b><span> Jun-2008</span><br><b>Corpus(Rs.Cr.):</b><span>294.00</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 12.74%</span><br>1 Year:<span class="pull-right"> 61.10%</span><br>3 Years:<span class="pull-right"> 31.06%</span><br>5 Years:<span class="pull-right"> 16.68%</span><br>Since Launch:<span class="pull-right"> 21.29%</span></div>'
     ]
  ]);

var view = new google.visualization.DataView(dataTable);
    view.setColumns([0, 1, 3, 4, {
        type: 'number',        
        calc: function (dt, row) {
            return 0;
        }
    },2]);

  var options = {
    title: '1 Year Return', titleTextStyle: {color: '#ffffff', fontName: 'Walter Turncoat'},
    hAxis: {title: 'Past performances are not indicative of future returns ', titleTextStyle: {color: '#3366CC', fontName: 'Walter Turncoat'},
            textStyle: {
                    fontName: 'Walter Turncoat',
                    fontSize: 10,                    
                    color: '#fff',                           
                    }
              },

    vAxis: {gridlines: {color: 'transparent', count: 0}, minValue: 0},
    tooltip: {isHtml: true},
    legend: 'none',
    backgroundColor: { fill:'transparent' },
    isStacked: true,
    annotations: {
          textStyle: {
          fontName: 'Walter Turncoat',
          fontSize: 16,
          bold: false,
          color: '#fff', 
          auraColor: 'transparent', 
        
        }
      }
  };
  var chart = new google.visualization.ColumnChart(document.getElementById('e_sf'));
  chart.draw(view, options);
  $("text:contains(" + options.title + ")").attr({'x':'365', 'y':'50'})
}


    </script>


<!--   CHART FOR SECTORAL FUNDS END  -->

<!--   CHART FOR INTERNATIONAL FUNDS   -->
    
       <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
function drawChart() {
  var dataTable = new google.visualization.DataTable();
  dataTable.addColumn('string', 'Funds');
  dataTable.addColumn('number', 'Percentage');
  dataTable.addColumn({type: 'string', role: 'annotation'});
  dataTable.addColumn({type: 'string', role: 'style'});
  dataTable.addColumn({type: 'string', role: 'tooltip', 'p': {'html': true}});

  dataTable.addRows([
    ['L&T Equity Fund', 30.6, '30.6%','#FF8B00',
    '<div class="tooltip_chart"><b>Launch:</b><span> May-2005</span><br><b>Corpus(Rs.Cr.):</b><span>2255.83</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 6.1%</span><br>1 Year:<span class="pull-right"> 50.6%</span><br>3 Years:<span class="pull-right"> 24%</span><br>5 Years:<span class="pull-right"> 15%</span><br>Since Launch:<span class="pull-right"> 20.43%</span></div>'
    ],

    ['UTI Equity Fund', 40.1,'40.1%', '#FF2D00',
    '<div class="tooltip_chart"><b>Launch:</b><span> May-2005</span><br><b>Corpus(Rs.Cr.):</b><span>2255.83</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 6.1%</span><br>1 Year:<span class="pull-right"> 50.6%</span><br>3 Years:<span class="pull-right"> 24%</span><br>5 Years:<span class="pull-right"> 15%</span><br>Since Launch:<span class="pull-right"> 20.43%</span></div>'
    ],

    ['HDFC Top 200 Fund', 45.7,'45.7%','#0C8E86', 
    '<div class="tooltip_chart"><b>Launch:</b><span> May-2005</span><br><b>Corpus(Rs.Cr.):</b><span>2255.83</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 6.1%</span><br>1 Year:<span class="pull-right"> 50.6%</span><br>3 Years:<span class="pull-right"> 24%</span><br>5 Years:<span class="pull-right"> 15%</span><br>Since Launch:<span class="pull-right"> 20.43%</span></div>'
    ],

    ['Birla Sun Life Top 100 Fund ', 50.9,'50.9%','#0779CF',
    '<div class="tooltip_chart"><b>Launch:</b><span> May-2005</span><br><b>Corpus(Rs.Cr.):</b><span>2255.83</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 6.1%</span><br>1 Year:<span class="pull-right"> 50.6%</span><br>3 Years:<span class="pull-right"> 24%</span><br>5 Years:<span class="pull-right"> 15%</span><br>Since Launch:<span class="pull-right"> 20.43%</span></div>'
    ],
    ['BNP Paribas Equity Fund', 55.9,'55.9%','#27486B',
     '<div class="tooltip_chart"><b>Launch:</b><span> May-2005</span><br><b>Corpus(Rs.Cr.):</b><span>2255.83</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 6.1%</span><br>1 Year:<span class="pull-right"> 50.6%</span><br>3 Years:<span class="pull-right"> 24%</span><br>5 Years:<span class="pull-right"> 15%</span><br>Since Launch:<span class="pull-right"> 20.43%</span></div>'
     ]
  ]);

var view = new google.visualization.DataView(dataTable);
    view.setColumns([0, 1, 3, 4, {
        type: 'number',        
        calc: function (dt, row) {
            return 0;
        }
    },2]);

  var options = {
    title: '1 Year Return', titleTextStyle: {color: '#ffffff', fontName: 'Walter Turncoat'},
    hAxis: {title: 'Past performances are not indicative of future returns ', titleTextStyle: {color: '#3366CC', fontName: 'Walter Turncoat'},
            textStyle: {
                    fontName: 'Walter Turncoat',
                    fontSize: 10,                    
                    color: '#fff',                           
                    }
              },

    vAxis: {gridlines: {color: 'transparent', count: 0}, minValue: 0},
    tooltip: {isHtml: true},
    legend: 'none',
    backgroundColor: { fill:'transparent' },
    isStacked: true,
    annotations: {
          textStyle: {
          fontName: 'Walter Turncoat',
          fontSize: 16,
          bold: false,
          color: '#fff', 
          auraColor: 'transparent', 
        
        }
      }
  };
  var chart = new google.visualization.ColumnChart(document.getElementById('e_if'));
  chart.draw(view, options);
  $("text:contains(" + options.title + ")").attr({'x':'365', 'y':'50'})
}


    </script>

<!--   CHART FOR INTERNATIONAL FUNDS END  -->


<!-- DEBT FUNDS -->

<!--   CHART FOR LONG TERM DEBT FUNDS   -->
    
       <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
function drawChart() {
  var dataTable = new google.visualization.DataTable();
  dataTable.addColumn('string', 'Funds');
  dataTable.addColumn('number', 'Percentage');
  dataTable.addColumn({type: 'string', role: 'annotation'});
  dataTable.addColumn({type: 'string', role: 'style'});
  dataTable.addColumn({type: 'string', role: 'tooltip', 'p': {'html': true}});

  dataTable.addRows([
    ['Birla Sun Life Income Plus', 15.97, '15.97%','#FF8B00',
    '<div class="tooltip_chart"><b>Launch:</b><span> Oct-1995</span><br><b>Corpus(Rs.Cr.):</b><span>3316.19</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 7.07%</span><br>1 Year:<span class="pull-right"> 15.97%</span><br>3 Years:<span class="pull-right"> 9.43%</span><br>5 Years:<span class="pull-right"> 8.01%</span><br>Since Launch:<span class="pull-right"> 9.91%</span></div>'
    ],

    ['HDFC High Interest Fund', 16.11,'16.11%', '#FF2D00',
    '<div class="tooltip_chart"><b>Launch:</b><span> Apr-1997</span><br><b>Corpus(Rs.Cr.):</b><span>927.69</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 6.67%</span><br>1 Year:<span class="pull-right"> 16.11%</span><br>3 Years:<span class="pull-right"> 10.25%</span><br>5 Years:<span class="pull-right"> 8.70%</span><br>Since Launch:<span class="pull-right"> 9.12%</span></div>'
    ],

    ['ICICI Prudential Income Plan', 17.09,'17.09%','#0C8E86', 
    '<div class="tooltip_chart"><b>Launch:</b><span> Jul-1998</span><br><b>Corpus(Rs.Cr.):</b><span>3126.76</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 6.81%</span><br>1 Year:<span class="pull-right"> 17.09%</span><br>3 Years:<span class="pull-right"> 8.83%</span><br>5 Years:<span class="pull-right"> 7.34%</span><br>Since Launch:<span class="pull-right"> 9.20%</span></div>'
    ],

    ['IDFC Dynamic Bond Fund', 15.75,'15.75%','#0779CF',
    '<div class="tooltip_chart"><b>Launch:</b><span> Dec-2008</span><br><b>Corpus(Rs.Cr.):</b><span>3323.69</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 7.05%</span><br>1 Year:<span class="pull-right"> 15.75%</span><br>3 Years:<span class="pull-right"> 10.37%</span><br>5 Years:<span class="pull-right"> 9.19%</span><br>Since Launch:<span class="pull-right"> 8.50%</span></div>'
    ],
    ['IDFC Super Saver Income Fund', 15.53,'15.53%','#27486B',
     '<div class="tooltip_chart"><b>Launch:</b><span> Jul-2000</span><br><b>Corpus(Rs.Cr.):</b><span>1598.97</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 6.97%</span><br>1 Year:<span class="pull-right"> 15.53%</span><br>3 Years:<span class="pull-right"> 9.94%</span><br>5 Years:<span class="pull-right"> 8.47%</span><br>Since Launch:<span class="pull-right"> 8.63%</span></div>'
     ],
    ['Reliance Dynamic Bond Fund', 15.23,'15.23%','#BC8F8F',
     '<div class="tooltip_chart"><b>Launch:</b><span> Nov-2004</span><br><b>Corpus(Rs.Cr.):</b><span>4277.85</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 6.58%</span><br>1 Year:<span class="pull-right"> 15.23%</span><br>3 Years:<span class="pull-right"> 10.41%</span><br>5 Years:<span class="pull-right"> 9.17%</span><br>Since Launch:<span class="pull-right"> 6.24%</span></div>'
     ]
  ]);

var view = new google.visualization.DataView(dataTable);
    view.setColumns([0, 1, 3, 4, {
        type: 'number',        
        calc: function (dt, row) {
            return 0;
        }
    },2]);

  var options = {
    title: '1 Year Return', titleTextStyle: {color: '#ffffff', fontName: 'Walter Turncoat'},
    hAxis: {title: 'Past performances are not indicative of future returns ', titleTextStyle: {color: '#3366CC', fontName: 'Walter Turncoat'},
            textStyle: {
                    fontName: 'Walter Turncoat',
                    fontSize: 10,                    
                    color: '#fff',                           
                    }
              },

    vAxis: {gridlines: {color: 'transparent', count: 0}, minValue: 0},
    tooltip: {isHtml: true},
    legend: 'none',
    backgroundColor: { fill:'transparent' },
    isStacked: true,
    annotations: {
          textStyle: {
          fontName: 'Walter Turncoat',
          fontSize: 14,
          bold: false,
          color: '#fff', 
          auraColor: 'transparent', 
        
        }
      }
  };
  var chart = new google.visualization.ColumnChart(document.getElementById('d_ltdf'));
  chart.draw(view, options);
  $("text:contains(" + options.title + ")").attr({'x':'365', 'y':'50'})
}


    </script>

<!--   CHART FOR LONG TERM DEBT FUNDS END  -->

<!--   CHART FOR SHORT TERM DEBT FUNDS   -->
    
       <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
function drawChart() {
  var dataTable = new google.visualization.DataTable();
  dataTable.addColumn('string', 'Funds');
  dataTable.addColumn('number', 'Percentage');
  dataTable.addColumn({type: 'string', role: 'annotation'});
  dataTable.addColumn({type: 'string', role: 'style'});
  dataTable.addColumn({type: 'string', role: 'tooltip', 'p': {'html': true}});

  dataTable.addRows([
    ['Birla Sun Life Medium Term Plan', 11.93, '11.93%','#FF8B00',
    '<div class="tooltip_chart"><b>Launch:</b><span> May-2009</span><br><b>Corpus(Rs.Cr.):</b><span>3536.19</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 3.42%</span><br>1 Year:<span class="pull-right"> 11.93%</span><br>3 Years:<span class="pull-right"> 11.04%</span><br>5 Years:<span class="pull-right"> 9.66%</span><br>Since Launch:<span class="pull-right"> 9.17%</span></div>'
    ],

    ['Birla Sun Life Short Term Opportunities Fund', 11.28,'11.28%', '#FF2D00',
    '<div class="tooltip_chart"><b>Launch:</b><span> Jun-2008</span><br><b>Corpus(Rs.Cr.):</b><span>3967.31</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 3.41%</span><br>1 Year:<span class="pull-right"> 11.28%</span><br>3 Years:<span class="pull-right"> 10.84%</span><br>5 Years:<span class="pull-right"> 9.56%</span><br>Since Launch:<span class="pull-right"> 9.32%</span></div>'
    ],

    ['Franklin India Short Term Income Plan', 11.50,'11.50%','#0C8E86', 
    '<div class="tooltip_chart"><b>Launch:</b><span> Jan-2002</span><br><b>Corpus(Rs.Cr.):</b><span>10078.89</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 3.41%</span><br>1 Year:<span class="pull-right"> 11.50%</span><br>3 Years:<span class="pull-right"> 10.14%</span><br>5 Years:<span class="pull-right"> 8.99%</span><br>Since Launch:<span class="pull-right"> 8.28%</span></div>'
    ],

   /* ['HDFC Corporate Debt Opportunities Fund - Regular Plan', 0 ,'-','#0779CF',
    '<div class="tooltip_chart"><b>Launch:</b><span> Mar-2014</span><br><b>Corpus(Rs.Cr.):</b><span>3291.05</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 3.84%</span><br>1 Year:<span class="pull-right"> - </span><br>3 Years:<span class="pull-right"> - </span><br>5 Years:<span class="pull-right"> - </span><br>Since Launch:<span class="pull-right"> 9.42%</span></div>'
    ],*/
    ['ICICI Prudential Corporate Bond Fund', 12.22,'12.22%','#0779CF',
     '<div class="tooltip_chart"><b>Launch:</b><span> Sep-2004</span><br><b>Corpus(Rs.Cr.):</b><span>2971.58</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 3.71%</span><br>1 Year:<span class="pull-right"> 12.22%</span><br>3 Years:<span class="pull-right"> 9.24%</span><br>5 Years:<span class="pull-right"> 8.15%</span><br>Since Launch:<span class="pull-right"> 7.39%</span></div>'
     ],
    ['Pramerica Credit Opportunities Fund', 10.88,'10.88%','#27486B',
     '<div class="tooltip_chart"><b>Launch:</b><span> Oct-2011</span><br><b>Corpus(Rs.Cr.):</b><span>266.52</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 3.56%</span><br>1 Year:<span class="pull-right"> 10.88%</span><br>3 Years:<span class="pull-right"> 9.57%</span><br>5 Years:<span class="pull-right"> - </span><br>Since Launch:<span class="pull-right"> 9.70%</span></div>'
     ],
    ['Reliance Short Term Fund', 11.17,'11.17%','#BC8F8F',
     '<div class="tooltip_chart"><b>Launch:</b><span> Dec-2002</span><br><b>Corpus(Rs.Cr.):</b><span>5178.89</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 3.34%</span><br>1 Year:<span class="pull-right"> 11.17%</span><br>3 Years:<span class="pull-right"> 9.38%</span><br>5 Years:<span class="pull-right"> 8.26%</span><br>Since Launch:<span class="pull-right"> 8.11%</span></div>'
     ]
  ]);

var view = new google.visualization.DataView(dataTable);
    view.setColumns([0, 1, 3, 4, {
        type: 'number',        
        calc: function (dt, row) {
            return 0;
        }
    },2]);

  var options = {
    title: '1 Year Return', titleTextStyle: {color: '#ffffff', fontName: 'Walter Turncoat'},
    hAxis: {title: 'Past performances are not indicative of future returns ', titleTextStyle: {color: '#3366CC', fontName: 'Walter Turncoat'},
            textStyle: {
                    fontName: 'Walter Turncoat',
                    fontSize: 10,                    
                    color: '#fff',                           
                    }
              },

    vAxis: {gridlines: {color: 'transparent', count: 0}, minValue: 0},
    tooltip: {isHtml: true},
    legend: 'none',
    backgroundColor: { fill:'transparent' },
    isStacked: true,
    annotations: {
          textStyle: {
          fontName: 'Walter Turncoat',
          fontSize: 14,
          bold: false,
          color: '#fff', 
          auraColor: 'transparent', 
        
        }
      }
  };
  var chart = new google.visualization.ColumnChart(document.getElementById('d_stdf'));
  chart.draw(view, options);
  $("text:contains(" + options.title + ")").attr({'x':'365', 'y':'50'})
}


    </script>

<!--   CHART FOR SHORT TERM DEBT FUNDS END  -->

<!--   CHART FOR ULTRA SHORT TERM DEBT FUNDS   -->
    
       <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
function drawChart() {
  var dataTable = new google.visualization.DataTable();
  dataTable.addColumn('string', 'Funds');
  dataTable.addColumn('number', 'Percentage');
  dataTable.addColumn({type: 'string', role: 'annotation'});
  dataTable.addColumn({type: 'string', role: 'style'});
  dataTable.addColumn({type: 'string', role: 'tooltip', 'p': {'html': true}});

  dataTable.addRows([
    ['Birla Sun Life Savings Fund', 9.68, '9.68%','#FF8B00',
    '<div class="tooltip_chart"><b>Launch:</b><span> Apr-2003</span><br><b>Corpus(Rs.Cr.):</b><span>12388.75</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 2.36%</span><br>1 Year:<span class="pull-right"> 9.68%</span><br>3 Years:<span class="pull-right"> 9.66%</span><br>5 Years:<span class="pull-right"> 8.75%</span><br>Since Launch:<span class="pull-right"> 7.39%</span></div>'
    ],

    ['Birla Sun Life Treasury Optimizer Fund', 12.26,'12.26%', '#FF2D00',
    '<div class="tooltip_chart"><b>Launch:</b><span> Apr-2008</span><br><b>Corpus(Rs.Cr.):</b><span>2760.66</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 3.86%</span><br>1 Year:<span class="pull-right"> 12.26%</span><br>3 Years:<span class="pull-right"> 10.59%</span><br>5 Years:<span class="pull-right"> 9.32%</span><br>Since Launch:<span class="pull-right"> 8.74%</span></div>'
    ],

    ['Franklin India Ultra Short\nBond Fund', 10.06,'10.06%','#0C8E86', 
    '<div class="tooltip_chart"><b>Launch:</b><span> Dec-2007</span><br><b>Corpus(Rs.Cr.):</b><span>7225.92</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 2.39%</span><br>1 Year:<span class="pull-right"> 10.06%</span><br>3 Years:<span class="pull-right"> 10.10%</span><br>5 Years:<span class="pull-right"> 9.07%</span><br>Since Launch:<span class="pull-right"> 8.79%</span></div>'
    ],

    ['Kotak Flexi Debt', 10.27,'10.27%','#0779CF',
    '<div class="tooltip_chart"><b>Launch:</b><span> May-2008</span><br><b>Corpus(Rs.Cr.):</b><span>401.61</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 3.04%</span><br>1 Year:<span class="pull-right"> 10.27%</span><br>3 Years:<span class="pull-right"> 9.60%</span><br>5 Years:<span class="pull-right"> 8.73%</span><br>Since Launch:<span class="pull-right"> 8.40%</span></div>'
    ],
    ['Religare Invesco Credit Opportunities Fund', 9.47,'9.47%','#27486B',
     '<div class="tooltip_chart"><b>Launch:</b><span> Aug-2009</span><br><b>Corpus(Rs.Cr.):</b><span>2429.74</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 2.21%</span><br>1 Year:<span class="pull-right"> 9.47%</span><br>3 Years:<span class="pull-right"> 9.77%</span><br>5 Years:<span class="pull-right"> 8.83%</span><br>Since Launch:<span class="pull-right"> 8.65%</span></div>'
     ],
     ['Taurus Short\nTerm Income Fund', 9.80,'9.80%','#BC8F8F',
     '<div class="tooltip_chart"><b>Launch:</b><span> Apr-2010</span><br><b>Corpus(Rs.Cr.):</b><span>155.04</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 2.30%</span><br>1 Year:<span class="pull-right"> 9.80%</span><br>3 Years:<span class="pull-right"> 10.13%</span><br>5 Years:<span class="pull-right"> - </span><br>Since Launch:<span class="pull-right">9.50%</span></div>'
     ]
  ]);

var view = new google.visualization.DataView(dataTable);
    view.setColumns([0, 1, 3, 4, {
        type: 'number',        
        calc: function (dt, row) {
            return 0;
        }
    },2]);

  var options = {
    title: '1 Year Return', titleTextStyle: {color: '#ffffff', fontName: 'Walter Turncoat'},
    hAxis: {title: 'Past performances are not indicative of future returns ', titleTextStyle: {color: '#3366CC', fontName: 'Walter Turncoat'},
            textStyle: {
                    fontName: 'Walter Turncoat',
                    fontSize: 10,                    
                    color: '#fff',                           
                    }
              },

    vAxis: {gridlines: {color: 'transparent', count: 0}, minValue: 0},
    tooltip: {isHtml: true},
    legend: 'none',
    backgroundColor: { fill:'transparent' },
    isStacked: true,
    annotations: {
          textStyle: {
          fontName: 'Walter Turncoat',
          fontSize: 14,
          bold: false,
          color: '#fff', 
          auraColor: 'transparent', 
        
        }
      }
  };
  var chart = new google.visualization.ColumnChart(document.getElementById('d_ustdf'));
  chart.draw(view, options);
  $("text:contains(" + options.title + ")").attr({'x':'365', 'y':'50'})
}


    </script>

<!--   CHART FOR ULTRA SHORT TERM DEBT FUNDS END  -->

<!--   CHART FOR LIQUID FUNDS   -->
    
       <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
function drawChart() {
  var dataTable = new google.visualization.DataTable();
  dataTable.addColumn('string', 'Funds');
  dataTable.addColumn('number', 'Percentage');
  dataTable.addColumn({type: 'string', role: 'annotation'});
  dataTable.addColumn({type: 'string', role: 'style'});
  dataTable.addColumn({type: 'string', role: 'tooltip', 'p': {'html': true}});

  dataTable.addRows([
    ['Birla Sun Life Cash Plus', 9.21, '9.21%','#FF8B00',
    '<div class="tooltip_chart"><b>Launch:</b><span> Mar-2004</span><br><b>Corpus(Rs.Cr.):</b><span>17931</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 2.15%</span><br>1 Year:<span class="pull-right"> 9.21%</span><br>3 Years:<span class="pull-right"> 9.41%</span><br>5 Years:<span class="pull-right"> 8.49%</span><br>Since Launch:<span class="pull-right"> 7.58%</span></div>'
    ],

    ['Escorts Liquid Fund', 9.55,'9.55%', '#FF2D00',
    '<div class="tooltip_chart"><b>Launch:</b><span> Sep-2005</span><br><b>Corpus(Rs.Cr.):</b><span>206.00</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 2.29%</span><br>1 Year:<span class="pull-right"> 9.55%</span><br>3 Years:<span class="pull-right"> 9.91%</span><br>5 Years:<span class="pull-right"> 9.16%</span><br>Since Launch:<span class="pull-right"> 8.48%</span></div>'
    ],

    ['Franklin India\nTreasury Management Account Fund', 9.24,'9.24%','#0C8E86', 
    '<div class="tooltip_chart"><b>Launch:</b><span> Sep-2005</span><br><b>Corpus(Rs.Cr.):</b><span>5988</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 2.17%</span><br>1 Year:<span class="pull-right"> 9.24%</span><br>3 Years:<span class="pull-right"> 9.44%</span><br>5 Years:<span class="pull-right"> 8.52%</span><br>Since Launch:<span class="pull-right"> 7.95%</span></div>'
    ],

    ['ICICI Prudential Liquid Plan', 9.14,'9.14%','#0779CF',
    '<div class="tooltip_chart"><b>Launch:</b><span> Nov-2005</span><br><b>Corpus(Rs.Cr.):</b><span>23932</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 2.15%</span><br>1 Year:<span class="pull-right"> 9.14%</span><br>3 Years:<span class="pull-right"> 9.36%</span><br>5 Years:<span class="pull-right"> 8.46%</span><br>Since Launch:<span class="pull-right"> 8.04%</span></div>'
    ],
    ['JM High Liquidity Fund', 9.15,'9.15%','#27486B',
     '<div class="tooltip_chart"><b>Launch:</b><span> Dec-1997</span><br><b>Corpus(Rs.Cr.):</b><span>4807</span><br><b>Return:</b><br>3 Months:<span class="pull-right"> 2.17%</span><br>1 Year:<span class="pull-right"> 9.15%</span><br>3 Years:<span class="pull-right"> 9.34%</span><br>5 Years:<span class="pull-right"> 8.44%</span><br>Since Launch:<span class="pull-right"> 8.05%</span></div>'
     ]
  ]);

var view = new google.visualization.DataView(dataTable);
    view.setColumns([0, 1, 3, 4, {
        type: 'number',        
        calc: function (dt, row) {
            return 0;
        }
    },2]);

  var options = {
    title: '1 Year Return', titleTextStyle: {color: '#ffffff', fontName: 'Walter Turncoat'},
    hAxis: {title: 'Past performances are not indicative of future returns ', titleTextStyle: {color: '#3366CC', fontName: 'Walter Turncoat'},
            textStyle: {
                    fontName: 'Walter Turncoat',
                    fontSize: 10,                    
                    color: '#fff',                           
                    }
              },

    vAxis: {gridlines: {color: 'transparent', count: 0}, minValue: 0},
    tooltip: {isHtml: true},
    legend: 'none',
    backgroundColor: { fill:'transparent' },
    isStacked: true,
    annotations: {
          textStyle: {
          fontName: 'Walter Turncoat',
          fontSize: 16,
          bold: false,
          color: '#fff', 
          auraColor: 'transparent', 
        
        }
      }
  };
  var chart = new google.visualization.ColumnChart(document.getElementById('d_lf'));
  chart.draw(view, options);
  $("text:contains(" + options.title + ")").attr({'x':'365', 'y':'50'})
}


    </script>

<!--   CHART FOR LIQUID FUNDS END  -->


 
       <script type="text/javascript">

          var href = "myTabContent1";  
              $("#myTabContent1").load(href);

        </script>

<!--   ADDS TAB HREF TO URL  -->
       <script type="text/javascript">
          $(function(){
            var hash = window.location.hash;
            hash && $('ul.nav a[href="' + hash + '"]').tab('show');

            $('.nav-pills a').click(function (e) {
              $(this).tab('show');
              var scrollmem = $('body').scrollTop(0);
              window.location.hash = this.hash;
              $('html,body').scrollTop(scrollmem);
            });
          });
       </script>

<!--   LOAD PAGE FROM TOP  -->       
    <script type="text/javascript">    
        $(window).load(function(){
          $("html, body").scrollTop(0);
        });
    </script>

</head>
<body>
    <section class="general-subhead_bg">
        <div class="container">
           <div class="general-subhead">
               <h2>TOP PERFORMING FUNDS</h2>
           </div>
        </div>
    </section>
     <!-- Gereral Subhead End -->
    
    <section class="mar_top2">
    <div class="container">
      <div class="row">
          <div class="col-md-3">
            <div class="well well-lg">
            <ul id="myTab" class="nav nav-pills nav-stacked">
                <li class="clr_primary_blue"><span data-toggle="tab"><h4>Equity</h4></span></li>
                <li class="active"><a href="#panel_E_LCF" data-toggle="tab">Large Cap Funds</a></li>
                <li><a href="#panel_E_MCF" data-toggle="tab">Mid And Small Cap Funds</a></li>
                <li><a href="#panel_E_ELSS" data-toggle="tab">ELSS Funds</a></li>
                <li><a href="#panel_E_SF" data-toggle="tab">Sectoral Funds</a></li>
                <!-- <li><a href="#panel_E_IF" data-toggle="tab">International Funds</a></li> -->
                <li class="clr_primary_green"><span data-toggle="tab"><h4>Debt</h4></span></li>
                <li><a href="#panel_D_LTDF" data-toggle="tab">Long Term Debt Funds</a></li>
                <li><a href="#panel_D_STDF" data-toggle="tab">Short Term Debt Funds</a></li>
                <li><a href="#panel_D_USTDF" data-toggle="tab">Ultra Short Term Debt Funds</a></li>
                <li><a href="#panel_D_LF" data-toggle="tab">Liquid Funds</a></li>                
            </ul>
            </div>
          </div>


          <div class="col-md-9" id="top_funds_chart" >

          <div id="myTabContent" class="tab-content">      

<!--  Large Cap Funds  -->
              <div class="tab-pane fade in active" id="panel_E_LCF">
                  <div class="col-sm-12">
                    <div class="panel panel-default"> 
                        <div class="panel-heading">
                            <div class="row">                              
                              <div class="col-sm-12">
                                  <div class="row pad_right">
              <div id="e_lcf" class="topfund_chart image_responsive"></div>
                                  </div>
                              </div>
                            </div> 
                        </div>
                    </div>
                  </div>
              </div>

<!--  Mid Cap Funds   -->

              <div class="tab-pane fade" id="panel_E_MCF">
                  <div class="col-sm-12">
                    <div class="panel panel-default"> 
                        <div class="panel-heading">
                            <div class="row">                              
                              <div class="col-sm-12">
                                  <div class="row pad_right">
              <div id="e_mcf" class="topfund_chart image_responsive"></div>
                                  </div>
                              </div>
                            </div> 
                        </div>
                    </div>
                  </div>
              </div>

<!--  ELSS Funds  -->

              <div class="tab-pane fade" id="panel_E_ELSS">
                  <div class="col-sm-12">
                    <div class="panel panel-default"> 
                        <div class="panel-heading">
                            <div class="row">                              
                              <div class="col-sm-12">
                                  <div class="row pad_right">
              <div id="e_elss" class="topfund_chart image_responsive"></div>
                                  </div>
                              </div>
                            </div> 
                        </div>
                    </div>
                  </div>
              </div>

<!--  Sectoral Funds  --> 

              <div class="tab-pane fade" id="panel_E_SF">
                  <div class="col-sm-12">
                    <div class="panel panel-default"> 
                        <div class="panel-heading">
                            <div class="row">                              
                              <div class="col-sm-12">
                                  <div class="row pad_right">
              <div id="e_sf" class="topfund_chart image_responsive"></div>
                                  </div>
                              </div>
                            </div> 
                        </div>
                    </div>
                  </div>
              </div>

<!--  International Funds  --> 

              <div class="tab-pane fade" id="panel_E_IF">
                  <div class="col-sm-12">
                      <div class="panel panel-default"> 
                          <div class="panel-heading">
                              <div class="row">                              
                                <div class="col-sm-12">
                                    <div class="row pad_right">
                <div id="e_if" class="topfund_chart image_responsive"></div>
                                    </div>
                                </div>
                              </div> 
                          </div>
                      </div>
                  </div>
              </div>

<!--  Long Term Debt Funds  --> 

              <div class="tab-pane fade" id="panel_D_LTDF">
                  <div class="col-sm-12">
                      <div class="panel panel-default"> 
                          <div class="panel-heading">
                              <div class="row">                              
                                <div class="col-sm-12">
                                    <div class="row pad_right">
                <div id="d_ltdf" class="topfund_chart image_responsive"></div>
                                    </div>
                                </div>
                              </div> 
                          </div>
                      </div>
                  </div>
              </div>

<!--  Short Term Debt Funds  --> 

              <div class="tab-pane fade" id="panel_D_STDF">
                  <div class="col-sm-12">
                      <div class="panel panel-default"> 
                          <div class="panel-heading">
                              <div class="row">                              
                                <div class="col-sm-12">
                                    <div class="row pad_right">
                <div id="d_stdf" class="topfund_chart image_responsive"></div>
                                    </div>
                                </div>
                              </div> 
                          </div>
                      </div>
                  </div>
              </div>

<!--  Ultra Short Term Debt Funds  --> 

              <div class="tab-pane fade" id="panel_D_USTDF">
                  <div class="col-sm-12">
                      <div class="panel panel-default"> 
                          <div class="panel-heading">
                              <div class="row">                              
                                <div class="col-sm-12">
                                    <div class="row pad_right">
                <div id="d_ustdf" class="topfund_chart image_responsive"></div>
                                    </div>
                                </div>
                              </div> 
                          </div>
                      </div>
                  </div>
              </div>

<!--  Liquid Funds  --> 

              <div class="tab-pane fade" id="panel_D_LF">
                  <div class="col-sm-12">
                      <div class="panel panel-default"> 
                          <div class="panel-heading">
                              <div class="row">                              
                                <div class="col-sm-12">
                                    <div class="row pad_right">
                <div id="d_lf" class="topfund_chart image_responsive"></div>
                                    </div>
                                </div>
                              </div> 
                          </div>
                      </div>
                  </div>
              </div>                                                        

              <!-- End  -->

          </div>

          <!-- Invest now button -->
    <div class="col-sm-12 text-center">
                <div id="button_warning">
                <% if user_signed_in? %>            
              
            <% if current_user.status == 1 %>
                <a data-toggle="modal" href="#myModal_investor"><button type="button"  class=" btn btn-warning"><span class="text">INVEST NOW!</span></button></a>
            <% elsif current_user.status == 2 %>
                <a data-toggle="modal" href="#myModal_investor_message"><button type="button"  class=" btn btn-warning"><span class="text">INVEST NOW!</span></button></a>
            <% elsif current_user.status == 3 %>
             <span><%= link_to "INVEST NOW!", invest_button_path ,method: :post, class: "btn btn-warning", target: "_blank" %></span>
            <% end %>

                <% else %>

                <span><%= link_to "INVEST NOW!", new_user_session_path ,method: :get, class: "btn btn-warning" %></span>

                <% end %>
                </div>

    </div>

          </div>
      </div>
    </div>       
    </section>


  </body>
</html>

