<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<body>

   <div class="general-subhead">
       <h1>OUR VISION</h1>
   </div>
     <!--./ Gereral Subhead End -->
    
    <section >
        <div class="container">
            <div class="row ">
                <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2"  >
                     <h2><strong>Rupee Vest Vision</strong> </h2>
                    <p>
                        Our vision is to empower every Indian to plan and execute simple investment decisions for themselves. Now sit and the comfort of your homes, plan for you life's financial goals, save and invest for them online @RupeeVest and track your investments on the fly. Stop; Think; Start RupeeVesting!
                              
                    </p>
                    </div>  
              </div>

  
            <div class="row ">
                <div class="col-lg-6 col-lg-offset-2  col-sm-6 col-sm-offset-2" >
                    <h2><strong>Rupee Vest Teasure</strong> </h2>
                    <hr />
                     <iframe class="vedio-style" src="//www.youtube.com/embed/DqrN2kWPzPo?rel=0" ></iframe>
                </div>
            </div>


           </div> 
        </section>
       

    <!--  Jquery Core Script -->
    <script src="/assets/jquery-1.10.2.js"></script>
    <!--  Core Bootstrap Script -->
    <script src="/assets/bootstrap.js"></script>
        <!--  Custom Scripts -->
    <script src="/assets/custom.js"></script>
   
</body>
</html>
