 /* =============================================================
    Authour : RupeeVest
    URL: https://www.rupeevest.com/
    Project Name: Rupee Vest    
    ========================================================  */

/*=====================================
   GENERAL STYLE SECTION
===================================*/
body {
    font-family: Helvetica, Arial, 'Open Sans', sans-serif;
    margin-top:70px;
    font-size:14px;
    line-height:25px;
    background-color: #F7F7F7;
}

.text-center {
    text-align:center;
}

section {
    margin:70px 0px 70px 0px;
}
.pad-top-botm {
    padding-top:50px;
    padding-bottom:50px;
}
.pad-row {
    padding-top:20px;
}

.pad_top1 {
    padding-top: 1em;
}
.pad_top2 {
    padding-top: 2em;
}

.pad_top4 {
    padding-top: 4em;
}
.pad_top6 {
    padding-top: 6em;
}

.pad_bot1 {
   padding-bottom: 1em;
}

.pad_bot2 {
    padding-bottom: 2em;
}

.pad-bot {
   padding-bottom: 12em;
}

.pad_top10 {
    padding-top: 10em;
}

.padding_reduce {
   padding: 2px !important;
   margin: 2px !important;
}

.pad_right {
   padding-right: 1em;
}

.pad_bot6p {
    padding-bottom: 6px;
}

.pad_modal {
    padding: 6em 3em 0 3em;
}

.mar_top_p5 {
    margin-top: 0.5em;
}

.mar_top2 {
    margin-top: 2em;
}

.mar_top_mp5 {
    margin-top: -0.5em;
}

.mar_top_m3 {
    margin-top: -3em;
}

.mar_top_m25 {
    margin-top: -25em;
}

.mar_top135px {
    margin-top: 135px;
}

.mar_top30px {
    margin-top: 30px;
}



.font_1p5 {
    font-size: 1.5em;
}

.font_1p2 {
    font-size: 1.2em;
}

.font_p83 {
    font-size: 0.83em;
}

.font_p65 {
font-size: 0.65em;
}

.color_white {
    color: #ffffff;
}

#button_warning .btn-warning {
    background-color: #ff6a00;
    border-color: #ff6a00;
} 

#button_warning .btn-warning:hover {
    background-color: #ff6a50;
    border-color: #ff6a50;
}

.nab_button {
    padding: 10px 10px;
    border-bottom: 1px solid #565AB1;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: left;
    color: #fff;
    background: #15355C;
}

.dropdown .btn-block:hover {
    color: #fff;
    background: #778899;
}

.dis_inl_blk > li {
    display: inline-block;
}

.fixed_top {
    position: fixed;
    top: 4.5em;
    right: 0;
    left: 0;
    z-index: 1000;
}

.image_responsive {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

#myModal_investor_home .modal-header {
    border-bottom: 0px solid #e5e5e5;
}

/*Effect for Equity*/
.back_effect {
    display: inline-block;
    /*cursor: pointer;*/
    margin: 15px;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    text-align: center;    
    border: .1em solid rgb(200, 200, 216);
    color: #ffffff;
    background: #15355C;
    box-shadow: 0 0 0 0.7em #5189BD, 0 0 0 0.5em #0098f9;
    padding-top:0.20em;
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration:2s;
    -o-transition-duration:2s;
}

.back_effect:hover {
    display: inline-block;
    /*cursor: pointer;*/
    margin: 15px;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    text-align: center;    
    border: .1em solid rgb(200, 200, 216);
    color: #ffffff;
    background: #5189BD;
    box-shadow: 0 0 0 0.7em #15355C, 0 0 0 0.5em #0098f9;
    padding-top:0.20em;
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration:2s;
    -o-transition-duration:2s;
}

/*Effect for Debt*/

.back_effect1 {
    display: inline-block;
    /*cursor: pointer;*/
    margin: 15px;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    text-align: center;    
    border: .1em solid rgb(200, 200, 216);
    color: #ffffff;
    background: #143D07;
    box-shadow: 0 0 0 0.7em #449239, 0 0 0 0.5em #0098f9;
    padding-top:0.20em;
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration:2s;
    -o-transition-duration:2s;
}

.back_effect1:hover {
    display: inline-block;
    /*cursor: pointer;*/
    margin: 15px;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    text-align: center;    
    border: .1em solid rgb(200, 200, 216);
    color: #ffffff;
    background: #449239;
    box-shadow: 0 0 0 0.7em #143D07, 0 0 0 0.5em #0098f9;
    padding-top:0.20em;
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration:2s;
    -o-transition-duration:2s;
}

/*Effect for Equity 100% */
.back_effect2 {
    display: inline-block;
    /*cursor: pointer;*/
    margin: 5.9em 0;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    text-align: center;    
    border: .1em solid rgb(200, 200, 216);
    color: #ffffff;
    background: #15355C;
    box-shadow: 0 0 0 0.7em #5189BD, 0 0 0 0.5em #0098f9;
    padding-top:0.20em;
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration:2s;
    -o-transition-duration:2s;
}

.back_effect2:hover {
    display: inline-block;
    /*cursor: pointer;*/
    margin: 5.9em 0;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    text-align: center;    
    border: .1em solid rgb(200, 200, 216);
    color: #ffffff;
    background: #5189BD;
    box-shadow: 0 0 0 0.7em #15355C, 0 0 0 0.5em #0098f9;
    padding-top:0.20em;
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration:2s;
    -o-transition-duration:2s;
}

/*Effect for Debt 100% */

.back_effect3 {
    display: inline-block;
    /*cursor: pointer;*/
    margin: 5.9em 0;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    text-align: center;    
    border: .1em solid rgb(200, 200, 216);
    color: #ffffff;
    background: #143D07;
    box-shadow: 0 0 0 0.7em #449239, 0 0 0 0.5em #0098f9;
    padding-top:0.20em;
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration:2s;
    -o-transition-duration:2s;
}

.back_effect3:hover {
    display: inline-block;
    /*cursor: pointer;*/
    margin: 5.9em 0;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    text-align: center;    
    border: .1em solid rgb(200, 200, 216);
    color: #ffffff;
    background: #449239;
    box-shadow: 0 0 0 0.7em #143D07, 0 0 0 0.5em #0098f9;
    padding-top:0.20em;
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration:2s;
    -o-transition-duration:2s;
}



/*Effect for Equity. (Eq & Debt in horizontal) */
.back_effect_eq {
    display: inline-block;
    /*cursor: pointer;*/
    margin: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;    
    border: .1em solid rgb(200, 200, 216);
    color: #ffffff;
    background: #15355C;
    box-shadow: 0 0 0 0.7em #5189BD, 0 0 0 0.5em #0098f9;
    padding-top:0.20em;
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration:2s;
    -o-transition-duration:2s;
}

.back_effect_eq:hover {
    display: inline-block;
    /*cursor: pointer;*/
    margin: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;    
    border: .1em solid rgb(200, 200, 216);
    color: #ffffff;
    background: #5189BD;
    box-shadow: 0 0 0 0.7em #15355C, 0 0 0 0.5em #0098f9;
    padding-top:0.20em;
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration:2s;
    -o-transition-duration:2s;
}

/*Effect for Debt. (Eq & Debt in horizontal)*/

.back_effect_dt {
    display: inline-block;
    /*cursor: pointer;*/
    margin: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;    
    border: .1em solid rgb(200, 200, 216);
    color: #ffffff;
    background: #143D07;
    box-shadow: 0 0 0 0.7em #449239, 0 0 0 0.5em #0098f9;
    padding-top:0.20em;
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration:2s;
    -o-transition-duration:2s;
}

.back_effect_dt:hover {
    display: inline-block;
    /*cursor: pointer;*/
    margin: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;    
    border: .1em solid rgb(200, 200, 216);
    color: #ffffff;
    background: #449239;
    box-shadow: 0 0 0 0.7em #143D07, 0 0 0 0.5em #0098f9;
    padding-top:0.20em;
    position: relative;
    z-index: 1;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration:2s;
    -o-transition-duration:2s;
}


/*=====================================
   COLOR CODES
    ===================================*/
.clr-white {
    color:#fff;
}
.clr-main {
 color: #ff6a00;
}
.transparent-bk {
    background-color:transparent!important;
}
.clr-blue-bk {
    background-color:#7383F8!important;
}

.clr_primary_blue {
    color: #fff;
    background-color: #15355C;
    border-color: #285e8e;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    /*cursor: pointer;*/
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.clr_primary_green {
    color: #fff;
    background-color: #143D07;
    border-color: #285e8e;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    /*cursor: pointer;*/
    -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

/*=====================================
   TOP MENU STYLE SECTION
    ===================================*/


.menu-back {
    background-color:#15355C;  
}

.navbar-brand-logo {
    max-height:60px;
    padding-bottom:10px;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}
    .navbar-default .navbar-nav > li > a:hover {
        color: #ff6a00;
    }
   
.navbar-nav > li > a {
    border-right: 1px solid #3D3577;
    margin: 5px 0px 5px 0px;
}

.nav li > a>i {
    color:#FB9351;
    padding-left:5px;
}

.nav li > a > span {
    font-size:13px;
    display: table;
    color: #C5C5C5;
}



/*sub-menu*/
.nav .dropdown-menu > li > a {
    padding: 10px 10px;
    border-bottom: 1px solid #565AB1;
    color: #fff;
    background: #15355C;
}

.nav .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
    background: #778899 ;
}

.nav .dropdown-menu {
    min-width: 185px;
    padding: 0px 0;
    border-radius: 0px;
}

.nav .dropdown-menu > li > a > i{
    color:#565AB1;
    font-size:14px;
    margin-right:10px;
}

.sidebar-nav {
    padding: 9px 0;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin: -1px 0 0 -0.9px;
}
.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
/*.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}*/
.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

/* SUBMENU START*/
/*
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    display:none;
    margin-top: -1px;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    border-left-color:#fff;
    box-shadow:none;
} */
.right-caret:after,.left-caret:after
 {  
    content:"";
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
    margin-left:5px;
}
.right-caret:after
{   border-left: 5px solid #C5C5C5;
}
.left-caret:after
{   border-right: 5px solid #C5C5C5;
}


/*SUBMENU END*/

/*Small Screen Header height of top menu*/
.navbar-header {
    min-height:70px;
}
/*making border transparent*/
.navbar-default {
border-color: rgba(231, 231, 231, 0);
}
/*Toggle Adjustment*/
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: rgba(221, 221, 221, 0);
}

.navbar-default .navbar-toggle {
border-color: #A0761D;
}


/*=====================================
   SUB-MENU STYLE SECTION
    ===================================*/

    #leftMenu .accordion-group {
    margin-bottom: 0px;
    border:0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}    

#leftMenu .accordion-heading {
    height: 34px;
    border-top: 1px solid #717171; /* inner stroke */
    border-bottom: 1px solid #5A5A5A; /* inner stroke */
    background-color: #353535; /* layer fill content */
    background-image: -moz-linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
    background-image: -o-linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
    background-image: linear-gradient(90deg, #595b59 0%, #616161 100%); /* gradient overlay */
    list-style-type:none;
}  

#leftMenu .accordion-heading  a {  
    color: #cbcbcb; /* text color */
    text-shadow: 0 1px 0 #3b3b3b; /* drop shadow */
    text-decoration:none;
    font-weight:bold;  
}

#leftMenu .accordion-heading  a:hover {  
    color:#ccc     
}

#leftMenu .accordion-heading .active {
    width: 182px;
    height: 34px;
    border: 1px solid #5b5b5b; /* inner stroke */
    background-color: #353535; /* layer fill content */
    background-image: -moz-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    background-image: -o-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    background-image: linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
}

/*=====================================
   SOCIAL HEADER STYLE SECTION
    ===================================*/
.div-social-top {
    background-color:#1c4474;
    min-height:40px;
    padding:20px 50px 10px 50px;
    color:#fff;
    font-size:17px;
}
    .div-social-top a,.div-social-top a:hover {
        color:#fff;
        text-decoration:none;
    }
    .div-social-top i {
         margin-right:10px;
    }
/*=====================================
   TOP SLIDER STYLE SECTION
    ===================================*/

/* navigation icon style*/
 .control-icon {
           position:absolute;
           top:50%;
           
                 }

 /* bootstrap adjustments */
    .carousel-control.right {
right: 0;
left: auto;
    background-repeat: repeat-x;
    background-image: linear-gradient(to right,rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, 0) 100%)!important;
}
     .carousel-control.left {
left: 0;
right: auto;
    background-repeat: repeat-x;
    background-image: linear-gradient(to left,rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, 0) 100%)!important;
}
 /* Caption Back Color */
     .back-light {
    background-color: #494343;
    padding:10px;
    line-height:30px;
}
/*=====================================
   WELCOME SECTION
    ===================================*/


.welcome-div {
    padding:10px;
    background-color:#777777;
    color:#fff;
    text-align:center;
}
    .welcome-div span {
        font-size:20px;
        padding:0px 30px 0px 30px;
    }


    
/*=====================================
  HOME PAGE STYLES GENERAL
    ===================================*/

#home-service i {
    color:#ff6a00;
    cursor:pointer;
    
}
#home-service i:hover {
    color:#565AB1;
     cursor:pointer;
      -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#service-info i{
    margin-right:10px;
    color:#ff6a00;
    cursor:pointer;
    
}
#service-info i:hover{
    color:#000;

     -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.icon-round {
margin-top: 30px;
font-size: 60px;
height: 128px;
width: 128px;
line-height: 130px;
margin-right: 10px;
text-align: center;
display: inline-block;
border-radius: 100%;
margin-bottom: 10px;
background-color:rgba(158, 158, 158, 0.15);
}

.vedio-style {
    border: 0px;
     width: 100%; 
     min-height: 300px
}

.slide1_cap {
    color: grey;
    text-shadow: none;
    font-family: Helvetica;

}

.slide2_cap {
    color: #1B1B1B;
    text-shadow: none;
    font-family: Helvetica;

}

.slide3_cap {
    color: #ffffff;
    text-shadow: none;
    font-family: Helvetica;
    
}

#testimonials .carousel-indicators {
bottom: -50px;
}

/*=====================================
  HOME PAGE TWO STYLES GENERAL
    ===================================*/
#index2-header{
background: url(../assets/index2-head.jpg) no-repeat center center;
padding: 0;
-webkit-background-size: cover;
background-size: cover;
}
    #index2-header h1 {
        padding:100px 20px 20px 20px;
        color:#fff;
        font-size:50px;
        font-weight:800;
        text-align:center;
    }
     #index2-header p {
        padding:10px 20px 20px 20px;
        color:#fff;
        font-size:16px;
        line-height:20px;
        font-weight:800;       
       text-align:center;
    }
    #index2-header .overlay {
              background: rgba(11, 9, 27, 0.7);        
        min-height:400px;
    }

/*=====================================
  DETAILS PAGE STYLES 
    ===================================*/
    #full_cont .well {
        border :1px groove #e3e3e3;
    }
/*=====================================
  CLIENTS TESTIMONIALS STYLES 
    ===================================*/
.middle-section {
padding-bottom: 50px;
background: url(../assets/middle-text.jpg) no-repeat 50% 50%;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
display: block;
height: 350px;
/*min-height: 300px;*/
color: #fff;
text-align:center;
padding:30px;
}

.slide-custom {
    min-height:200px;
    padding:20px;
    line-height:30px;
}
h4 i{
   padding:5px;
}
.user-img {
border: 2px solid #fff;
overflow: hidden;
border-radius: 50%;
display: inline-block;
}

.img-u {
   max-height: 90px;
max-width: 90px;
}

/*=====================================
  MEDIA STYLES 
    ===================================*/
#media-sec {
    background-color:#565AB1;
    padding:20px;
    color:#fff;
}
    #media-sec h3 {
         color:#AF9BFF;
    }
    #media-sec small {
        color:#ff6a00;
    }
    /*=======================================
    STATS SECTION STYLES
==================================================*/
    .just-stats{
padding-bottom: 50px;
background: url(../assets/stats.jpg) no-repeat 50% 50%;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
display: block;
height: auto;
min-height: 250px;
color: #fff;
text-align:center;
padding:30px;
}
.stats-div {
    text-align:center;
    width: 100%;
    min-height: 100px;
    padding: 30px 20px 30px 20px;
    color:#fff;
}

.stats-div > h3 {
    font-size:60px;
    font-weight:900;
}

/*=====================================
  FOOTER STYLES 
    ===================================*/


#footer-sec {

   background-color:#15355C; 
   color:#fff;
   padding:20px;
}
#footer-sec i {
    margin-right:10px;
}
#footer-sec span {
    font-size:20px;
    font-family: Helvetica;
    color:#ffffff;
}
#footer-sec small {
    display:table-cell;
    color: #C5C5C5;
}
#footer-sec p {
   /*border-right: 1px solid #3D3577;*/
   padding-right:10px;
   font-family: Helvetica;
   font-size: 0.83em;
   line-height: 1.9em;
}
#footer-sec .media-heading > a {
    color:#fff;
    font-size:14px;
}
#blog-footer-div {
    border-right: 0px solid #3D3577;
    padding-right:10px;
}
#footser-end {
    text-align:right;
    background-color:#15355C; 
    color:#fff;
    padding:10px;
}
#footer_list > a:hover {
    color: #ffffff;
}


/*=====================================
  ANIMATIONS 
    ===================================*/
  .rotate-icon:hover {
   
     -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
     -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor:pointer;
    
  }
       .upfront-trans:hover {
           cursor:pointer;
            -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
     -webkit-transition: all 0.5s  ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
       }

 /*=====================================
 OUR SERVICES
 ===================================*/
.general-subhead {    
    padding: 5px 0px 15px 0px;
    color: #fff;
}

.general-subhead_bg {
    background-color: #1c4474;
    margin: 0;
}

 #request-quote {
    background-color: #1c4474;
    padding:20px;
    color:#fff;
}
    #request-quotec h3 {
         color:#AF9BFF;
    }
    #request-quotec small {
        color:#000;
    }
  
    /*==========================================
   SOCIAL ICON STYLES
    =====================================================*/

.color-facebook {
    color:#3B5998;
}
.color-twitter {
     color:#00aced;
}
.color-google-plus {
     color:#dd4b39;
}
.color-linkedin {
     color:#007bb6;
}
.color-pinterest {
     color:#cb2027;
}


/*==========================================
   OBJECTIVE / PORTFOLIO STYLES
=====================================================*/


.divider1 {
    background-image: url('../assets/obj_bg.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.textdivider h1 {
    padding-top: 40px;
    color: white;
    font-size: 40px;
}

.textdivider p {
    color: white;
    font-size: 20px;
}

.section-divider {
    z-index: 999;
    width: 100%;
    display: block;
    max-height: 450px;
    /*border-bottom: 2px solid #E6EAED;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 10%;
    padding-bottom: 10%;
    background-position: center center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: relative;    
    text-align: center;
}


/*==========================================
   TAX EFFICIENT INVESTING STYLES
=====================================================*/


.divider4 {
    background-image: url('../assets/taxefficient_bg1.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.textdivider4 h1 {
    padding-top: 130px;
    color: #ffffff;
    font-size: 40px;
}

.textdivider4 p {
    color: #ffffff;
    font-size: 20px;
}

.section-divider4 {
    z-index: 999;
    width: 100%;
    margin: 0px;
    display: block;
    max-height: 450px;
    /*border-bottom: 2px solid #E6EAED;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 10%;
    padding-bottom: 10%;
    background-position: center center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: relative;    
    text-align: center;
}

.chart_back {
     background: url(../assets/black.jpg) no-repeat;
}

.table_bot {
    border-bottom-style: solid;
    border-bottom-color: rgb(204, 196, 196);
    background: #f5f5f5;
}
.table_head {
    background: #f5f5f5;
    border-top-style: solid;
    border-top-color: rgb(204, 196, 196);
}

#myModal_investor_details_information .modal-header {
    border-bottom: 0px solid #e5e5e5;
}

#myModal_investor_details_information .panel-default > .panel-heading {
    color: #fff;
    background-color: #15355C;
    border-color: #ddd;
}

.taxeff_chart_ret {
    width: 100%;
    height: 270px; 
}

/*==========================================
   TEAM MEMBER STYLES
 =====================================================*/
#just-middle-row {
    background-color: #15355C;
    color:#fff;
    text-align:center;
}



/*==========================================
  WHAT WE OFFER STYLES
 =====================================================*/

    #offer_list span {
        color: #428bca;
    }

    #offer_list a {
        color: #fff;
    }

    #offer_body ul > li {
        font-size: 12px;
    }

   /* #offer_body h2, h3, h4, h5 {
        text-transform:capitalize;
        font-variant:small-caps;
    }*/


.divider2 {
    background: #E8F1FA;
    background-repeat: repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.textdivider2 h3 {
    /*padding-top: 40px;*/
    /*color: white;*/
    /*font-size: 40px;*/
}

.textdivider2 p {
    /*color: white;*/
    /*font-size: 20px;*/
}

.section-divider2 {
    z-index: 999;
    width: 100%;
    display: block;
    /*max-height: 450px;*/
    /*border-bottom: 2px solid #E6EAED;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    /*padding-top: 10%;
    padding-bottom: 10%*/;
    background-position: center center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: relative;    
    text-align: center;
}

.divider3 {
    background: #EEDBCA;
    background-repeat: repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

/*==========================================
   NEW FUNDS STYLES
=====================================================*/

#button_funds button.btn:focus
{
    background: #1c4474;
}

/*==========================================
   INVEST STYLES
    =====================================================*/
.divider6 {
    background-image: url('../assets/invest_handshake.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.textdivider6 h1 {
    padding-top: 40px;
    color: #2D2A2A;
    font-size: 40px;
}

.textdivider6 p {
    color: white;
    font-size: 20px;
}

.section-divider6 {
    z-index: 999;
    width: 100%;
    display: block;
    margin: 0px;
    max-height: 500px;
    /*border-bottom: 2px solid #E6EAED;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 25%;
    padding-bottom: 10%;
    background-position: center center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: relative;    
    text-align: center;
}


.invest-item {
    border:2px solid #565AB1;
    margin:3px;
}
    .invest-item p {
        padding:10px;
    }
.invest-item h5 {
    text-align:center;
    background-color: #565AB1;
    color:#fff;padding:10px 15px 10px 15px; 
}
.invest-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
    width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(255, 169, 89, 1);
  text-align: center;
  vertical-align: middle;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
  cursor:pointer;
  -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;

}
.invest-item .overlay .preview {
  position: relative;
  top: 50%;
  display: inline-block;
  margin-top: -20px;
}
.invest-item:hover .overlay {
  opacity: 1;
  zoom: 1;
    filter: alpha(opacity=100);
}
.overlay a,overlay a:hover{
    color:#fff;
    text-decoration:none;
}

.set-hover-invest {
    opacity: 1!important;
  zoom: 1!important;
    filter: alpha(opacity=100)!important;
}

#id_modal_row .row {
  margin-left: -37px;
}

/*==========================================
  TOP PERFORMING FUNDS
 =====================================================*/

.tooltip_chart {
    background-color: #f5f5f5;
    padding:10px;
    color:grey;
    line-height: 1.7em;
}
    .tooltip_chart h3 {
         color:#AF9BFF;
    }
    .tooltip_chart small {
        color:#ff6a00;
    }
#top_funds_chart .panel-heading {
    background: url(../assets/black.jpg) no-repeat;
}

.topfund_chart {
    width: 800px;
    height: 400px;
}

/*==========================================
RISK PROFILING
=====================================================*/

.risk_chart {
    height: 270px;
    width: 100%;   
}

/*==========================================
RISK PROFILING
=====================================================*/

.return_chart {
    height: 270px;
    width: 100%;   
}


/*==========================================
RETURN ASSUMPTION
=====================================================*/

.assump_large {
     background: url(../assets/tools/large.png) no-repeat;
}


/*==========================================
CONTACT STYLES
=====================================================*/

.cnt {
width: 100%;
min-height: 350px;
border: 1px solid #e1e1e1;
}

.divider5 {
    background-image: url('../assets/contact2.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.textdivider5 h3 {   
    color: #000000;    
}

.textdivider5 p {
    color: #000000;
}
.textdivider5 span {
    color: #000000;
}
.textdivider5 a {
    color: #000000;
}

.section-divider5 {
    z-index: 999;
    width: 100%;
    display: block;
    max-height: 450px;
    /*border-bottom: 2px solid #E6EAED;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding-top: 2%;
    padding-bottom: 20%;
    background-position: center center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: relative;    
    
}


 
 /*==========================================
   PRICING STYLES
    =====================================================*/
 /* SIMPLE TABLE STYLE*/
.price-simple {
    font-size:50px!important;
    padding: 15px 0px;
color: #ff6a00;
border: none;
font-weight: 700;

}

.simple-table:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
        -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor:pointer;
}
 /*OPTION NORMAL STYLE*/

 .normal-table:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
        -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor:pointer;
}
 .plan {
padding: 0 0 15px 0;
margin: 30px 0px;
list-style: none;
text-align: center;
}

.plan li {
padding: 15px 0px;
border-bottom: 1px solid #e1e1e1;
}
    .plan li i {
        padding-right:10px;
    }
.price {
    font-size:30px!important;
    padding: 15px 0px;
background-color: #9d9898;
color: #fff;
border: none;
font-weight: 700;
 -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.adjust-border-radius {
    -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

.adjust-border {
    border-top-left-radius: 0px;
 border-top-right-radius: 0px;
}
 /*PLAN TWO TABLE STYLE*/
.plan-two {
padding: 0 0 15px 0;
margin: 30px 0px;
list-style: none;
text-align: center;
cursor:pointer;
}

.active-plan-price {
    -webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);
cursor:pointer;
}
.plan-two li {
padding: 15px 0px;
font-size: 16px;
border-bottom: 1px dotted #e1e1e1;
}

.round-body {
display: table;
width: 135px;
height: 135px;
margin: 0 auto 14px auto;
border: 3px solid #ff6a00;
border-radius: 100%;
}
.price-main {
    color:#ff6a00;
display: table-cell;
font-size: 28px;
font-weight: bold;
text-transform: uppercase;
vertical-align: middle;
}
.price-Unit {
display: block;
}

.price-main small {
    font-size:10px!important;
    font-weight:normal;
}

/*=====================================
 BLOG HOME
    ===================================*/
.custom-blog {
    padding:20px;
}
.custom-blog p {
    padding:25px 25px 25px 0px;
    text-align:justify;
}
.custom-blog h2 {
    padding:10px 10px 10px 0px;
    text-transform:uppercase;
    text-align:center;
}
.custom-blog a {
    margin:3px;
}
/*=====================================
 BLOG SINGLE
    ===================================*/
.facebook-div {
    border: none;
     overflow: hidden; 
     width: 235px;
      height: 258px;
      padding-top:50px;
}
.blog-single a{
    margin:15px 3px 15px 0px;

}
.panel-title-adjust{
font-size: 14px;
padding: 1px;
}

    .panel-title-adjust a:hover {
        text-decoration:none;
    }
.panel-title-adjust i {
        padding-right:5px;
    }

.blog-comments h2 {
    padding-bottom:50px;
}



/* For Chart's Position*/
/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: block;     /* undo display:none          */
    height: 0;          /* height:0 is also invisible */ 
    overflow-x: hidden;
    overflow-y: hidden; /* no-overflow                */
}
.tab-content > .active,
.pill-content > .active {
    height: auto;       /* let the content decide it  */
}   
/* bootstrap hack end  */



#o_fd::before, #o_bd::before, #o_nd::before, #o_md::before, #o_eq::before, #o_dt::before { 
  content: "";
  display: inline-block;
  height: 185px;
  margin-top: -185px;

  /*-webkit-height-start: 185px;*/ /* fixed header height*/
  /*-webkit-margin-start: -185px 0 0;*/ /* negative fixed header height */
  /*-moz-height-end: 185px;
  -moz-margin-end: -185px 0 0;*/
}

#o_mfe::before, #o_mfd::before, #o_mfh::before, #o_mft::before { 
  content: "";
  display: inline-block;
  height: 185px;
  margin-top: -185px;
}

#testi::before {
  content: "";
  display: inline-block;
  height: 53px; /* fixed header height*/
  margin: -53px 0 0; /* negative fixed header height */
}


/*=====================================
   Media Queries
  ===================================*/

/*  -----Home Media Queries-----  */
            /*carousel*/
@media screen and (min-width: 768px) and (max-width: 991px)  {
    #main-slider .pad-bot {
        padding-bottom: 5em;
    }
}

@media screen and (min-width: 701px) and (max-width: 767px)  {
    #main-slider .pad-bot {
        padding-bottom: 20em;
    }
}

@media screen and (min-width: 551px) and (max-width: 700px)  {
    #main-slider .pad-bot {
        padding-bottom: 15em;
    }
}

@media screen and (min-width: 450px) and (max-width: 500px)  {
    #main-slider .pad-bot {
        padding-bottom: 7em;
    }

  /*.carousel-inner > .item > img {
    min-height: 22em;
  }*/
}

@media screen and (min-width: 385px) and (max-width: 449px)  {
    #main-slider .pad-bot {
        padding-bottom: 5em;
    }
}

@media screen and (max-width: 384px) {
    #main-slider .pad-bot {
        padding-bottom: 2em;
    }
}

@media screen and (min-width: 500px) and (max-width: 768px)  {
    #main-slider .fa-3x {
        font-size: 2em;
    }
}

@media screen and (max-width: 499px)  {
    #main-slider .fa-3x {
        font-size: 1em;
    }
}

@media screen and (max-width: 768px) {
.slide2_cap {
color: #566581;
    }
}

/*Why RupeeVest*/
@media screen and (max-width: 991px) {
    .text_cen {
        text-align: center;
    }
}

/*Testimonial*/
@media screen and (min-width: 992px) and (max-width: 1199px)  {
    #testimonials .carousel-indicators {
        bottom: -30px;
    }
}

@media screen and (min-width: 450px) and (max-width: 520px)  {
    #testimon {
        margin-top: -1em;
    }
}

@media screen and (min-width: 420px) and (max-width: 449px)  {
    #testimon {
        margin-top: -1em;
    }
    #testimon h4 {
        margin-top: -1em;
    }
}

@media screen and (max-width: 420px)  {
    #testimon {
        margin-top: -2em;
    }
    #testimon h4 {
        margin-top: -1em;
    }
    #testimonials .carousel-indicators {
        bottom: -35px;
    }
}

/*Subscribe*/
@media screen and (max-width: 767px) {
    .sub_width {
        width: 260px;
    }
}





/*  -----Navbar Media Queries-----  */

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .navbar-nav, 
  .navbar-nav > li > ul > li, 
  .navbar-nav > li > ul > li > ul > li {
   font-size: 11px;
  }
}

/*  -----Invest Page Media Queries-----  */
@media screen and (min-width: 1101px) and (max-width: 1250px) {
.textdivider6 h1 {
    padding-top: 2.5em;
  }
}

@media screen and (min-width: 992px) and (max-width: 1100px) {
.textdivider6 h1 {
    padding-top: 3.5em;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
.textdivider6 h1 {
    padding-top: 4.5em;
  }
}

@media screen and (min-width: 561px) and (max-width: 660px) {
.textdivider6 h1 {
    padding-top: 2em;
  }
}

@media screen and (min-width: 401px) and (max-width: 560px) {
.textdivider6 h1 {
    padding-top: 4em;
  }
}

@media screen and (max-width: 400px) {
.textdivider6 h1 {
    padding-top: 5em;
  }
}

@media screen and (max-width: 767px) {
.section-divider6 {
    padding-top: 50%;
 }
}

/*  -----Image of Contact Page Media Queries-----  */
@media screen and (max-width: 767px) {
.section-divider5 {
    max-height: 735px;
  }
}



